{% set title = " Варочная стеклокерамическая панель HiLight Asko HC1643G " %}
{% set description = "Газовая варочная панель на стеклокерамике HG1825AB на 80 сантиметров, одна из самый популярных моделей с ВОК конфорками." %}

{% set urlCurrent = "product" %}
{% set ogType = "product" %}
{% set ogImage = "img/product/img@1x.png" %}

{% extends "template/base.html" %}

{% block content %}

	<article class="product center">

		<script type="application/ld+json">

			{
				"@context": "https://schema.org",
				"@type": "Product",
				"name": "{{ title }}",
				"description": "{{ description }}",
				"image": "{{ url }}{{ ogImage }}",
				"url": "{{ url }}{{ urlCurrent }}",
				"brand": "jacky`s",
				"sku": "id",
				"offers": {
					"@type": "Offer",
					"price": "258000",
					"priceValidUntil": "2019-03-03",
					"availability": "https://schema.org/InStock",
					"priceCurrency": "RUB",
					"url": "{{ url }}{{ urlCurrent }}"
				}

			}

		</script>

		<div class="order-2">

			<h1 class="h2">
				{{ title }}
			</h1>

			<div class="product__primary">

				<div class="product__desc">

					<p class="product__text">
						{{ description }}
					</p>

					<div class="product__price">
						Цена:
						<span class="product__price-value">258 000 ₽</span>
					</div>

					<div class="product__available available">
						<span class="available__pref">Москва</span>
						<span class="available__value">В наличии</span>
					</div>

					<div class="product__available available available--unavailable">
						<span class="available__pref">Санкт-Петербург</span>
						<span class="available__value">Нет в наличии</span>
					</div>

					<form action="/zakaz/" class="product__cart">
						<button class="btn">Купить</button>
						<button class="btn btn--link" data-modal="order">Заказать в 1 клик</button>
					</form>

					<dl class="product__delivery">
						<dt>
							Доставка:
						</dt>
						<dd>
							<b>бесплатная доставка + бесплатная установка*</b>
						</dd>
						<dt>
							Способы оплаты:
						</dt>
						<dd>
							наличный и безналичный расчет, ONLINE кредитной картой
						</dd>
					</dl>

				</div>

				<div class="product__img">

					<a class="product__img-big gallery" href="/img/product/img@big.jpg">

						<picture>

							<source srcset="/img/product/img@1x.webp 1x, /img/product/img@2x.webp 2x" type="image/webp">

							<source srcset="/img/product/img@1x.png 1x, /img/product/img@2x.png 2x">

							<img src="/img/product/img@1x.png" alt="{{ title }}">

						</picture>

					</a>

					<div class="product__img-small">

						<ul class="product__img-list">
							<li>
								<a href="/img/product/img@big.jpg">
									<picture>
										<source srcset="/img/product/img@1x.webp 1x, /img/product/img@2x.webp 2x" type="image/webp">
										<source srcset="/img/product/img@1x.png 1x, /img/product/img@2x.png 2x">
										<img src="/img/product/img@1x.png" alt="{{ title }}">
									</picture>
								</a>
							</li>
							<li>
								<a href="/img/product/download.jpg">
									<picture>
										<source srcset="/img/product/img@1x.webp 1x, /img/product/img@2x.webp 2x" type="image/webp">
										<source srcset="/img/product/img@1x.png 1x, /img/product/img@2x.png 2x">
										<img src="/img/product/img@1x.png" alt="{{ title }}">
									</picture>
								</a>
							</li>
						</ul>

					</div>

				</div>

			</div>

		</div>

		<div class="order-3">

			<div class="tabs border">

				<section class="tabs__item">

					<h2 class="tabs__btn">
						Описание
					</h2>


					1

				</section>

				<section class="tabs__item">

					<h2 class="tabs__btn">
						Характеристики
					</h2>

					2

				</section>

				<section class="tabs__item">

					<h2 class="tabs__btn">
						Файлы для скачивания
					</h2>

					3

				</section>

			</div>

			<hr class="product__hr">

		</div>

		<div class="order-1">

{% set breadcrumbs = ['ASKO','Техника для кухни','Варочные панели','Газовые панели',title] %}

{% include "_include/breadcrumbs.html" %}

		</div>

		<div class="order-10">

			<a href="/" class="link">Вернуться к разделу Газовые панели</a>

		</div>

	</article>

{% endblock %}