{% set title = "Варочная стеклокерамическая панель HiLight Asko HC1643G" %}
{% set description = "Газовая варочная панель на стеклокерамике HG1825AB на 80 сантиметров, одна из самый популярных моделей с ВОК конфорками." %}

{% set urlCurrent = "product" %}
{% set ogType = "product" %}
{% set ogImage = "img/product/img@1x.png" %}

{% extends "template/base.html" %}

{% block content %}

	<article class="flexcolumn product center mb20">

		<script type="application/ld+json">

			{
				"@context": "https://schema.org",
				"@type": "Product",
				"name": "{{ title }}",
				"description": "{{ description }}",
				"image": "{{ url }}/{{ ogImage }}",
				"url": "{{ url }}/{{ urlCurrent }}",
				"brand": "asko",
				"sku": "id",
				"gtin13": "глобальный идентификатор товара, например код ISBN, MPN или GTIN8",
				"offers": {
					"@type": "Offer",
					"price": "258000",
					"priceValidUntil": "2019-03-03",
					"availability": "https://schema.org/InStock",
					"priceCurrency": "RUB",
					"url": "{{ url }}/{{ urlCurrent }}"
				},
				"aggregateRating": {
					"@type": "AggregateRating",
					"worstRating": "1",
					"bestRating" : "5",
					"ratingValue": "4.7",
					"reviewCount": "2"
				},
				"review": [
					{
						"@type": "Review",
						"author": "Макс Д.",
						"description": "Хорошие ценники, техники предостаточно, большая официальная гарантия и сервис отработан до самых мелочей. Стиральная машина куплена, прошло все ровно и теперь можно нацеливаться на покупку уже сушилки, причем и модель прямо здесь же выбрали.",
						"reviewRating": {
							"@type": "Rating",
							"worstRating": "1",
							"bestRating" : "5",
							"ratingValue": "5"
						}
					},
					{
						"@type": "Review",
						"author": "Алексей",
						"description": "Быстрая обработка заказа и доставк Согласовали окно доставки заранее",
						"reviewRating": {
							"@type": "Rating",
							"worstRating": "1",
							"bestRating" : "5",
							"ratingValue": "4"
						}
					}
				]

			}

		</script>

		<div class="order-2">

			<h1 class="product__title h2">
				{{ title }}
			</h1>

			<div class="product__primary">

				<div class="product__desc">

					<p class="product__text">
						{{ description }}
					</p>

					<div class="product__price">
						Цена:
						<span class="product__price-value">258 000</span>
						<span class="rub">₽</span>
					</div>

					<div class="product__available">

						<div class="available">

							<div class="available__item">
								<span class="available__pref">Москва</span>
								<span class="available__value">В наличии</span>
							</div>

							<div class="available__item">
								<span class="available__pref">Санкт-Петербург</span>
								<span class="available__value available__value--unavailable">Нет в наличии</span>
							</div>

						</div>

					</div>

					<form action="/zakaz/" class="product__cart">

						<input type="hidden" name="product" value="123456789">
						<input type="hidden" name="product-name" value="HiLight Asko HC1643G">
						<input type="hidden" name="buy" value="1">

						<button class="btn product-in-cart" data-delete="Удалить" data-buy="Купить">
							Купить
						</button>

					</form>

					<dl class="product__delivery">
						<dt>
							Доставка:
						</dt>
						<dd>
							<b>бесплатная доставка + бесплатная установка*</b>
						</dd>
						<dt>
							Способы оплаты:
						</dt>
						<dd>
							наличный и безналичный расчет, ONLINE кредитной картой
						</dd>
					</dl>

				</div>

				<div class="product__img">

					<a class="product__img-big fancybox-gallery hidden-sm" href="/img/product/img@big.jpg" data-fancybox-index="0">

<!--

img@1x.png
ширина не более 300px
высота не более 300px

 -->
						<picture>

							<source srcset="/img/product/img@1x.webp 1x, /img/product/img@2x.webp 2x" type="image/webp">

							<source srcset="/img/product/img@1x.png 1x, /img/product/img@2x.png 2x">

							<img src="/img/product/img@1x.png" alt="{{ title }}">

						</picture>

					</a>

<!--
1. если фото одно, то блок .product__img-small не выводить


img@1x.png
ширина не более 90px
высота не более 90px

 -->

					<div class="product__img-small">

						<script>

							var ASKO = ASKO || {};

							ASKO.gallery = [
								{
									src : '/img/product/download.jpg'
								},
								{
									src : '/img/product/download.jpg'
								},
								{
									src : '/img/product/img@big.jpg'
								},
								{
									src : '/img/product/download.jpg'
								}
							]

	/* тут указываем пути к большим фотографиям галереи */

						</script>

						<div class="swiper-container swiper-container--product">

							<ul class="notsel swiper-wrapper">
								<li class="swiper-slide">
									<a href="/img/product/download.jpg" class="fancybox-gallery" data-fancybox-index="0">
										<picture>
											<source srcset="/img/product/img--350@1x.webp 1x, /img/product/img--350@2x.webp 2x" type="image/webp" media="(max-width: 767px)">
											<source srcset="/img/product/img--90@1x.webp 1x, /img/product/img--90@2x.webp 2x" type="image/webp">
											<source srcset="/img/product/img--350@1x.png 1x, /img/product/img--350@2x.png 2x" media="(max-width: 767px)">
											<source srcset="/img/product/img--90@1x.png 1x, /img/product/img--90@2x.png 2x">
											<img src="/img/product/img--90@1x.png" alt="{{ title }}">
										</picture>
									</a>
								</li>
								<li class="swiper-slide">
									<a href="/img/product/download.jpg" class="fancybox-gallery" data-fancybox-index="1">
										<picture>
											<source srcset="/img/product/img--350@1x.webp 1x, /img/product/img--350@2x.webp 2x" type="image/webp" media="(max-width: 767px)">
											<source srcset="/img/product/img--90@1x.webp 1x, /img/product/img--90@2x.webp 2x" type="image/webp">
											<source srcset="/img/product/img--350@1x.png 1x, /img/product/img--350@2x.png 2x" media="(max-width: 767px)">
											<source srcset="/img/product/img--90@1x.png 1x, /img/product/img--90@2x.png 2x">
											<img src="/img/product/img--90@1x.png" alt="{{ title }}">
										</picture>
									</a>
								</li>
								<li class="swiper-slide">
									<a href="/img/product/img@big.jpg" class="fancybox-gallery" data-fancybox-index="2">
										<picture>
											<source srcset="/img/product/img--350@1x.webp 1x, /img/product/img--350@2x.webp 2x" type="image/webp" media="(max-width: 767px)">
											<source srcset="/img/product/img--90@1x.webp 1x, /img/product/img--90@2x.webp 2x" type="image/webp">
											<source srcset="/img/product/img--350@1x.png 1x, /img/product/img--350@2x.png 2x" media="(max-width: 767px)">
											<source srcset="/img/product/img--90@1x.png 1x, /img/product/img--90@2x.png 2x">
											<img src="/img/product/img--90@1x.png" alt="{{ title }}">
										</picture>
									</a>
								</li>
								<li class="swiper-slide">
									<a href="/img/product/download.jpg" class="fancybox-gallery" data-fancybox-index="3">
										<picture>
											<source srcset="/img/product/img--350@1x.webp 1x, /img/product/img--350@2x.webp 2x" type="image/webp" media="(max-width: 767px)">
											<source srcset="/img/product/img--90@1x.webp 1x, /img/product/img--90@2x.webp 2x" type="image/webp">
											<source srcset="/img/product/img--350@1x.png 1x, /img/product/img--350@2x.png 2x" media="(max-width: 767px)">
											<source srcset="/img/product/img--90@1x.png 1x, /img/product/img--90@2x.png 2x">
											<img src="/img/product/img--90@1x.png" alt="{{ title }}">
										</picture>
									</a>
								</li>
							</ul>

						</div>

					</div>

				</div>

			</div>

		</div>

		<div class="order-3">

			<div class="tabs border">

				<section class="tabs__item">

					<h2 class="tabs__btn">
						Описание
					</h2>

					<h3>Список:</h3>
					<ul>
						<li>Ежедневная</li>
						<li>Стандартная хлопок</li>
						<li>Микс / Синтетика</li>
						<li>Quick Pro</li>
					</ul>

					<h3>Список нумерованый:</h3>
					<ol>
						<li>Ежедневная</li>
						<li>Стандартная хлопок</li>
						<li>Микс / Синтетика</li>
						<li>Quick Pro</li>
					</ol>

					<h3>Ключ - значение:</h3>
					<dl>
						<dt>Расход воды:</dt> <dd>65 литров / нормальная стирка</dd>
						<dt>Уровень шума, стирка/отжим:</dt> <dd>48/73 дБ</dd>
					</dl>

					<h3>Параграф:</h3>
					<p>6-кратная защита от протечек AquaBlockSystem</p>

				</section>

				<section class="tabs__item">

					<h2 class="tabs__btn">
						Характеристики
					</h2>

					<dl class="product__param">
						<dt>Ширина:</dt>
						<dd>594 мм</dd>
						<dt>Цвет:</dt>
						<dd>Черный</dd>
						<dt>Управление панели:</dt>
						<dd>Сенсорное</dd>
						<dt>Тип панели:</dt>
						<dd>HiLight</dd>
						<dt>Число уровней мощности:</dt>
						<dd>9</dd>
						<dt>Количество зон нагрева:</dt>
						<dd>4</dd>
					</dl>

				</section>

				<section class="tabs__item">

					<h2 class="tabs__btn">
						Файлы <span class="hidden-sm">для скачивания</span>
					</h2>

					<a class="link link--pdf" title="Инструкция на варочную панель Asko HG1825AB " href="/pdf/HG1825AB.pdf">
						Инструкция на варочную панель Asko HG1825AB
					</a>

				</section>

				<section class="tabs__item">

					<h2 class="tabs__btn">
						Отзывы <span class="hidden-sm">пользователей</span>
					</h2>

					<div class="review">

						<a class="review__all link" href="https://market.yandex.ru/shop/254003/reviews" target="_blank" rel="nofollow noopener" title="отзывы asko-home.ru">
							Все отзывы на Яндекс.Маркете
						</a>

						<div class="review__list">

							<blockquote class="review__item">

								<cite class="review__author">
									Макс Д.
								</cite>

								<h3 class="review__ratio">
									Отличный магазин
								</h3>

								<p>
									<b>Способ покупки:</b>
									доставка
								</p>

								<p>
									<b>Достоинства: </b>
									Хорошие ценники, техники предостаточно, большая официальная гарантия и сервис отработан до самых мелочей.
								</p>

								<p>
									<b>Комментарий: </b>
									Стиральная машина куплена, прошло все ровно и теперь можно нацеливаться на покупку уже сушилки, причем и модель прямо здесь же выбрали.
								</p>

							</blockquote>

							<blockquote class="review__item">

								<cite class="review__author">
									Мидори
								</cite>

								<h3 class="review__ratio">
									Отличная стиральная стиральная машина
								</h3>

								<h4>
									Достоинства:
								</h4>

								<p>Система с отдельным от корпуса баком реально хороша:</p>

								<ul>
									<li>нет резиновой манжеты, только тонкое кольцо, нет грязи, удобно мыть</li>
									<li>при отжиме корпус машины не трясется, отдельно почти беззвучно вибрирует бак (на пол это не передается)</li>
									<li>отжим тише самой стирки, в реальности это негромкий свист</li>
									<li>1400 оборотов отжимают прекрасно, например постельное белье после этого высыхает за два-три часа само</li>
									<li>хорошо защелкивается люк - понятно закрыт он или нет</li>
									<li>есть опции по увеличению количества воды при стирке</li>
									<li>реально крутой режим самоочистки барабана (для устранения неприятных запахов и т.п.)</li>
									<li>разборные лопасти барабана (можно вынимать нечто вроде косточек от лифчика, если вдруг попадет в бак)</li>
								</ul>

								<h4>
									Недостатки:
								</h4>

								<ul>
									<li>красивый, но чрезмерно яркий жк-дисплей (минимальная яркость избыточно высокая, в темноте он просто освещает помещение вокруг).</li>
									<li>нет отдельной опции дополнительного полоскания (приходится мудрить с опциями большего количества воды при стирке)</li>
									<li>удобство управления слегка хромает (терпимо) - после электролюкса очень много лишних движений, утвердительных нажатий ok и т.п.</li>
									<li>шланг слива без всяких аквастопов из сшитого полиэтилена и слегка коротковат (вроде 1,5 метра)</li>
								</ul>

								<h4>
									Комментарий:
								</h4>

								<p>Машина в плане опций простая, но все нужное есть. Тишину при отжиме дает то, что при всем цикле стирки нет выделяющихся громких режимов - стирка, слив, отжим имеют примерно одинаковый уровень громкости. Т.е. машина не тихая, но откровенно громких моментов во всем цикле стирки просто нет. Сделано с виду добротно по современным меркам, посмотрим на срок службы.</p>

							</blockquote>

						</div>

					</div>

				</section>

			</div>

			<hr class="product__hr">

		</div>

		<div class="order-1">

{% set breadcrumbs = ['ASKO','Техника для кухни','Варочные панели','Газовые панели',title] %}

{% include "_include/breadcrumbs.html" %}

		</div>

		<div class="order-10">

			<div class="product__back-catalog">

				Вернуться к разделу &laquo; <a href="/" class="link">Газовые панели</a>

			</div>

		</div>

	</article>

{% endblock %}