
/* catalog
-----------------------------------------------------------------------------*/
.catalog {
	padding:38px 0;
}
.catalog article{
	padding-bottom: 14px;
}
.catalog .img{
	width: 430px;
	float: left;
}
.catalog .text{
	width: 500px;
	float: right;
}
.catalog .text p{
	line-height: 20px;
	padding-bottom:24px;
}


/* filter
-----------------------------------------------------------------------------*/
.border {
	position: relative;
	padding: 20px 0 20px 36px;
	border-radius: 5px;
	border: 1px solid #fff;
	box-shadow: 1px 1px 1px rgba(0,0,0,.12), inset 1px 1px 1px rgba(0,0,0,.12);
	margin-bottom:12px;
}
.filter {
	color: #333
}
.filter li{
	float: left;
	width: 420px;
	padding-top: 10px;
}
.filter li:nth-child(2n+1){
	clear: left;
	padding-right:36px;
}
.filter .radio_type{
	display: inline-block;
	line-height: 30px;
	vertical-align: top
}
.filter h4 {
	font-size: 18px;
	font-weight: normal;
}
.from-to {
	float: left;
	width: 450px;
	padding-bottom: 12px;
}
.from-to label{
	line-height: 38px;
}
.from-to h4{
	float: left;
	min-width: 74px;
	padding-right:16px;
}
.from-to .input{
	width: 107px;
	margin-left: 10px;
	height: 34px;
	padding-bottom: 3px;
	color: #333;
	padding:0 14px;
	background: url(../images/sprite.png) -118px -152px;
}
.slider-range {
	padding-top:8px;
}
.slider-range span {
	vertical-align: top;
	line-height: 28px;
	display: inline-block;
	font-size: 16px;
}
.slider-range .rang{
	margin: 10px 20px;
	height: 8px;
	width: 200px;
}
.slider-range .rang:before{
	content: '';
	position: absolute;
	top: 0;
	left: -7px;
	height: 8px;
	right:-7px;
	border-radius: 5px;
	box-shadow: inset 2px 1px 2px rgba(0,0,0,.13), 1px 1px 0 #fff;
	background: #dedede
}
.slider-range .ui-slider-handle{
	width: 20px;
	height:20px;
	margin: -5px -9px;
	background: url(../images/sprite.png) -58px -24px;
}
.slider-range .ui-slider-range {
	height:13px;
	margin-top: -2px;
	background: url(../images/rang.png) fixed
}

.radio_box {
	padding-bottom: 12px;
}
.radio_box h4{
	padding:8px 0
}
.radio_type {
	cursor: pointer;
	padding-left: 30px;
	margin-right: 20px;
	position: relative;
	color: #343434
}
.radio_type input{
	display: none;
}
.radio_type i{
	position: absolute;
	top: 50%;
	left: -1px;
	width: 24px;
	height: 24px;
	margin-top: -11px;
	background: url(../images/sprite.png) -29px -24px;
}
.radio_type.radio.active i{
	background-position: 0 -24px;
}
.radio_type.active i{
	background-position:-207px -24px;
}

.checkbox_color {
	float: left;
	padding-left:28px;
	padding-bottom: 12px;
}
.checkbox_color label{
	margin-right: 10px;
	padding: 0;
	float: left;
}
.checkbox_color label.active img{
	outline: 1px solid #ce1a36
}
.checkbox_color label i {
	display: none;
}
.checkbox_color label input {
	width: 38px;
	height: 38px;
	position: absolute;
	top: 0;
	left: 0;
}

.filter .form_reset{
	float: right;
	color: #474343;
	margin:8px 6px 0 20px;
	line-height: 20px;
	cursor: pointer;
	font-size: 18px;
	border-bottom: 1px solid #474343
}
.filter .form_reset:hover {
	border-color:transparent;
}


.box_sh {
	position: relative;
	display: inline-block;
}
.box_sh:after{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	content: '';
	box-shadow: 1px 1px 1px rgba(0,0,0,.21) inset, 1px 1px 0 #fff
}
.box_sh .text{
	position: absolute;
	bottom: 0;
	left: 0;
	padding:8px 20px 16px;
	color: #fff;
	background: rgba(0,0,0,.5)
}
.box_sh .text h3{
	font-weight: normal;
	font-size: 24px;
	line-height: 28px;
	padding-bottom: 8px;
}
.box_sh .text p{
	font-size: 14px;
	line-height: 16px;
}
.links_related .box_sh {
	margin: 14px 0 36px;
}

article.article_cat {
	padding: 0;
	box-shadow:inset 0 1px 0 #fff;
	border-top: 1px solid #d4d4d4
}
.article_cat h2 {
	font-size: 26px;
	padding:30px 0 22px;
	text-transform: none;
}
.article_cat p {
	line-height: 18px;
	padding-bottom: 18px;
}

.available {
	color: #ce1a36;
	line-height: 22px;
	padding:14px 0 18px;
}
.available:before {
	content: '';
	position: relative;
	width: 28px;
	height: 22px;
	margin-right:7px;
	float: left;
	background: url(../images/sprite.png) -175px -24px
}
.available.not {
	color: #898989;
}
.available.not:before {
	background-position: -148px -24px
}

/* article
-----------------------------------------------------------------------------*/
.article {
	padding:35px 0;
	color: #313131;
	line-height:20px;
}
.article article{
	padding-bottom: 14px;
	margin-bottom: 14px;
	border-bottom: 1px solid #d4d4d4;
	box-shadow: 0 1px 0 #fff
}
.article p{
	padding-bottom: 13px;
}
.article dd{
	overflow: hidden;
	padding-bottom: 11px;
}
.article h2{
	font-size: 20px;
	line-height: 24px;
	padding:0 0 8px;
	text-transform: none;
	color: #d60428
}
.article .img{
	float: left;
	margin:4px 23px 18px 0;
}




.accessories {
	padding:30px 0;
	box-shadow:inset 0 1px 0 #fff;
	border-top: 1px solid #d4d4d4;
}
.accessories p{
	padding-left: 26px;
	padding-bottom:6px;
	font-size: 18px;
	color: #343434
}
.accessories p b{
	font-weight: normal;
	font-size: 24px;
}
.accessories .box{
	overflow: hidden;
	height: 280px;
	margin: 0 58px
}
.accessories.not_list .box{
	margin-left: 26px;
}
.accessories.not_list .nextprev{
	display: none;
}
.accessories .title{
	height:36px;
	display: block;
	padding:2px 0 10px;
}
.accessories .title span{
	color: #343434;
	font-size: 15px;
	line-height:18px;
	vertical-align: bottom;
	display: table-cell;
	width: 182px;
	height:36px;
}
.accessories a{
	text-decoration: none;
}
.accessories .price{
	display: block;
	color: #000;
	padding-top: 6px;
}
.accessories .price span{
	font-size: 18px;
}
.accessories li{
	float: left;
	width: 182px;
	margin-bottom: 50px;
	text-align: center;
	margin-right: 32px;
}
.accessories .img{
	display:table-cell;
	vertical-align: middle;
	width: 182px;
	position: relative;
	height: 156px
}
.accessories img{
	max-width: 182px;
	max-height: 156px
}
.accessories .button{
	background-position: -150px -237px;
	height: 28px;
	padding-bottom: 2px;
	width: 103px;
	font-size: 15px;
	font-weight: bold;
	margin: 8px auto;
	text-transform: capitalize;
}
.accessories .nav_left,
.accessories .nav_right{
	margin-top: -30px;
	left:0;
	background-position:-124px -112px
}
.accessories .nav_right{
	right:0;
	background-position:-164px -112px
}

.product .readmore {
	margin-left: 26px;
}
