{% set title = "Техника для кухни Asko. Купить   Asko." %}
{% set description = "ASKO предлагает полную линейку оборудования для кухни, отвечающую высоким требованиям дизайна, функциональности, надежности, также как и экологическим стандартам." %}

{% set urlCurrent = "catalog" %}
{% set ogType = "product" %}
{% set ogImage = "" %}

{% extends "template/base.html" %}

{% block content %}

{% include "_include/billboard.html" %}

{% set breadcrumbs = ['Главная','Каталог','Техника для кухни'] %}

{% include "_include/breadcrumbs.html" %}

	<article class="catalog-desc">

		<div class="center">

			<div class="catalog-desc__text">

				<h1 class="h1">
					Техника для кухни ASKO
				</h1>

				<p>
					Кухня - это место, где мы обычно начинаем и заканчиваем свой день. Это место, где мы собираемся всей семьей на завтрак, обед или ужин. Где встречаемся с соседями, просто получаем удовольствие от еды и от общения друг с другом. Ассортимент Техники для кухни ASKO - это не просто технические продукты, а очень красивая техника. Все они созданы, чтобы соответствовать Вашему представлению об идеальной кухне. Но в этом Вам нужно убедиться лично!
				</p>

				<a href="" class="link">Нажмите здесь, чтобы узнать больше</a>

			</div>

			<picture>

				<source srcset="/img/catalog/desc@1x.webp 1x, /img/catalog/desc@2x.webp 2x" type="image/webp">

				<source srcset="/img/catalog/desc@1x.png 1x, /img/catalog/desc@2x.png 2x">

				<img src="/img/catalog/desc@1x.png" alt="Техника для кухни ASKO">

			</picture>

		</div>

	</article>

{% endblock %}