{% set title = "Техника для кухни Asko. Купить Asko." %}
{% set description = "ASKO предлагает полную линейку оборудования для кухни, отвечающую высоким требованиям дизайна, функциональности, надежности, также как и экологическим стандартам." %}

{% set urlCurrent = "catalog" %}
{% set ogType = "product" %}
{% set ogImage = "" %}

{% extends "template/base.html" %}

{% block content %}

	<div class="flexcolumn catalog center mb20">

		<div class="order-2 hidden-md">

			<article class="catalog-desc mb20">

				<div class="catalog-desc__text">

					<h1 class="h1">
						Техника для кухни ASKO
					</h1>

					<p>
						Кухня - это место, где мы обычно начинаем и заканчиваем свой день. Это место, где мы собираемся всей семьей на завтрак, обед или ужин. Где встречаемся с соседями, просто получаем удовольствие от еды и от общения друг с другом. Ассортимент Техники для кухни ASKO - это не просто технические продукты, а очень красивая техника. Все они созданы, чтобы соответствовать Вашему представлению об идеальной кухне. Но в этом Вам нужно убедиться лично!
					</p>

					<div class="text-hidden" data-btn="Нажмите здесь, чтобы узнать больше">

						<div class="text-hidden__inner">

							<p>
								Кухня - это место, где мы обычно начинаем и заканчиваем свой день. Это место, где мы собираемся всей семьей на завтрак, обед или ужин. Где встречаемся с соседями, просто получаем удовольствие от еды и от общения друг с другом. Ассортимент Техники для кухни ASKO - это не просто технические продукты, а очень красивая техника. Все они созданы, чтобы соответствовать Вашему представлению об идеальной кухне. Но в этом Вам нужно убедиться лично!
							</p>

						</div>

					</div>

				</div>

				<div class="catalog-desc__img">

					<picture>

						<source srcset="/img/catalog/desc@1x.webp 1x, /img/catalog/desc@2x.webp 2x" type="image/webp">

						<source srcset="/img/catalog/desc@1x.png 1x, /img/catalog/desc@2x.png 2x">

						<img src="/img/catalog/desc@1x.png" loading="lazy" alt="Техника для кухни ASKO">

					</picture>

				</div>

			</article>

		</div>

		<div class="order-6 hidden-md">

			<article class="infoblock" id="infoblock">

				<h2>
					Техника для кухни Asko
				</h2>

				<a href="/pdf/katalog_kitchen_2014.pdf" target="_blank">
					<img src="/img/catalog/katalog_kitchen_2014@1x.png" srcset="/img/catalog/katalog_kitchen_2014@2x.png 2x" alt="Каталог техники для кухни ASKO" class="infoblock__img-left" loading="lazy">
				</a>

				<p>
					В ассортименте Техники для кухни ASKO представлены современные посудомоечные машины, духовые шкафы, варочные панели, кофемашины и вытяжки.
				</p>

				<p>
					ASKO предлагает полную линейку оборудования для кухни, отвечающую высоким требованиям дизайна, функциональности, надежности, также как и экологическим стандартам. Они моют чище, готовят лучше и служат дольше. Вся Техника для кухни - посудомоечные машины, вытяжки, варочные панели, кофемашины и духовые шкафы - отлично сочетаются друг с другом и будут хорошо смотреться на Вашей кухне, вне зависимости от того сколько ремонтов Вы сделали. Ценность скандинавского дизайна - минимализм, который будет жить с Вами и вне времени.
				</p>

			</article>

		</div>

		<div class="order-4">

			<section class="flexcolumn catalog-list mb20">

				<article class="catalog-list__item">

					<div class="catalog-list__img">

						<a href="/catalog/product/">

							<picture>

								<source srcset="https://asko-home.ru/pic/250x250/asko-xx-akhmadullina.webp 1x, https://asko-home.ru/pic/500x500/asko-xx-akhmadullina.webp 2x" type="image/webp">

								<source srcset="https://asko-home.ru/pic/250x250/asko-xx-akhmadullina.jpg 1x, https://asko-home.ru/pic/500x500/asko-xx-akhmadullina.jpg 2x">

								<img src="https://asko-home.ru/pic/250x250/asko-xx-akhmadullina.jpg" alt="Asko Asko by ALENA AKHMADULLINA: эксклюзивная прачечная из 4 единиц техники " loading="lazy">

							</picture>

						</a>

					</div>

					<div class="catalog-list__body">

						<h3 class="catalog-list__title">
							<a href="/catalog/product/">
								Asko by ALENA AKHMADULLINA: эксклюзивная прачечная из 4 единиц техники
							</a>
						</h3>

						<div class="catalog-list__desc">

							<div class="catalog-list__desc-left">

								<div class="catalog-list__param">

									<p>
										Эксклюзивная коллекция ASKO x ALENA AKHMADULLINA состоит из 4 единиц техники (сушильный шкаф, стиральная и сушильная машина и Hidden Helpers).
									</p>

									<p>
										Стоимость РРЦ зависит от комплектации и цветового решения. Для расчета проекта присылайте запрос на почту или звоните на телефон.
									</p>

									<p>
										Срок изготовления примерно 3 недели.
									</p>

								</div>

							</div>

							<div class="catalog-list__desc-right">

								<p class="catalog-list__price">

									<span class="catalog-list__price-value">

										от 390 000

										<span class="rub">
											₽
										</span>

									</span>

								</p>

								<div class="catalog-list__desc-right-foot">

									<form action="/zakaz/" class="catalog-list__cart" data-buy="товар в корзине">

										<input type="hidden" name="product" value="123456789">
										<input type="hidden" name="product-name" value="HiLight Asko HC1643G">
										<input type="hidden" name="mode" value="add">

										<div class="catalog-list__btn">

											<button class="btn product-in-cart" data-delete="Удалить" data-buy="Заказать">
												Заказать
											</button>

										</div>

									</form>

								</div>

							</div>

						</div>

					</div>

				</article>

{% include "catalog/catalog-item.html" %}
{% set unavailable = "под заказ от 2-х дней" %}
{% include "catalog/catalog-item.html" %}
{% set unavailable = "Нет в наличии" %}
{% include "catalog/catalog-item.html" %}

			</section>

		</div>

		<div class="order-7">

{% include "catalog/youtube.html" %}

		</div>

		<div class="order-1">

{% include "_include/category.html" %}

{% set breadcrumbs = ['Главная','Каталог','Техника для кухни'] %}

{% include "_include/breadcrumbs.html" %}

		</div>

		<div class="order-3">

{% include "_include/filter.html" %}

		</div>

		<div class="order-5 hidden-md">

			<hr class="catalog__hr">

{% include "_include/related-links.html" %}

			<hr class="catalog__hr">

		</div>

	</div>

{% endblock %}