{% set title = "Почему выбирают технику Аско" %}
{% set description = "" %}

{% set ogType = "article" %}
{% set ogImage = "img/sertificat.jpg" %}

{% extends "template/base.html" %}

{% block content %}

	<div class="flexcolumn center mb30 mobile-padding">

		<article class="order-2 infoblock">

			<h1>
				{{ title }}
			</h1>

			<p>
				Официальный партнер Шведской бытовой техники ASKO в России. Шведское качество с 1950 года.
				<br>Миллионы людей во всем мире пользуются скандинавской бытовой техникой <b>ASKO</b>. Их выбор - высокое качество, инновационные решения, длительный срок эксплуатации и лаконичный дизайн. Покупатели нашего интернет-магазина по достоинству оценят продукцию Asko, так как она полностью соответствует статусу «техника премиум-класса», а чаще даже превышает ожидания наших клиентов.
			</p>

			<h2>
				Asko – забота об экологии с акцентом на дизайн с 1950 года.
			</h2>

			<p>
				<a href="/img/sertificat.jpg" target="_blank">
					<img alt="сертификат фирменного магазина ASKO" src="/img/sertificat.jpg" width="142" class="infoblock__img-left">
				</a>
				Более 60-ти лет продукция Asko  помогает людям во всем мире готовить, убирать и ухаживать за своими семьями. Сегодня ASKO - это лидер по производству премиум техники для кухни, прачечной и профессиональной техники. Техника Asko отвечает самым высоким требованиям дизайна, функциональности, надежности и экологической безопасности. <br>А началось все в 1950 году в городе Вара (Швеция), когда молодой фермер Карл-Эрик Андерсон получил свой первый заказ на стиральную машину от своей мамы. Он тщательно продумал конструкцию и создал уникальную стиральную машину с низким потреблением воды и электроэнергии, которая сама нагревала воду, вращала белье в надежном, современном стальном барабане. Он создал стиральную машину, подобной которой еще не было...
			</p>

			<hr>

			<ul>
				<li>
					<a title="Коллаборация ASKO x Alena Akhmadullina" href="/pochemu_asko/kollaboraciya-asko-x-akhmadullina/">Коллаборация ASKO x Alena Akhmadullina</a>
				</li>
				<li>
					<a title="Коллаборация Asko xx LEFORM" href="/pochemu_asko/kollaboraciya-asko-xx-leform/">Коллаборация Asko xx LEFORM</a>
				</li>
				<li>
					<a title="Описание стиральных машин Asko" href="/pochemu_asko/pochemu_stiralnye_mashiny/">Описание стиральных машин Asko</a>
				</li>
				<li>
					<a title="Новинка 2017 года - стиральные машиины" href="/pochemu_asko/new2017-washing-machine/">Новинка 2017 года - стиральные машиины</a>
				</li>
				<li>
					<a title="Скандинавский знак качества SWAN" href="/pochemu_asko/sertifikat_kachestva_swan/">Скандинавский знак качества SWAN</a>
				</li>
				<li>
					<a title="Барабан Active Drum в стиральных машина Asko" href="/pochemu_asko/active_drum/">Барабан Active Drum в стиральных машина Asko</a>
				</li>
				<li>
					<a title="Стиральная машина Asko серии Classic" href="/pochemu_asko/stiralnye_mashiny_classic/">Стиральная машина Asko серии Classic</a>
				</li>
				<li>
					<a title="Почему духовые шкафы" href="/pochemu_asko/pochemu_duhovye_shkafy/">Почему духовые шкафы</a>
				</li>
				<li>
					<a title="Готовим на индукционных поверхностях" href="/pochemu_asko/induction_poverhnosti/">Готовим на индукционных поверхностях</a>
				</li>
				<li>
					<a title="Режим Шеф-повар" href="/pochemu_asko/shef-povar/">Режим "Шеф-повар"</a>
				</li>
				<li>
					<a title="Как готовить с ASKO" href="/pochemu_asko/kak_gotovit_s_asko/">Как готовить с ASKO</a>
				</li>
			</ul>

		</article>

		<div class="order-1">

{% set breadcrumbs = ['ASKO', title] %}

{% include "_include/breadcrumbs.html" %}

		</div>

	</div>

{% endblock %}