{% set title = "Почему выбирают технику Аско" %}
{% set description = "" %}

{% set ogType = "article" %}
{% set ogImage = "img/sertificat.jpg" %}

{% extends "template/base.html" %}

{% block content %}

	<div class="flexcolumn center mb30 mobile-padding">

		<div class="order-2 flexcolumn infoblock">

			<article class="infoblock__main">

				<h1>
					{{ title }}
				</h1>

				<p>
					Официальный партнер Шведской бытовой техники ASKO в России. Шведское качество с 1950 года.
					<br>Миллионы людей во всем мире пользуются скандинавской бытовой техникой <b>ASKO</b>. Их выбор - высокое качество, инновационные решения, длительный срок эксплуатации и лаконичный дизайн. Покупатели нашего интернет-магазина по достоинству оценят продукцию Asko, так как она полностью соответствует статусу «техника премиум-класса», а чаще даже превышает ожидания наших клиентов.
				</p>

				<h2>
					Asko – забота об экологии с акцентом на дизайн с 1950 года.
				</h2>

				<p>
					<a href="/img/sertificat.jpg" target="_blank">
						<img alt="сертификат фирменного магазина ASKO" src="/img/sertificat.jpg" width="142" class="infoblock__img-left" loading="lazy">
					</a>
					Более 60-ти лет продукция Asko  помогает людям во всем мире готовить, убирать и ухаживать за своими семьями. Сегодня ASKO - это лидер по производству премиум техники для кухни, прачечной и профессиональной техники. Техника Asko отвечает самым высоким требованиям дизайна, функциональности, надежности и экологической безопасности. <br>А началось все в 1950 году в городе Вара (Швеция), когда молодой фермер Карл-Эрик Андерсон получил свой первый заказ на стиральную машину от своей мамы. Он тщательно продумал конструкцию и создал уникальную стиральную машину с низким потреблением воды и электроэнергии, которая сама нагревала воду, вращала белье в надежном, современном стальном барабане. Он создал стиральную машину, подобной которой еще не было...
				</p>

			</article>


{% set list = [

	{
		title : "Как готовить с ASKO",
		img   : "rapid-heat",
		text  : "Не так много вещей в жизни, которые могут сравниться с удовольствием вкусно и красиво поужинать в кругу любимых людей. С духовыми шкафами, варочными панелями и вытяжками ASKO это легко осуществить. Интеллектуальные технологии превращают приготовление в четкий расчет и позволяют Вам с первого же дня создавать блюда, как в ресторане. Семейный праздник или изысканный бранч – кухонная техника ASKO позволит воплотить в жизнь Вашу страсть к вкусной еде и превратит каждый момент на кухне в радость."
	},
	{
		title : "Преимущество духовок ASKO",
		img   : "termoshhup",
		text  : "Иногда, если блюдо не удалось, можно во всем обвинить духовку. Не вы виноваты, что пища осталась сырой, подгорела или пересохла. Именно духовка должна позаботиться о том, чтобы пицца получилась сочной и хрустящей, корочка была аппетитного золотистого оттенка, все пирожки на противне одинаково хорошо пропеклись и подрумянились, жаркое аппетитно выглядело и было бы очень сочным, а сухарики стали хрустящими, но не пересушенными. Не так ли?"
	},
	{
		title : "Режим “Шеф-повар”",
		img   : "even-heat",
		text  : "Не так много вещей в жизни, которые могут сравниться с удовольствием вкусно и красиво поужинать в кругу любимых людей. С духовыми шкафами, варочными панелями и вытяжками ASKO это легко осуществить. Интеллектуальные технологии превращают приготовление в четкий расчет и позволяют Вам с первого же дня создавать блюда, как в ресторане. Семейный праздник или изысканный бранч – кухонная техника ASKO позволит воплотить в жизнь Вашу страсть к вкусной еде и превратит каждый момент на кухне в радость."
	},
	{
		title : "Как работают газовые поверхности",
		img   : "piroliz",
		text  : "Иногда, если блюдо не удалось, можно во всем обвинить духовку. Не вы виноваты, что пища осталась сырой, подгорела или пересохла. Именно духовка должна позаботиться о том, чтобы пицца получилась сочной и хрустящей, корочка была аппетитного золотистого оттенка, все пирожки на противне одинаково хорошо пропеклись и подрумянились, жаркое аппетитно выглядело и было бы очень сочным, а сухарики стали хрустящими, но не пересушенными. Не так ли?"
	},
	{
		title : "Готовим на индукционных поверхностях",
		img   : "46cm",
		text  : "Не так много вещей в жизни, которые могут сравниться с удовольствием вкусно и красиво поужинать в кругу любимых людей. С духовыми шкафами, варочными панелями и вытяжками ASKO это легко осуществить. Интеллектуальные технологии превращают приготовление в четкий расчет и позволяют Вам с первого же дня создавать блюда, как в ресторане. Семейный праздник или изысканный бранч – кухонная техника ASKO позволит воплотить в жизнь Вашу страсть к вкусной еде и превратит каждый момент на кухне в радость."
	},
	{
		title : "Вытяжки ASKO в помощь",
		img   : "asko-x-akhmadullina-01",
		text  : "Иногда, если блюдо не удалось, можно во всем обвинить духовку. Не вы виноваты, что пища осталась сырой, подгорела или пересохла. Именно духовка должна позаботиться о том, чтобы пицца получилась сочной и хрустящей, корочка была аппетитного золотистого оттенка, все пирожки на противне одинаково хорошо пропеклись и подрумянились, жаркое аппетитно выглядело и было бы очень сочным, а сухарики стали хрустящими, но не пересушенными. Не так ли?"
	},
	{
		title : "Преимущества посудомоечных машин ASKO",
		img   : "asko-x-akhmadullina-02",
		text  : "Не так много вещей в жизни, которые могут сравниться с удовольствием вкусно и красиво поужинать в кругу любимых людей. С духовыми шкафами, варочными панелями и вытяжками ASKO это легко осуществить. Интеллектуальные технологии превращают приготовление в четкий расчет и позволяют Вам с первого же дня создавать блюда, как в ресторане. Семейный праздник или изысканный бранч – кухонная техника ASKO позволит воплотить в жизнь Вашу страсть к вкусной еде и превратит каждый момент на кухне в радость."
	}

] %}

			<div class="infoblock__list">

{% for item in list %}

				<hr>

				<div class="infoblock__articles">

					<a href="/" class="infoblock__articles-img">
						<picture>
							<source srcset="/img/article/{{ item.img }}.webp 1x, /img/article/{{ item.img }}@2x.webp 2x" type="image/webp">
							<source srcset="/img/article/{{ item.img }}.jpg 1x, /img/article/{{ item.img }}@2x.jpg 2x">
							<img src="/img/article/{{ item.img }}.jpg" alt="{{ item.title | safe }}" width="260" height="121" loading="lazy">
						</picture>
					</a>

					<div class="infoblock__articles-text">

						<h2>
							<a href="/">
								{{ item.title }}
							</a>
						</h2>

						<p>
							{{ item.text }} <span class="infoblock__readme"><a href="/">читать&nbsp;&raquo;</a></span>
						</p>

					</div>

				</div>

{% endfor %}

			</div>

		</div>

		<div class="order-1">

{% set breadcrumbs = ['ASKO', title] %}

{% include "_include/breadcrumbs.html" %}

		</div>

	</div>

{% endblock %}