{% set title = "ASKO от Alena Akhmadullina" %}
{% set description = "Эксклюзивная коллекция ASKO x ALENA AKHMADULLINA состоит  из 4 единиц техники (сушильный шкаф, стиральная и сушильная машина и Hidden Helpers)" %}

{% set ogType = "article" %}
{% set ogImage = "" %}

{% extends "template/base.html" %}

{% block content %}

	<div class="flexcolumn center mb30 mobile-padding">

		<article class="order-2 infoblock">

			<h1>
				ASKO от Alena Akhmadullina
			</h1>

			<img src="/img/infoblock/asko-x-akhmadullina-01.jpg" alt="1 кв метр Pro Home Laundry x Alena Akhmadullina">

			<p>Компания ASKO продолжает сотрудничество с российским модельером Аленой Ахмадуллиной. Специально для шведского бренда Алена создала два авторских дизайна для домашней прачечной ASKO Pro Home Laundry — инновационной модели, разработанной с учетом интересов владельцев небольших квартир: всю технику можно разместить на площади менее 1 кв м!</p>

			<p>Авторские принты с изображением львов, созданные дизайн-бюро Алены Ахмадуллиной, повторяют мотивы из новой коллекции Alena Akhmadullina Spring-Summer 2019 и выполнены в стилистике средневековых гравюр. Рисунки были сделаны вручную, затем оцифрованы и доработаны на компьютере, после чего нанесены на технику специалистами шведского бренда.</p>

			<p>Премьера новинки состоялась в Музее Москвы во время недели дизайна Mercedes-Benz Fashion Week Russia в рамках показа коллекции Alena Akhmadullina Spring-Summer 2019.</p>

			<p>Это не первая коллаборация ASKO с фэшн-брендами. Ранее в этом году компания приглашала к сотрудничеству модный <a title="Коллаборация Asko xx LEFORM" href="/pochemu_asko/kollaboraciya-asko-xx-leform/">концепт-стор Leform</a>, который также представил авторскую версию дизайна инновационной прачечной.</p>

			<img src="/img/infoblock/asko-x-akhmadullina-02.jpg" alt="Предмет коллаборации ASKO Alena Akhmadullina">

			<p>Модели в одежде из коллекции Alena Akhmadullina Spring-Summer 2019 на фоне домашней прачечной ASKO с авторским рисунком Алены Ахмадуллиной.</p>

			<p>Эксклюзивная коллекция ASKO x ALENA AKHMADULLINA состоит  из 4 единиц техники (сушильный шкаф, стиральная и сушильная машина и Hidden Helpers).</p>

			<h2>
				Для приблизительного расчета можно использовать самый популярный набор
			</h2>

			<p>
				Модели для комплектации:
			</p>

			<ul>
				<li>Сушильный шкаф только этот — DC7784 V.W</li>
				<li>Стиральные машины — W2086C.W.P или W4086C.W.P</li>
				<li>Сушильные машины — T208H.W.P или T408HD.W.P</li>
				<li>Аксессуары Hidden Helpers — HB1153W или HI1153W</li>
			</ul>

			<p>Стоимость РРЦ в такой комплектации будет стоить порядка  - DC7784 V.W + W2086C.W.P+ T208H.W.P+ HB1153W – <b>390 тысяч руб</b> Для расчета проекта присылайте запрос на почту или звоните на телефон.</p>

			<p>Срок изготовления примерно 3 недели.</p>

		</article>

		<div class="order-1">

{% set breadcrumbs = ['ASKO','Почему выбирают технику Аско',title] %}

{% include "_include/breadcrumbs.html" %}

		</div>

	</div>

{% endblock %}