.svg-cart {
	background: url("svg/sprite.view-7afd3c83.svg") 0 100% no-repeat;
}

.svg-cart-dims {
	width: 40px;
	height: 40px;
}

.svg-logo {
	background: url("svg/sprite.view-7afd3c83.svg") 0 0 no-repeat;
}

.svg-logo-dims {
	width: 230px;
	height: 100px;
}

.svg-phone {
	background: url("svg/sprite.view-7afd3c83.svg") 20.61855670103093% 96.15384615384616% no-repeat;
}

.svg-phone-dims {
	width: 36px;
	height: 36px;
}

.svg-search {
	background: url("svg/sprite.view-7afd3c83.svg") 38% 90.9090909090909% no-repeat;
}

.svg-search-dims {
	width: 30px;
	height: 30px;
}

