	<section class="catalog-cards">

		<h1 class="h1">
			Уход за бельем
		</h1>

		<ul class="catalog-cards__list catalog-cards__list--laundry">

{% set catalog = [

	{
		name  : "Стиральные машины",
		img   : [
			"01--228x220",
			"01--180x180",
			"01--150x150"
		],
		img2x : [
			"01--456x440",
			"01--360x360",
			"01--300x300"
		]
	},
	{
		name  : "Сушильные машины",
		img   : [
			"02--228x220",
			"02--180x180",
			"02--150x150"
		],
		img2x : [
			"02--456x440",
			"02--360x360",
			"02--300x300"
		]
	},
	{
		name  : "Сушильные шкафы",
		img   : [
			"03--228x220",
			"03--180x180",
			"03--150x150"
		],
		img2x : [
			"03--456x440",
			"03--360x360",
			"03--300x300"
		]
	},
	{
		name  : "Аксессуары Hidden Helpers",
		img   : [
			"04--228x220",
			"04--180x180",
			"04--150x150"
		],
		img2x : [
			"04--456x440",
			"04--360x360",
			"04--300x300"
		]
	}

] %}

{% for item in catalog %}

{% include "home/catalog-cards__item.html" %}

{% endfor %}

		</ul>

	</section>

	<section class="catalog-cards">

		<h1 class="h1">
			Техника для кухни
		</h1>

		<ul class="catalog-cards__list catalog-cards__list--cooking">

{% set catalog = [

	{
		name  : "Духовые шкафы",
		img   : [
			"05--228x460",
			"05--180x380",
			"05--150x320"
		],
		img2x : [
			"05--456x920",
			"05--360x760",
			"05--300x640"
		],
		mod   : "2-rows"
	},
	{
		name  : "Компактные духовые шкафы",
		img   : [
			"06--476x220",
			"06--380x180",
			"06--320x150"
		],
		img2x : [
			"06--952x440",
			"06--760x360",
			"06--640x300"
		],
		mod   : "2-columns"
	},
	{
		name  : "Подогреватели посуды",
		img   : [
			"07--228x220",
			"07--180x180",
			"07--150x150"
		],
		img2x : [
			"07--456x440",
			"07--360x360",
			"07--300x300"
		],
		mod   : "mobile-row-start-1_row-end-2"
	},
	{
		name  : "Кофемашины",
		img   : [
			"08--228x220",
			"08--180x180",
			"08--150x150"
		],
		img2x : [
			"08--456x440",
			"08--360x360",
			"08--300x300"
		],
		mod   : "mobile-row-start-2_row-end-3"
	},
	{
		name  : "Варочные панели",
		img   : [
			"09--476x220",
			"09--380x180",
			"09--320x150"
		],
		img2x : [
			"09--952x440",
			"09--760x360",
			"09--640x300"
		],
		mod   : "2-columns"
	},
	{
		name  : "Посудомоечные машины",
		img   : [
			"10--228x220",
			"10--180x180",
			"10--150x150"
		],
		img2x : [
			"10--456x440",
			"10--360x360",
			"10--300x300"
		],
		mod   : "mobile-row-start-6_row-end-7"
	},
	{
		name  : "Вытяжки",
		img   : [
			"11--476x220",
			"11--380x180",
			"11--320x150"
		],
		img2x : [
			"11--952x440",
			"11--760x360",
			"11--640x300"
		],
		mod   : "2-columns"
	},
	{
		name  : "Холодильники-морозильники",
		img   : [
			"12--228x220",
			"12--180x180",
			"12--150x150"
		],
		img2x : [
			"12--456x440",
			"12--360x360",
			"12--300x300"
		]
	}

] %}

{% for item in catalog %}

{% include "home/catalog-cards__item.html" %}

{% endfor %}

		</ul>

	</section>

	<section class="catalog-cards">

		<h1 class="h1">
			Professional
		</h1>

		<ul class="catalog-cards__list catalog-cards__list--professional">

{% set catalog = [

	{
		name  : "Стиральные машины",
		img   : [
			"13--476x220",
			"13--180x180",
			"13--150x150"
		],
		img2x : [
			"13--952x440",
			"13--360x360",
			"13--300x300"
		]
	},
	{
		name  : "Сушильные машины",
		img   : [
			"14--476x220",
			"14--180x180",
			"14--150x150"
		],
		img2x : [
			"14--952x440",
			"14--360x360",
			"14--300x300"
		]
	}

] %}

{% for item in catalog %}

{% include "home/catalog-cards__item.html" %}

{% endfor %}

		</ul>

	</section>