{% set title = "ASKO | Официальный партнер компании ASKO в России." %}
{% set description = "ASKO | Официальный партнер компании ASKO в России." %}

{% set cart = 'empty' %}

{% extends "template/base.html" %}

{% block content %}

	<div class="flexcolumn home">

		<article class="home__article center order-3 hidden-sm">

			<h1 class="h1">
				Фирменный магазин Asko
			</h1>

			<a href="/img/sertificat.jpg" target="_blank">
				<img alt="сертификат фирменного магазина ASKO" src="/img/sertificat.jpg" width="142" loading="lazy">
			</a>

			<p>
				Официальный партнер бытовой техники ASKO в России. Шведское качество с 1950 года.
				<br>Миллионы людей во всем мире пользуются скандинавской бытовой техникой <strong>ASKO</strong>.
				<br>Их выбор - высокое качество, инновационные решения, длительный срок эксплуатации и лаконичный дизайн.
			</p>

			<p>
				Покупатели нашего интернет-магазина по достоинству оценят продукцию Asko, т.к. она полностью соответствует статусу «техника премиум-класса» , а чаще, превышает ожидания наших клиентов.
			</p>

			<h2>
				Техника Asko – забота об экологии с акцентом на дизайн с 1950 года.
			</h2>

			<p>
				Более 60-ти лет продукция Asko  помогает людям во всем мире готовить, убирать и ухаживать за своими семьями. Сегодня ASKO это лидер по производству премиум техники для кухни, прачечной и профессиональной техники. Техника Asko отвечает самым высоким требованиям дизайна, функциональности, надежности и экологической безопасности. <br>А началось все в 1950 году в городе Вара (Швеция), когда молодой фермер Карл-Эрик Андерсон получил свой первый заказ на стиральную машину от своей мамы. Он тщательно продумал конструкцию и создал уникальную стиральную машину с низким потреблением воды и электроэнергии, которая сама нагревала воду, вращала белье в надежном, современном стальном барабане. Он создал стиральную машину, подобной которой еще не было...
			</p>

			<a href="/pochemu_asko/" class="link">подробнее</a>

			<hr class="home__hr">

		</article>

		<div class="home__cat center order-2">

			<h2 class="h1">
				Каталог ASKO
			</h2>

{% include "_include/cat-img.html" %}

			<hr class="home__hr">

		</div>

		<div class="bg order-1">

{% include "_include/slider.html" %}

{% include "_include/service.html" %}

		</div>

		<aside class="home__articles center order-4 mobile-padding">

			<h3 class="h1">
				Статьи
			</h3>

			<ul>

				<li>

					<a title="Модная прачечная: коллаборация ASKO x Alena Akhmadullina" href="/pochemu_asko/kollaboraciya-asko-x-akhmadullina/">

						<figure>

							<picture>
								<source srcset="/img/article/art1.webp" type="image/webp">
								<source srcset="/img/article/art1.png">
								<img src="/img/article/art1.png" loading="lazy" alt="Модная прачечная: коллаборация ASKO x Alena Akhmadullina">
							</picture>

							<figcaption>
								Коллаборация ASKO x Alena Akhmadullina
							</figcaption>

						</figure>

					</a>

					<p>
						ASKO x Alena Akhmadullina: домашняя прачечная ASKO Pro Home Laundry с авторским рисунком Алены Ахмадуллиной. Авторские принты с изображением львов, повторяют мотивы новой коллекции Spring-Summer 2019 и выполнены в стилистике средневековых гравюр.
					</p>

				</li>

				<li>

					<a title="Уникальный барабан Active Drum в стиральных машинах Asko" href="/pochemu_asko/active_drum/">

						<figure>

							<picture>
								<source srcset="/img/article/art2.webp" type="image/webp">
								<source srcset="/img/article/art2.png">
								<img src="/img/article/art2.png" loading="lazy" alt="Уникальный барабан Active Drum в стиральных машинах Asko">
							</picture>

							<figcaption>
								Уникальный барабан Active Drum™
							</figcaption>

						</figure>

					</a>

					<p>
						<a title="Стиральные машины Asko" href="/catalog/stiralnye_mashiny/" class="link">Современные стиральные машины Asko</a> оснащены барабанами уникальной конструкции Active Drum™, обеспечивающей высокое качество стирки и максимальную сохранность вещей.
					</p>

				</li>

				<li>

					<a href="/pochemu_asko/rabochie_poverhnosti_wok/">

						<figure>

							<picture>
								<source srcset="/img/article/art3.webp" type="image/webp">
								<source srcset="/img/article/art3.png">
								<img src="/img/article/art3.png" loading="lazy" alt="Новая технология конфорки Fusion Volcano от Asko">
							</picture>

							<figcaption>
								Газовая конфорка Fusion Volcano
							</figcaption>

						</figure>

					</a>

					<p>
						Новая технология конфорки Fusion Volcano от Asko поддерживает пламя там, где это необходимо - по всему дну посуды.
					</p>

				</li>

			</ul>

		</aside>

	</div>

{% endblock %}