{% set title = "ASKO | Официальный партнер компании ASKO в России." %}
{% set description = "ASKO | Официальный партнер компании ASKO в России." %}

{% set cart = 'empty' %}

{% extends "template/base.html" %}

{% block content %}

	<div class="flexcolumn home">

		<article class="home__article center order-3 hidden-sm">

			<h1 class="h1">
				Фирменный магазин Asko
			</h1>

			<a href="/img/sertificat.jpg" target="_blank">
				<img alt="сертификат фирменного магазина ASKO" src="/img/sertificat.jpg" width="142" loading="lazy">
			</a>

			<p>
				Официальный партнер бытовой техники ASKO в России. Шведское качество с 1950 года.
				<br>Миллионы людей во всем мире пользуются скандинавской бытовой техникой <strong>ASKO</strong>.
				<br>Их выбор - высокое качество, инновационные решения, длительный срок эксплуатации и лаконичный дизайн.
			</p>

			<p>
				Покупатели нашего интернет-магазина по достоинству оценят продукцию Asko, т.к. она полностью соответствует статусу «техника премиум-класса» , а чаще, превышает ожидания наших клиентов.
			</p>

			<h2>
				Техника Asko – забота об экологии с акцентом на дизайн с 1950 года.
			</h2>

			<p>
				Более 60-ти лет продукция Asko  помогает людям во всем мире готовить, убирать и ухаживать за своими семьями. Сегодня ASKO это лидер по производству премиум техники для кухни, прачечной и профессиональной техники. Техника Asko отвечает самым высоким требованиям дизайна, функциональности, надежности и экологической безопасности. <br>А началось все в 1950 году в городе Вара (Швеция), когда молодой фермер Карл-Эрик Андерсон получил свой первый заказ на стиральную машину от своей мамы. Он тщательно продумал конструкцию и создал уникальную стиральную машину с низким потреблением воды и электроэнергии, которая сама нагревала воду, вращала белье в надежном, современном стальном барабане. Он создал стиральную машину, подобной которой еще не было...
			</p>

			<a href="/pochemu_asko/" class="link">подробнее</a>

			<hr class="home__hr">

		</article>

		<div class="home__cat center order-2">

			<h2 class="h1">
				Каталог ASKO
			</h2>

{% include "_include/cat-img.html" %}

			<hr class="home__hr">

		</div>

		<div class="bg order-1">

{% include "_include/slider.html" %}

{% include "_include/service.html" %}

		</div>

{% include "_include/articles.html" %}

	</div>

{% endblock %}