{% set title = "ASKO | Официальный партнер компании ASKO в России." %}
{% set description = "ASKO | Официальный партнер компании ASKO в России." %}

{% set cart = 'empty' %}
{% set warning = true %}

{% extends "template/base.html" %}

{% block content %}

	<div class="flexcolumn home">

{% include "home/service.html" %}

		<div class="home__catalog center">

			<hr class="home__hr">

{% include "home/catalog-cards.html" %}

			<hr class="home__hr">

		</div>

{% include "home/articles.html" %}

	</div>

{% endblock %}