<!DOCTYPE html>
<html lang="ru" prefix="og: https://ogp.me/ns#">
<head>

	<meta charset="utf-8">

	<title>{{ title }}</title>

	<link href="/css/styles.css" rel="preload" as="style">
	<link href="/js/scripts.js" rel="preload" as="script">
	<link href="/js/inputmask.all.min.js" rel="preload" as="script">
	<link href="/js/calculator.all.min.js" rel="preload" as="script">

	<link href="/favicon.png" rel="apple-touch-icon-precomposed">

	<meta name="format-detection" content="telephone=no">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{{ description }}">

	<meta property="og:url" content="{{ url }}/{{ urlCurrent }}">
	<meta property="og:type" content="{{ ogType | default('website') }}">
	<meta property="og:title" content="{{ title }}">
	<meta property="og:description" content="{{ description }}">

	<meta property="og:site_name" content="Центрофинанс">
	<meta property="og:image" content="{{url}}/{{ ogImage236 | default('og-236.png') }}">
	<meta property="og:image:width" content="236">
	<meta property="og:image:height" content="236">
	<meta property="og:image" content="{{url}}/{{ ogImage | default('og.png') }}">
	<meta property="og:image:width" content="1200">
	<meta property="og:image:height" content="630">

	<link href="/css/styles.css" rel="stylesheet">

	<script>
		var SITE_TEMPLATE_PATH = '';
	</script>
</head>

{#

Доступные модификаторы шаблона:

seoBlock (bool) - показать СЕО Блок
hideBreadcrumbs (bool) - скрыть хлебные крошки (притом микроразметка BreadcrumbList на всех)

#}

<body>

{% include "template/schema.html" %}

<div class="wrapper">

{% include "template/header.html" %}

	<main class="main">

{% if seoBlock %}

{% include "template/seo.html" %}

{% endif %}

{% block content %}{% endblock %}

	</main>

{% include "template/footer.html" %}

</div>

{% include "template/modal.html" %}

<script defer src="/js/scripts.js"></script>

</body>
</html>