	<aside class="cookie bg">

		<div class="center">

			<div class="cookie__text">

				<h3>
					Этот сайт использует кукисы.
				</h3>

				<p>
					Кукисы используем для того, чтобы дать вам возможность спокойно и приятно повышать ваш личный опыт пользования cайтом.
					<a href="/pdf/cookie.pdf" target="_blank">Более подробно о пользовании кукисами</a>
				</p>

			</div>

			<form action="/" method="post">

				<button class="btn">
					Принять и продолжить
				</button>

			</form>

		</div>

	</aside>