	<footer class="footer">

		<ul class="footer__menu">

			<li><a href="/" class="is-active">ASKO</a></li>
			<li><a href="/kontakty/">Контакты</a></li>
			<li><a href="/dostavka_oplata/">Доставка и оплата</a></li>
			<li><a href="/garantiya/">Гарантия</a></li>

		</ul>

		<div class="center">

			<div class="footer__contact">
				<a href="mailto:office@asko-home.ru" class="link">office@asko-home.ru</a>
				<a href="tel:+74952830203" class="footer__tel">+7 <span>(495)</span> 283-02-03 <span>(Москва)</span></a>
			</div>

			<div class="footer__counters">

				<a href="https://clck.yandex.ru/redir/dtype=stred/pid=47/cid=2508/*https://market.yandex.ru/shop/254003/reviews" target="_blank" rel="nofollow">
					<img src="https://clck.yandex.ru/redir/dtype=stred/pid=47/cid=2505/*https://grade.market.yandex.ru/?id=254003&action=image&size=0" width="88" height="31" alt="Читайте отзывы покупателей и оценивайте качество магазина на Яндекс.Маркете">
				</a>

			</div>

			<p class="footer__copyright">© 2014-2019 <strong>Фирменный магазин ASKO</strong></p>

		</div>

	</footer>