	<footer class="footer">

		<ul class="footer__tel bg">

			<li>
				<a href="tel:88007077838">
					8 800 707-78-38
					<em>Бесплатный по России</em>
				</a>
			</li>

			<li>
				<a href="tel:+74952830203">
					+7 (495) 283-02-03
					<em>Москва</em>
				</a>
			</li>

			<li>
				<a href="tel:+78124072210">
					+7 (812) 407-22-10
					<em>Санкт-Петербург</em>
				</a>
			</li>

		</ul>

		<div class="footer__inner">

			<div class="center">

				<div class="footer__section">

					<h3 class="footer__head">
						Каталог
					</h3>

					<ul class="footer__menu">

						<li><a href="/">Уход за бельем</a></li>
						<li><a href="/">Техника для кухни</a></li>
						<li><a href="/">Профессиональная техника</a></li>

					</ul>

				</div>

				<div class="footer__section">

					<h3 class="footer__head">
						Компания
					</h3>

					<ul class="footer__menu">

						<li><a href="/">Доставка и оплата</a></li>
						<li><a href="/">Гарантия</a></li>
						<li><a href="/">Контакты</a></li>
						<li><a href="/">Почему ASKO</a></li>
						<li><a href="/">Политика конфиденциальности</a></li>

					</ul>

				</div>

				<div class="footer__section footer__callback">

					<h3 class="footer__head">
						Обратная связь
					</h3>

					<a href="mailto:office@asko-home.ru" class="btn btn--link">
						office@asko-home.ru
					</a>

					<button type="button" class="btn btn--link" data-modal="callback">
						<svg width="24" height="24" viewBox="0 0 486 486">
							<use xlink:href="#callback-ico"/>
						</svg>
						Заказать звонок
					</button>

				</div>

				<div class="footer__section footer__yandex-market">

					<h3 class="footer__head">
						5 лет на Яндекс.Маркете
					</h3>

					<a href="https://market.yandex.ru/shop/254003/reviews" target="_blank" rel="nofollow noopener" title="отзывы asko-home.ru">
						<img src="/img/yandex.market.svg" alt="" width="150" height="100">
					</a>

				</div>

			</div>

		</div>

		<hr>

		<p class="footer__copyright">
			© 2014-2020 <strong>Официальный партнер Шведской компании ASKO</strong>
		</p>

	</footer>