	<footer class="footer bg">

		<ul class="footer__menu">

			<li><a href="/" class="is-active">Почему ASKO</a></li>
			<li><a href="/kontakty/">Контакты</a></li>
			<li><a href="/dostavka_oplata/">Доставка и оплата</a></li>
			<li><a href="/garantiya/">Гарантия</a></li>
			<li class="hidden-sm"><a href="/privacy/">Политика конфиденциальности</a></li>

		</ul>

		<div class="center">

			<ul class="footer__tel">

				<li>
					<a href="tel:+74952830203">
						+7 <span>(495)</span> 283-02-03
						<em>Москва</em>
					</a>
				</li>

				<li>
					<a href="tel:+78124072210">
						+7 <span>(812)</span> 407-22-10
						<em>Санкт-Петербург</em>
					</a>
				</li>

				<li>
					<a href="tel:88007077838">
						8 800 707-78-38
						<em>Бесплатный по России</em>
					</a>
				</li>

			</ul>

			<div class="footer__contact">

				<button type="button" class="btn btn--outline" data-modal="callback">
					Заказать звонок
				</button>

				<a href="mailto:office@asko-home.ru" class="link">
					office@asko-home.ru
				</a>

			</div>

			<div class="footer__yandex-market">

				<a href="https://clck.yandex.ru/redir/dtype=stred/pid=47/cid=2508/*https://market.yandex.ru/shop/254003/reviews" target="_blank" rel="nofollow">
					отзывы на <span>Яндекс.Маркете</span>
				</a>

			</div>

		</div>

		<p class="footer__copyright">
			© 2014-2020 <strong>Официальный партнер Шведской компании ASKO</strong>
		</p>

	</footer>