	<div class="modal">

		<div class="modal__box">

{% include "template/filter.html" %}

			<form action="feedback.php?exec" method="post" target="feedback_done" class="modal__item modal__item--callback form" data-ok-modal="Мы Вам перезвоним." novalidate="novalidate">

				<input type="hidden" name="order[Memo]" value="Прошу перезвонить">
				<input type="hidden" name="order[DeliveryDate]" value="05.03.2019">

				<h3 class="modal__title modal__outline">
					Заказать звонок
				</h3>

				<div class="modal__outline">

					<p class="modal__text">
						Оставьте свой телефон и мы Вам&nbsp;перезвоним
					</p>

					<label class="input-row">
						<span class="input-row__label">
							Ваше Имя
						</span>
						<span class="input-row__input">
							<input name="client[Name]" class="input">
						</span>
					</label>

					<label class="input-row">
						<span class="input-row__label">
							Ваш Телефон
						</span>
						<span class="input-row__input" data-error="Укажите контактный телефон">
							<input name="client[Phone]" type="tel" class="input" required="required">
						</span>
					</label>

					<button class="btn form__submit">
						Отправить
					</button>

				</div>

			</form>

			<div class="modal__item modal__item--thanks">

				<h3 class="modal__title modal__outline">
					Спасибо!
				</h3>

				<div class="modal__outline">

					<p class="modal__text">
						Мы Вам перезвоним.
					</p>

					<button type="button" class="btn modal__close">
						Закрыть
					</button>

				</div>

			</div>

			<div class="modal__item modal__item--product-in-cart">

				<h3 class="modal__title modal__outline">
					Товар <span class="modal-product-in-cart"></span> добавлен в&nbsp;корзину
				</h3>

				<div class="modal__outline">

					<div class="modal__btns">

						<button type="button" class="btn btn--gray modal__close">
							Продолжить
						</button>

						<a class="btn" href="/zakaz/">
							Оформить заказ
						</a>

					</div>

				</div>

				<div class="modal__outline">

					<h3 class="modal__head">
						Товары для стирки:
					</h3>

					<div class="modal__products">

						<a href="https://asko-home.ru/catalog/sredstva-po-uhodu/lc11_color/">

							<picture>
								<source srcset="https://asko-home.ru/pic/250x250/lc11_color.webp 1x, https://asko-home.ru/pic/500x500/lc11_color.webp 2x" type="image/webp">
								<source srcset="https://asko-home.ru/pic/250x250/lc11_color.jpg 1x, https://asko-home.ru/pic/500x500/lc11_color.jpg 2x">
								<img src="https://asko-home.ru/pic/250x250/lc11_color.jpg" alt=" Жидкое средство для стирки цветного белья Asko LC11 Color" loading="eager">
							</picture>

							Жидкое средство для стирки цветного белья Asko

						</a>

						<a href="https://asko-home.ru/catalog/sredstva-po-uhodu/lf11/">

							<picture>
								<source srcset="https://asko-home.ru/pic/250x250/lf11_au.webp 1x, https://asko-home.ru/pic/500x500/lf11_au.webp 2x" type="image/webp">
								<source srcset="https://asko-home.ru/pic/250x250/lf11_au.jpg 1x, https://asko-home.ru/pic/500x500/lf11_au.jpg 2x">
								<img src="https://asko-home.ru/pic/250x250/lf11_au.jpg" alt=" Кондиционер для белья Asko LF11 AU Fabric Care" loading="eager">
							</picture>

							Кондиционер для белья Asko

						</a>

						<a href="https://asko-home.ru/catalog/sredstva-po-uhodu/lw11_white/">

							<picture>
								<source srcset="https://asko-home.ru/pic/250x250/lw11.webp 1x, https://asko-home.ru/pic/500x500/lw11.webp 2x" type="image/webp">
								<source srcset="https://asko-home.ru/pic/250x250/lw11.jpg 1x, https://asko-home.ru/pic/500x500/lw11.jpg 2x">
								<img src="https://asko-home.ru/pic/250x250/lw11.jpg" alt=" Жидкое средство для стирки белого белья Asko LW11 White" loading="eager">
							</picture>

							Жидкое средство для стирки белого белья Asko

						</a>

					</div>

				</div>

			</div>

			<div class="modal__item modal__item--gallery">

				<div id="modal-gallery"></div>

			</div>

			<div class="modal__item modal__item--video">

				<div id="modal-video"></div>

			</div>

			<button type="button" class="modal__close modal__close-btn button">Закрыть</button>

		</div>

	</div>