	<div class="modal hidden-visible">

		<div class="modal__box">

			<div class="modal__item modal__item--ok">

				<div class="modal__title modal__ico-before modal__ico-before--check"></div>

				<div class="modal__text"></div>

				<button type="button" class="btn btn--big modal__btn modal__close">
					Закрыть
				</button>

			</div>

			<button type="button" class="modal__close modal__close-btn button">Закрыть</button>

		</div>

		<div class="modal__box modal__box--help">

			<div class="modal__item modal__item--help modal-help">

				<h3 class="modal__title">
					Нужна помощь?
				</h3>

				<ul class="modal-help__list">
					<li class="modal-help__item">
						<a class="modal-help__link modal__ico-before modal__ico-before--phone" href="tel:88007773737">
							Горячая линия
							<span class="modal-help__tel">8 800 777-37-37</span>
						</a>
					</li>
					<li class="modal-help__item">
						<a class="modal-help__link modal__ico-before modal__ico-before--mail" href="mailto:info@centrofinans.ru">
							Задать вопрос
							<span class="modal-help__mail">info@centrofinans.ru</span>
						</a>
					</li>
					<li class="modal-help__item">
						<a class="modal-help__link modal__ico-before modal__ico-before--chat" href="/vopros-otvet/">
							Ответы на вопросы
							<span class="modal-help__btn btn btn--small btn--yellow">Перейти</span>
						</a>
					</li>
				</ul>

			</div>

			<button type="button" class="modal__close modal__close-btn button">Закрыть</button>

		</div>

	</div>


	<div class="alert_up callback">
		<h3 class="outline">Заказать звонок</h3>
		<form class="outline" action="feedback.php?exec" method="post" target="feedback_done">
			<input type="hidden" name="nospam1" value="1">
			<input type="hidden" name="nospam2" value="1">
			<input type="hidden" name="order[Memo]" value="Прошу перезвонить">
			<input type="hidden" name="order[DeliveryDate]" value="05.03.2019">
			<p>Оставьте свой телефон и мы Вам перезвоним</p>
			<label><i>Ваше Имя</i><input name="client[Name]" type="text" class="input"></label>
			<label><i>Ваш Телефон</i><input name="client[Phone]" type="text" class="input"></label>
			<button class="button grey" type="submit" onclick=" return alert_top($('.alert_up.thanks'))">Отправить</button>
		</form>
		<span class="close"></span>
	</div>

	<div class="alert_up thanks">
		<h3 class="outline">Спасибо!</h3>
		<div class="outline">
			<p>Мы Вам перезвоним.</p>
			<button class="button red" type="button" onclick="bg.triggerHandler('click')">Закрыть</button>
		</div>
		<span class="close"></span>
		<iframe name="feedback_done" style="visibility: hidden"></iframe>
	</div>
