{% set nav = [

	{
		parent: "Уход за бельем",
		category: [
			[
				"Стиральные машины"
			],
			[
				"Сушильные машины"
			],
			[
				"Сушильные шкафы"
			],
			[
				"Аксессуары Hidden Helpers"
			]
		]
	},
	{
		parent: "Техника для кухни",
		mod: "columns",
		category: [
			[
				"Духовые шкафы",
				"Пиролитические духовые шкафы",
				"Духовые шкафы с паром",
				"Стандартные духовые шкафы",
				"Аксессуары"
			],
			[
				"Компактные духовые шкафы",
				"Компактные духовые шкафы с паром",
				"Компактные пиролитические духовые шкафы",
				"Компактные духовые шкафы комбинированные с СВЧ",
				"Микроволновые печи"
			],
			[
				"Посудомоечные машины"
			],
			[
				"Холодильники / Морозильники"
			],
			[
				"Варочные панели",
				"Стеклокерамические панели HiLight",
				"Индукционные панели",
				"Газовые панели",
				"Комбинированные панели",
				"Панели Domino",
				"Аксессуары"
			],
			[
				"Вытяжки",
				"Настенные вытяжки",
				"Островные вытяжки",
				"Встраиваемые вытяжки"
			],
			[
				"Кофемашины"
			],
			[
				"Подогреватели посуды / Вакууматоры"
			]
		]
	},
	{
		parent: "PROFESSIONAL",
		category: [
			[
				"Профессиональный уход за бельем",
				"Стиральные машины",
				"Сушильные машины"
			]
		]
	},
	{
		parent: "Почему Asko",
		category: [
			[
				"Как готовить с ASKO",
				"Преимущество духовок ASKO",
				"Режим “Шеф-повар”",
				"Как работают газовые поверхности",
				"Готовим на индукционных поверхностях",
				"Вытяжки ASKO в помощь"
			],
			[
				"Преимущества посудомоечных машин ASKO",
				"Orrefors рекомендует ASKO"
			]
		]
	}

] %}

<nav class="nav visuallyhidden">

	<button class="button nav__btn-toggle" type="button">
		<span>меню ASKO</span>
	</button>

	<ul class="nav__tel bg">

		<li>
			<a href="tel:+74952830203">
				+7 495 283-02-03
				<em>Москва</em>
			</a>
		</li>

		<li>
			<a href="tel:+78124072210">
				+7 812 407-22-10
				<em>Санкт-Петербург</em>
			</a>
		</li>

		<li>
			<a href="tel:88007077838">
				8 800 707-78-38
				<em>Бесплатный по России</em>
			</a>
		</li>

	</ul>

	<div class="nav__inner bg">

		<ul class="nav__list">

{% for item in nav %}

			<li class="nav__item nav__item--parent">

				<a class="nav__head" href="/" title="{{ item.parent }}">
					{{ item.parent }}
				</a>

				<div class="nav__sub{% if item.mod %} nav__sub--{{ item.mod }}{% endif %}">

{% for sub in item.category %}

					<ul class="nav__sub-list">

{% for cat in sub %}

						<li class="nav__sub-item">

							<a class="nav__link" href="/" title="{{ cat }}">
								{{ cat }}
							</a>

						</li>

{% endfor %}

					</ul>

{% endfor %}

				</div>

			</li>

{% endfor %}

		</ul>

		<hr>

		<ul class="nav__list">

{% for item in ["Доставка и оплата", "Гарантия", "Акции", "Контакты"] %}

			<li class="nav__item">

				<a class="nav__head" href="/">
					{{ item }}
				</a>

			</li>

{% endfor %}

		</ul>

	</div>

</nav>