{% set nav = [

	{
		parent: "Уход за бельем",
		category: [
			{
				name : "Стиральные машины"
			},
			{
				name : "Сушильные машины"
			},
			{
				name : "Сушильные шкафы"
			},
			{
				name : "Аксессуары Hidden Helpers"
			}
		]
	},
	{
		parent: "Техника для кухни",
		category: [
			{
				name : "Духовые шкафы",
				list : [
					"Пиролитические духовые шкафы",
					"Духовые шкафы с паром",
					"Стандартные духовые шкафы",
					"Аксессуары"
				]
			},
			{
				name : "Компактные духовые шкафы",
				list : [
					"Компактные духовые шкафы с паром",
					"Компактные пиролитические духовые шкафы",
					"Компактные духовые шкафы комбинированные с СВЧ",
					"Микроволновые печи"
				]
			},
			{
				name : "Варочные панели",
				list : [
					"Стеклокерамические панели HiLight",
					"Индукционные панели",
					"Газовые панели",
					"Комбинированные панели",
					"Панели Domino",
					"Аксессуары"
				]
			},
			{
				name : "Вытяжки",
				list : [
					"Настенные вытяжки",
					"Островные вытяжки",
					"Встраиваемые вытяжки"
				]
			},
			{
				name : "Посудомоечные машины"
			},
			{
				name : "Кофемашины"
			},
			{
				name : "Подогреватели посуды / Вакууматоры"
			},
			{
				name : "Холодильники / Морозильники"
			}
		]
	},
	{
		parent: "PROFESSIONAL",
		category: [
			{
				name : "Стиральные машины для прачечной"
			},
			{
				name : "Сушильные машины для прачечной"
			}
		]
	},
	{
		parent: "Почему Asko",
		category: [
			{
				name : "Как готовить с ASKO"
			},
			{
				name : "Преимущество духовок ASKO"
			},
			{
				name : "Режим “Шеф-повар”"
			},
			{
				name : "Как работают газовые поверхности"
			},
			{
				name : "Готовим на индукционных поверхностях"
			},
			{
				name : "Вытяжки ASKO в помощь"
			},
			{
				name : "Преимущества посудомоечных машин ASKO"
			},
			{
				name : "Orrefors рекомендует ASKO"
			}
		]
	}

] %}

<nav class="nav visuallyhidden">

	<div class="nav__wrap bg">

		<div class="nav__inner">

			<ul class="nav__list">

{% for item in nav %}

				<li class="nav__item nav__item--parent">

					<a class="nav__head nav__head--arrow" href="/" title="{{ item.parent }}">
						{{ item.parent }}
					</a>

					<button class="button nav__level2-btn-back">
						Назад
					</button>

					<div class="nav__level2">

{% for level2 in item.category %}

						<div class="nav__level2-list">

							<div class="nav__level2-item{% if level2.list %} nav__level2-item--parent{% endif %}">

								<a class="nav__level2-link" href="/" title="{{ level2.name }}">
									{{ level2.name }}
								</a>



							</div>

{% if level2.list %}

							<button class="button nav__level3-btn-back">
								Назад
							</button>

							<ul class="nav__level3">

{% for level3 in level2.list %}

								<li class="nav__level3-item">

									<a class="nav__level3-link" href="/" title="{{ level3 }}">
										{{ level3 }}
									</a>

								</li>

{% endfor %}

							</ul>

{% endif %}

						</div>

{% endfor %}

					</div>

				</li>

{% endfor %}

			</ul>

			<hr>

			<ul class="nav__list">

{% for item in ["Доставка и оплата", "Гарантия", "Акции", "Контакты"] %}

				<li class="nav__item">

					<a class="nav__head" href="/">
						{{ item }}
					</a>

				</li>

{% endfor %}

			</ul>

		</div>

	</div>

</nav>