	<script type="application/ld+json">

		[
			{
				"@context": "https://schema.org",
				"@type": "Organization",
				"name": "Фирменный магазин ASKO",
				"url": "{{url}}",
				"logo": "{{url}}/og.png",
				"telephone": [
					"+7 495 283-02-03",
					"+7 812 407-22-10"
				],
				"email": "office@asko-home.ru",
				"address": {
					"@type": "PostalAddress",
					"postalCode": "111024",
					"addressLocality": "г. Москва",
					"streetAddress": "ул. 2-я Энтузиастов, д. 5, корп. 1, оф. 35"
				}
			},
			{
				"@context": "https://schema.org",
				"@type": "WPHeader",
				"name": "{{ title }}",
				"description": "{{ description }}"
			}

		]

	</script>