	<aside class="warning">

		<div class="center">

			<div class="warning__text">

				<img src="/img/warning/newyear_header.png" srcset="/img/warning/newyear_header@2x.png 2x" width="301" height="80" loading="lazy" alt="">

				<p>
					Шоу-рум  не работает: с 31 декабря 2021 года по 2 января 2022 года включительно.
				</p>

				<img src="/img/warning/59a8792f3a31.png" srcset="/img/warning/59a8792f3a31@2x.png 2x" width="227" height="80" loading="lazy" alt="" class="hidden-md">

			</div>

		</div>

	</aside>