{% set title = "Почему выбирают духовые шкафы Asko?" %}
{% set description = "Духовой шкаф Asko незаменимый помощником на вашей кухне, технологии применяемые в духовках, помогут готовить просто и с удовольствием." %}

{% set ogType = "article" %}
{% set ogImage = "" %}

{% extends "template/base.html" %}

{% block content %}

	<div class="flexcolumn center mb30 mobile-padding">

		<article class="order-2 infoblock">

			<h1>
				{{ title }}
			</h1>

			<p>
				Когда речь заходит о еде, мы невольно вспоминаем блюда из детства – пироги, запеченный картофель с мясом, курицу… Наши бабушки и мамы прекрасно справлялись с готовкой в простых плитах или даже печках. А у Вас появился прекрасный помощник – духовой шкаф Asko.
			</p>

			<p>
				<strong>Духовой шкаф Asko</strong> станет незаменимым помощником на вашей кухне, а технологии, применяемые в духовках, помогут готовить просто и с удовольствием.
			</p>

 			<div class="infoblock__articles">

				<div class="infoblock__articles-img">

					<img src="/img/infoblock/even-heat.png" alt="Духовой шкаф - как классическая печь">

				</div>

				<div class="infoblock__articles-text">

					<h2>
						Равномерное распределение тепла
					</h2>

					<p>
						Духовые шкафы Asko внутри устроены по принципу классической печки. Эта форма позволяет горячему воздуху равномерно циркулировать во время приготовления, в результате любая выпечка в любом месте противня выпекается одинаково.
					</p>

				</div>

			</div>

 			<div class="infoblock__articles">

				<div class="infoblock__articles-img">

					<img src="/img/infoblock/46cm.png" alt="Объем духового шкафа 46 см">

				</div>

				<div class="infoblock__articles-text">

					<h2>
						Большой объем
					</h2>

					<p>
						Духовые шкафы Asko обладают большим внутренним объемом, и Вы с легкостью можете готовить до 4-х противней одновременно. Равномерное приготовление блюд гарантирует функция равномерного распределения тепла. Ширина духового шкафа 46 см., это позволяет запекать большие блюда – курицу, индейку, рыбу не разделяя их на части.
					</p>

				</div>

			</div>

 			<div class="infoblock__articles">

				<div class="infoblock__articles-img">


					<img src="/img/infoblock/piroliz.png" alt="Пиролитическая очистка в духовках A
					sko">

				</div>

				<div class="infoblock__articles-text">

					<h2>
						Пиролитическая система очистки
					</h2>

					<p>
						После приготовления жирных блюд на внутренних стенках духового шкафа остаются слои жира и грязи. Не тратьте время и силы, запустите пиролитическую очистку и при температуре 500С все остатки пищи превратятся в пепел, который остается только собрать влажной тряпкой. И только в духовых шкафах компании Asko Вы можете оставить противни внутри духовки во время запуска очистки. Для работы с такой температурой материалы духового шкафа и дополнительные элементы Asko сделаны из материала высокого качества.
					</p>

				</div>

 			</div>


 			<div class="infoblock__articles">

				<div class="infoblock__articles-img">

					<img src="/img/infoblock/rapid-heat.png" alt="Духовка ASko нагревается за 4 мин.">

				</div>

				<div class="infoblock__articles-text">

					<h2>
						Быстрый нагрев духовки
					</h2>

					<p>
						Вы уже замесили тесто и его надо ставить в духовку, а она еще не разогрета? В этом нет необходимости. При быстром нагреве духовой шкаф достигнет температуры 180С всего за 4 минуты, а звуковой и световой сигнал проинформирует Вас об этом.
					</p>

				</div>

			</div>

 			<div class="infoblock__articles">

				<div class="infoblock__articles-img">

					<img src="/img/infoblock/termoshhup.png" alt="Термощуп для приготовления мяса">

				</div>

				<div class="infoblock__articles-text">

					<h2>
						Щуп для безупречного приготовления
					</h2>

					<p>
						При запекании мяса в духовке важно, чтобы кусок был хорошо пропечён внутри. Если мясо недопечется, вы рискуете получить плохо приготовленное блюдо или даже отравление. Чтобы все получилось даже у неопытной хозяйки, компания Asko создала щуп для приготовления. Он позволяет замерять температуру именно внутри куска мяса или дичи. Просто вставьте щуп в блюдо, установите температуру и духовой шкаф автоматически выключится, когда мясо будет готово. Теперь не надо следить за температурой на дисплее, нет необходимости открывать духовой шкаф и проверять готовность мяса, просто отдыхайте.
					</p>

				</div>

			</div>

		</article>

		<div class="order-1">

{% set breadcrumbs = ['ASKO','Почему выбирают технику Аско',title] %}

{% include "_include/breadcrumbs.html" %}

		</div>

	</div>

{% endblock %}