	<section class="catalog-cards show-room-gallery">

		<h1 class="h2">
			Фотографии шоу-рума
		</h1>

		<ul class="catalog-cards__list catalog-cards__list--cooking">

{% set catalog = [

	{
		name  : "Духовые шкафы",
		img   : [
			"01--228x460",
			"01--180x380",
			"01--150x320"
		],
		img2x : [
			"01--456x920",
			"01--360x760",
			"01--300x640"
		],
		mod   : "2-rows"
	},
	{
		name  : "Компактные духовые шкафы",
		img   : [
			"02--476x220",
			"02--380x180",
			"02--320x150"
		],
		img2x : [
			"02--952x440",
			"02--760x360",
			"02--640x300"
		],
		mod   : "2-columns"
	},
	{
		name  : "Подогреватели посуды",
		img   : [
			"03--228x220",
			"03--180x180",
			"03--150x150"
		],
		img2x : [
			"03--456x440",
			"03--360x360",
			"03--300x300"
		],
		mod   : "mobile-row-start-1_row-end-2"
	},
	{
		name  : "Кофемашины",
		img   : [
			"04--228x220",
			"04--180x180",
			"04--150x150"
		],
		img2x : [
			"04--456x440",
			"04--360x360",
			"04--300x300"
		],
		mod   : "mobile-row-start-2_row-end-3"
	},
	{
		name  : "Варочные панели",
		img   : [
			"05--476x220",
			"05--380x180",
			"05--320x150"
		],
		img2x : [
			"05--952x440",
			"05--760x360",
			"05--640x300"
		],
		mod   : "2-columns"
	},
	{
		name  : "Посудомоечные машины",
		img   : [
			"06--228x220",
			"06--180x180",
			"06--150x150"
		],
		img2x : [
			"06--456x440",
			"06--360x360",
			"06--300x300"
		],
		mod   : "mobile-row-start-6_row-end-7"
	},
	{
		name  : "Вытяжки",
		img   : [
			"07--476x220",
			"07--380x180",
			"07--320x150"
		],
		img2x : [
			"07--952x440",
			"07--760x360",
			"07--640x300"
		],
		mod   : "2-columns"
	},
	{
		name  : "Холодильники-морозильники",
		img   : [
			"08--228x220",
			"08--180x180",
			"08--150x150"
		],
		img2x : [
			"08--456x440",
			"08--360x360",
			"08--300x300"
		]
	}

] %}

{% for item in catalog %}

			<li class="catalog-cards__item{% if item.mod %} catalog-cards__item--{{ item.mod }}{% endif %}">

				<a href="https://asko-home.ru/img/show-room/0{{ loop.index }}--big.jpg" class="catalog-cards__figure show-room-gallery__item">

					<picture>

						<source srcset="https://asko-home.ru/img/show-room/{{ item.img[2] }}.webp 1x, https://asko-home.ru/img/show-room/{{ item.img2x[2] }}.webp 2x" media="(max-width: 360px)" type="image/webp">
						<source srcset="https://asko-home.ru/img/show-room/{{ item.img[1] }}.webp 1x, https://asko-home.ru/img/show-room/{{ item.img2x[1] }}.webp 2x" media="(max-width: 767px)" type="image/webp">
						<source srcset="https://asko-home.ru/img/show-room/{{ item.img[0] }}.webp 1x, https://asko-home.ru/img/show-room/{{ item.img2x[0] }}.webp 2x" type="image/webp">

						<source srcset="https://asko-home.ru/img/show-room/{{ item.img[2] }}.png 1x, https://asko-home.ru/img/show-room/{{ item.img2x[2] }}.png 2x" media="(max-width: 360px)">
						<source srcset="https://asko-home.ru/img/show-room/{{ item.img[1] }}.png 1x, https://asko-home.ru/img/show-room/{{ item.img2x[1] }}.png 2x" media="(max-width: 767px)">
						<source srcset="https://asko-home.ru/img/show-room/{{ item.img[0] }}.png 1x, https://asko-home.ru/img/show-room/{{ item.img2x[0] }}.png 2x">

						<img class="catalog-cards__picture" src="https://asko-home.ru/img/show-room/{{ item.img[0] }}.png" alt="Шоу-рум ASKO" width="{{ item.img[0] | truncate(7, true, '') | reverse | truncate(3, true, '') | reverse }}" height="{{ item.img[0] | reverse | truncate(3, true, '') | reverse }}" loading="lazy">

					</picture>

				</a>

			</li>

{% endfor %}

<!-- скрытые картинки, но показанные в попапе
 -->

 {% set catalog = [

	{
		img : 269
	},
	{
		img : 279
	},
	{
		img : 289
	},
	{
		img : 324
	},
	{
		img : 339
	},
	{
		img : 394
	},
	{
		img : 404
	},
	{
		img : 409
	},
	{
		img : 419
	},
	{
		img : 424
	},
	{
		img : 454
	},
	{
		img : 474
	},
	{
		img : 484
	},
	{
		img : 489
	},
	{
		img : 494
	},
	{
		img : 534
	},
	{
		img : 539
	},
	{
		img : 564
	},
	{
		img : 569
	},
	{
		img : 624
	}
] %}

{% for item in catalog %}

			<li class="hide">

				<a href="/img/show-room/{{ item.img }}.jpg" class="show-room-gallery__item">

					<img src="/img/show-room/{{ item.img }}--228@1x.jpg" alt="Шоу-рум ASKO" loading="lazy">

				</a>

			</li>

{% endfor %}

		</ul>

	</section>