{% set title = "ASKO | Официальный партнер компании ASKO в России." %}
{% set description = "ASKO | Официальный партнер компании ASKO в России." %}

{% set urlCurrent = "show-room" %}

{% extends "template/base.html" %}

{% block content %}

	<div class="flexcolumn center">

		<div class="mobile-padding">

{% include "show-room/address.html" %}
{% include "show-room/parking.html" %}
{% include "show-room/attention.html" %}
{% include "show-room/gallery.html" %}
{% include "show-room/form.html" %}
{% include "show-room/events.html" %}
{% include "show-room/slider.html" %}

		</div>

	</div>

{% endblock %}