{#

Доступные модификаторы шаблона:

calculator - варианты калькулятора (home,first,long,pensioner,weekGift,online)

#}

<aside class="calculator">

	<div class="calculator__bg">

{% if calculator == 'home' %}

		<video autoplay="autoplay" loop="loop" muted="muted" playsinline="playsinline" onloadeddata="this.play()">
			<source src="http://centrofinansverstka.sptnktest.ru/video/source.webm" type="video/webm">
			<source src="http://centrofinansverstka.sptnktest.ru/video/source.mp4" type="video/mp4">
		</video>

{% else %}

		<picture>

			<source srcset="/img/calculator/bg--320@1x.webp 1x, /img/calculator/bg--320@2x.webp 2x" media="(max-width: 320px)" type="image/webp">
			<source srcset="/img/calculator/bg--360@1x.webp 1x, /img/calculator/bg--360@2x.webp 2x" media="(max-width: 360px)" type="image/webp">
			<source srcset="/img/calculator/bg--414@1x.webp 1x, /img/calculator/bg--414@2x.webp 2x" media="(max-width: 414px)" type="image/webp">
			<source srcset="/img/calculator/bg--1336@1x.webp 1x, /img/calculator/bg--1336@2x.webp 2x" media="(max-width: 1336px)" type="image/webp">
			<source srcset="/img/calculator/bg--1440@1x.webp 1x, /img/calculator/bg--1440@2x.webp 2x" type="image/webp">

			<source srcset="/img/calculator/bg--320@1x.jpg 1x, /img/calculator/bg--320@2x.jpg 2x" media="(max-width: 320px)">
			<source srcset="/img/calculator/bg--360@1x.jpg 1x, /img/calculator/bg--360@2x.jpg 2x" media="(max-width: 360px)">
			<source srcset="/img/calculator/bg--414@1x.jpg 1x, /img/calculator/bg--414@2x.jpg 2x" media="(max-width: 414px)">
			<source srcset="/img/calculator/bg--1336@1x.jpg 1x, /img/calculator/bg--1336@2x.jpg 2x" media="(max-width: 1336px)">
			<source srcset="/img/calculator/bg--1440@1x.jpg 1x, /img/calculator/bg--1440@2x.jpg 2x">

			<img src="/img/calculator/bg--1440@1x.jpg" alt="">

		</picture>

{% endif %}

	</div>

	<div class="calculator__title">
		{{ calculatorHead }}
	</div>

	<form class="calculator__form" action="{% if calculator == 'online' %}https://lovizaim.ru/anketa.shtml{% else %}/{% endif %}" novalidate="novalidate" autocomplete="off">

		<div class="calculator__step calculator__step--first">

			<div class="calculator__left">

				<div class="calculator__param">

					<script>

						CALCULATOR = {

							typeFirst : {

								summMin : 1000,
								summMax : 15000,
								summStep : 100,
								summValue : 6500,

								dateMin : 1,
								dateMax : 32,
								dateStep : 1,
								dateValue : 21,

								stavka : 1

							},

							typeLong : {

								summMin : 10000,
								summMax : 30000,
								summStep : 100,
								summValue : 18000,

								dateMin : 90,
								dateMax : 180,
								dateStep : 30,
								dateValue : 150,

								stavka : 0.77,

								paymentPeriod : 30,
								textSpec : 'Расчёт верен при условии оплаты равными долями каждые <b>30 дней</b>',
								limitSumStart : 20000,
								textLimit : 'Сумма от <b>20 000 ₽</b> доступна только действующим клиентам компании'

							},

							typePensioner : {

								summMin : 5000,
								summMax : 30000,
								summStep : 100,
								summValue : 12000,

								dateMin : 14,
								dateMax : 32,
								dateStep : 1,
								dateValue : 21,

								stavka : 0.65,

								textSpec : 'Пересчет процентов на любом сроке'

							},

							typeWeekGift : {

								summMin : 3000,
								summMax : 10000,
								summStep : 100,
								summValue : 7000,

								dateMin : 15,
								dateMax : 32,
								dateStep : 1,
								dateValue : 21,

								stavka : 1,

								nullProcentStart : 15,
								nullProcentFinish : 21,
								nullProcentText : 'Неделя даром: с <b>15 по 21</b> день процент не начисляется'

							},

							typeOnline : {

								summMin : 1000,
								summMax : 5000,
								summStep : 500,
								summValue : 3500,

								dateMin : 5,
								dateMax : 30,
								dateStep : 1,
								dateValue : 15,

								stavka : 1.5

							},

							days : ['день', 'дня', 'дней'],
							monthsShort : ['Янв', 'Фев', 'Мар', 'Апр', 'Май', 'Июн', 'Июл', 'Авг', 'Сен', 'Окт', 'Ноя', 'Дек'],

							selectLabel : ['Сумма займа', 'Срок займа']

						}

					</script>

{% if calculator == 'home' %}

					<div class="calculator__tab">

						<label for="product-first" class="calculator__tab-item calculator__tab-item--active">
							Простой
						</label>

						<label for="product-long" class="calculator__tab-item">
							Долгосрочный
						</label>

						<label for="product-pensioner" class="calculator__tab-item">
							Пенсионный
						</label>

					</div>

{% endif %}


{% if calculator == 'online' %}

					<input type="hidden" name="utm_source" value="centrofinans">
					<input type="hidden" name="utm_content" value="desktop|Архангельская область">
					<input type="hidden" name="initialSum" class="calculator__param-loan-sum">
					<input type="hidden" name="initialDays" class="calculator__param-loan-time">

					<input type="hidden" class="calculator__param-item" value="1"  data-loan-type="online">

{% else %}

					<input type="hidden" name="LOAN_SUM" class="calculator__param-loan-sum">
					<input type="hidden" name="LOAN_TIME" class="calculator__param-loan-time">

{% endif %}

{% if calculator == 'first' or calculator == 'home' %}

					<input class="calculator__param-item hidden-visible" type="radio" value="2" name="LOAN_TYPE" id="product-first" data-loan-type="first">

{% endif %}

{% if calculator == 'long' or calculator == 'home' %}

					<input class="calculator__param-item hidden-visible" type="radio" value="3" name="LOAN_TYPE" id="product-long"  data-loan-type="long">

{% endif %}

{% if calculator == 'pensioner' or calculator == 'home' %}

					<input class="calculator__param-item hidden-visible" type="radio" value="4" name="LOAN_TYPE" id="product-pensioner"  data-loan-type="pensioner">

{% endif %}

{% if calculator == 'weekGift' %}

					<input class="calculator__param-item hidden-visible" type="radio" value="5" name="LOAN_TYPE" id="week-gift"  data-loan-type="week-gift">

{% endif %}

				</div>

				<div class="calculator__box">

					<div class="calculator__control">

						<div class="calculator__control-head">

							<label for="sum-set" class="calculator__control-label">Сумма займа</label>

							<div class="calculator__input calculator__input--sum" data-suf="руб.">

								<input type="tel" class="input" id="sum-set" value="{{ sumValue }}" maxlength="6">

								<span class="calculator__input-text calculator__input-text--sum">{{ sumValue }}</span>

							</div>

						</div>

						<button type="button" class="hide calculator__btn-step calculator__btn-step--sum-minus button">уменьшить сумму на {{ sumStep }} рублей</button>

						<button type="button" class="hide calculator__btn-step calculator__btn-step--sum-plus button">увеличить сумму на {{ sumStep }} рублей</button>

						<div class="calculator__slider calculator__slider--sum">
							<span class="calculator__line-sale hide"></span>
						</div>

						<div class="calculator__extreme">

							<span class="calculator__min-sum">{{ sumMin/1000 }} 000</span>
							<span class="calculator__max-sum">{{ sumMax/1000 }} 000</span>

						</div>

					</div>

					<div class="calculator__text"></div>

					<div class="calculator__control">

						<div class="calculator__control-head">

							<label for="date-set" class="calculator__control-label">Срок займа</label>

							<div class="calculator__input calculator__input--date" data-suf="день">

								<input type="tel" class="input" id="date-set" value="{{ dateValue }}" maxlength="2">

								<span class="calculator__input-text calculator__input-text--date">{{ dateValue }}</span>

							</div>

						</div>

						<button type="button" class="hide calculator__btn-step calculator__btn-step--date-minus button">уменьшить дату на {{ dateStep }} день</button>

						<button type="button" class="hide calculator__btn-step calculator__btn-step--date-plus button">увеличить дату на {{ dateDtep }} день</button>

						<div class="calculator__slider calculator__slider--date">
							<span class="calculator__line-sale hide"></span>
						</div>

						<div class="calculator__extreme">

							<span class="calculator__min-date">{{ dateMin }}</span>
							<span class="calculator__max-date">{{ dateMax }}</span>

						</div>

					</div>

				</div>

			</div>

			<div class="calculator__right">

				<ul class="calculator__result">

					<li class="calculator__result-item calculator__result-item--big">
						<span class="calculator__result-name">Вы получите</span>
						<span class="calculator__result-value">
							<span class="calculator__sum-text">13 800</span>
						</span>
					</li>

					<li class="calculator__result-item">
						<span class="calculator__result-name">К возврату</span>
						<span class="calculator__result-value">
							<span class="calculator__sum-return">13 800</span>
						</span>
					</li>

					<li class="calculator__result-item hidden-sm">
						<span class="calculator__result-name">Плата за заём</span>
						<span class="calculator__result-value">
							<span class="calculator__sum-diff">1 950</span>
						</span>
					</li>

				</ul>

{% if calculator == 'online' %}

				<button class="calculator__submit btn">Заполнить анкету</button>

{% else %}

				<button type="button" class="calculator__submit calculator__next-step btn">Заполнить заявку</button>

{% endif %}

			</div>

		</div>

{% if calculator != 'online' %}

		<div class="calculator__step calculator__step--next hide">

			<div class="calculator__anketa">

				<div class="calculator__geo">

					Заявка на кредит в
					<button class="button" type="button" data-modal="geo">Северодвинск</button>
					в офисе
					<button class="button" type="button" data-modal="geo">ул. Пролетарская, д. 211-а</button>

				</div>

				<div class="calculator__input-list">

					<div class="calculator__input-list-item">

						<label class="input-label">

							<input class="input-label__input input" required="required">
							<span class="input-label__label">Фамилия</span>

						</label>

					</div>

					<div class="calculator__input-list-item">

						<label class="input-label">

							<input class="input-label__input input" required="required">
							<span class="input-label__label">Имя</span>

						</label>

					</div>

					<div class="calculator__input-list-item">

						<label class="input-label">

							<input class="input-label__input input" required="required">
							<span class="input-label__label">Отчество</span>

						</label>

					</div>

					<div class="calculator__input-list-item">

						<label class="input-label input-label--error" data-error="Заполните в формате 29 09 1992">

							<input class="input-label__input input inputmask inputmask--date" required="required" type="tel">
							<span class="input-label__label">Дата рождения</span>

						</label>

					</div>

					<div class="calculator__input-list-item">

						<label class="input-label">

							<input class="input-label__input input inputmask inputmask--phone" required="required" type="tel">
							<span class="input-label__label">Моб. телефон</span>

						</label>

					</div>

					<div class="calculator__input-list-item hidden-sm">

						<div class="calculator__requred-info">
							Все поля обязательны для заполнения
						</div>

					</div>

				</div>

				<div class="calculator__foot">

					<div class="calculator__foot-left">

						<label class="checkbox">

							<input class="checkbox__input" type="checkbox">

							<span class="checkbox__label">

								Ознакомлен с <a href="/" class="link" target="_blank">правилами предоставления займов</a>, <a href="/" class="link" target="_blank">политикой сайта</a>, даю согласие на <a href="/" class="link" target="_blank">обработку личных данных</a>

							</span>

						</label>

					</div>

					<div class="calculator__foot-right">

						<button class="calculator__submit calculator__next-step btn">Оформить заявку</button>

					</div>

				</div>

				<button type="button" class="calculator__prev-step button">Вернуться к условиям займа</button>

			</div>

		</div>

{% endif %}

	</form>

</aside>