	<aside class="slider">

		<div class="swiper-container swiper-container--home">

			<ul class="slider__list notsel swiper-wrapper">

{% set slider = [

	{
		img   : 10,
		big   : "Где можно посмотреть технику Asko?"
	},
	{
		img   : 11,
		big   : "Правильный выбор в технике Asko в фирменном шоу-руме"
	},
	{
		img   : 12,
		big   : "Москва, Проспект 60-летия Октября, д. 12"
	},
	{
		img   : 5,
		title : "Персональная консультация",
		text  : "Воспользуйтесь нашим онлайн чатом и получите персональную консультацию на странице интересующего вас Miele Центра"
	},
	{
		img   : 2,
		title : "Всё включено:",
		text  : "125 циклов стирки в подарок",
		note  : "Полугодовой запас моющих средств UltraPhase1 и UltraPhase2"
	},
	{
		img   : 3,
		title : "Чистота белья на протяжении 150 стирок",
		text  : "Выгода 20% на комплект моющих средств для стиральных машин"
	},
	{
		img   : 4,
		title : "Всё включено:",
		text  : "125 циклов стирки в подарок",
		note  : "Полугодовой запас моющих средств UltraPhase1 и UltraPhase2"
	}

] %}

{% for item in slider %}

				<li class="slider__item swiper-slide">

					<div class="center">

{% if item.big %}

						<figure class="slider__figure">

							<picture>

								<source srcset="/img/slider/{{ item.img }}--320x640.webp 1x, /img/slider/{{ item.img }}--640x1280.webp 2x" media="(max-width: 320px)" type="image/webp">
								<source srcset="/img/slider/{{ item.img }}--424x848.webp 1x, /img/slider/{{ item.img }}--848x1696.webp 2x" media="(max-width: 424px)" type="image/webp">
								<source srcset="/img/slider/{{ item.img }}--1170x585.webp 1x, /img/slider/{{ item.img }}--2340x1170.webp 2x" type="image/webp">

								<source srcset="/img/slider/{{ item.img }}--320x640.jpg 1x, /img/slider/{{ item.img }}--640x1280.jpg 2x" media="(max-width: 320px)">
								<source srcset="/img/slider/{{ item.img }}--424x848.jpg 1x, /img/slider/{{ item.img }}--848x1696.jpg 2x" media="(max-width: 424px)">
								<source srcset="/img/slider/{{ item.img }}--1170x585.jpg 1x, /img/slider/{{ item.img }}--2340x1170.jpg 2x">

								<img class="slider__picture" src="/img/slider/{{ item.img }}--1170x585.jpg" alt="{{ item.big }}" width="1170" height="585" loading="lazy">

							</picture>

							<figcaption class="slider__figcaption">
								{{ item.big }}
							</figcaption>

						</figure>

{% else %}

						<picture>

							<source srcset="/img/slider/{{ item.img }}--320x320.webp 1x, /img/slider/{{ item.img }}--640x640.webp 2x" media="(max-width: 320px)" type="image/webp">
							<source srcset="/img/slider/{{ item.img }}--424x424.webp 1x, /img/slider/{{ item.img }}--848x848.webp 2x" media="(max-width: 424px)" type="image/webp">
							<source srcset="/img/slider/{{ item.img }}--585x585.webp 1x, /img/slider/{{ item.img }}--1170x1170.webp 2x" type="image/webp">

							<source srcset="/img/slider/{{ item.img }}--320x320.png 1x, /img/slider/{{ item.img }}--640x640.png 2x" media="(max-width: 320px)">
							<source srcset="/img/slider/{{ item.img }}--424x424.png 1x, /img/slider/{{ item.img }}--848x848.png 2x" media="(max-width: 424px)">
							<source srcset="/img/slider/{{ item.img }}--585x585.png 1x, /img/slider/{{ item.img }}--1170x1170.png 2x">
							<img class="slider__img" src="/img/slider/{{ item.img }}--585x585.png" alt="{{ item.title }}" width="585" height="585" loading="lazy">

						</picture>

						<div class="slider__content">

							<h3 class="slider__title h1">
								{{ item.title }}
							</h3>

							<p class="slider__text h2">
								{{ item.text }}
							</p>

							{% if item.note %}

							<small class="slider__note">
								{{ item.note }}
							</small>

							{% endif %}

							<div class="slider__btn">

								<a href="/catalog/product/" class="btn">
									{% if item.note %}Купить{% else %}Подробнее{% endif %}
								</a>

							</div>

						</div>

{% endif %}

					</div>

				</li>

{% endfor %}

			</ul>

		</div>

	</aside>