.breadcrumbs {

	display: flex;
	flex-wrap: wrap;
	margin: 10px 0;

	&__item {

		display: flex;
		align-items: center;

		&::after {

			content: '\00BB';
			margin: 0 10px;

		}

		&:last-child::after {

			display: none;

		}

	}

}