.cart  {

	&__row {

		display: flex;
		border-top: 1px solid #d4d4d4;
		box-shadow:inset 0 1px 0 #fff;
		padding: 20px;

		&--head {

			padding-bottom: 8px;

		}

		&--foot {

			padding-top: 8px;

		}

		@media ($mdWidth) {

			flex-wrap: wrap;

		}

		&:first-child {

			border-top: 0;
			box-shadow: none;

		}

	}

	&__col {

		&-1 {

			width: 72px;

			img {

				max-width: 100%;

			}

			@media ($smWidth) {

				order: -2;

			}

		}

		&-2 {

			width: 470px;
			padding: 0 40px 0 20px;

			@media ($mdWidth) {

				width: calc(100% - 72px);
				padding-bottom: 20px;

			}

			@media ($smWidth) {

				padding: 10px 0;
				width: 100%;

			}

		}

		&-3,
		&-4,
		&-5 {

			width: 120px;
			white-space: nowrap;

			@media ($mdWidth) {

				&::before {

					content: attr(data-pref);
					display: block;
					padding-bottom: 5px;

				}


			}

			@media ($smWidth) {

				width: calc(100% / 2 - 50px);

			}

		}

		&-3 {

			@media ($mdWidth) {

				margin-left: 92px;

			}

			@media ($smWidth) {

				margin: 0;
				width: 100px;

			}

		}

		&-6 {

			@media ($mdWidth) {

				display: flex;
				align-items: center;
				margin-left: auto;

			}

			@media ($smWidth) {

				order: -1;

			}

		}

		&-foot {

			width: 270px;
			font-size: 16px;
			margin-left: auto;
			display: flex;
			line-height: 30px;
			align-items: baseline;
			white-space: nowrap;

			@media ($mdWidth) {

				width: auto;

			}

			&-bold {

				font-weight: 700;
				font-size: 20px !important;
				padding-left: 10px;

			}

		}

	}

	&__available {

		margin-top: 20px;

	}

	.quantity {

		width: 74px;
		position: relative;
		display: block;

		&__count {

			text-align: center;
			line-height: 30px;
			height: 30px;

		}

		&__btn {

			position: absolute;
			left: 0;
			width: 20px;
			top: 0;
			bottom: 0;
			font-size: 0;
			color: transparent;
			z-index: 1;
			display: flex;
			justify-content: center;
			align-items: center;

			&::before {

				content: '';
				border: 5px solid transparent;
				border-right-color: #a7a7a7;

			}

			&--up {

				left: auto;
				right: 0;
				transform: rotate(180deg);

			}

		}

	}

	&__item {

		&-price {

			font-size: 16px;
			font-weight: bold;
			color: #000;
			line-height: 32px;
			white-space: nowrap;

		}

		&-remove {

			width: 32px;
			height: 32px;
			font-size: 0;
			color: transparent;
			background-size: 14px 14px;
			background-position: center;
			background-repeat: no-repeat;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 23.331 23.331'%3E%3Cpath fill='%239d9e99' d='M16.043 11.667L22.609 5.1c.963-.963.963-2.539 0-3.502l-.875-.875c-.963-.964-2.539-.964-3.502 0L11.666 7.29 5.099.723c-.962-.963-2.538-.963-3.501 0l-.876.875c-.962.963-.962 2.539 0 3.502l6.566 6.566-6.566 6.567c-.962.963-.962 2.539 0 3.501l.876.875c.963.963 2.539.963 3.501 0l6.567-6.565 6.566 6.565c.963.963 2.539.963 3.502 0l.875-.875c.963-.963.963-2.539 0-3.501l-6.566-6.566z'/%3E%3C/svg%3E");

			@media ($mdWidth) {

				font-size: 14px;
				color: var(--color);
				width: auto;
				padding-left: 24px;
				height: 24px;
				background-position: 0 center;

			}

		}

		&--remove {

			transform: scaleY(0);
			transition: .5s;
			opacity: 0;
			padding: 0 20px;

		}

	}

	&__list {

		&--hide {

			opacity: 0;
			transition: 1s;
			pointer-events: none;

		}

		table,
		thead,
		tbody,
		tfoot {

			display: block;

		}

		thead {

			border: 1px solid transparent;
			white-space: nowrap;

		}

		td {

			flex-shrink: 0;

		}

		.border {

			padding: 0;
			margin: 0;

		}

	}




/* form  */

	&__order {

		@media ($desktop) {

			max-width: 576px;
			margin: auto;

		}

		.input-row {

			&__label {

				width: 158px;

				@media ($smWidth) {

					width: auto;

				}

			}

		}

		.checkbox {

			font-size: 16px;

			& + .checkbox {

				margin-top: 10px;

			}

		}


	}

	&__info-required {

		sup {

			color: var(--red);

		}

	}

	&__submit {

		margin: 20px 0 20px 158px;
		display: block;

		@media ($smWidth) {

			margin: 20px auto;

		}

	}

}