.cat-img {

	display: flex;
	flex-wrap: wrap;

	@media ($smWidth) {

		margin-left: -20px;
		margin-right: -20px;

	}

	@media ($xsWidth) {

		margin-left: -15px;
		margin-right: -15px;

	}

	li {

		width: 20%;
		margin-bottom: 40px;
		text-align: center;

		@media ($mdWidth) {

			width: 25%;

		}

		@media ($smWidth) {

			width: 50%;
			margin-bottom: 20px;

		}

	}

	a {

		padding: 0 20px;
		display: block;
		text-decoration: none;

		&:hover {

			text-decoration: underline;

		}

	}

	img {

		display: block;
		margin: 10px auto;
		max-width: 100%;

	}

}