.catalog-list {

	&__item {

		display: flex;
		padding: 30px 0;

		& + & {

			box-shadow: inset 0 1px 0 #fff;
			border-top: 1px solid #d4d4d4;

		}

		@media ($smWidth) {

			padding: 30px 20px;
			display: block;

		}

		@media ($xsWidth) {

			padding: 20px 15px;

		}

	}

	&__img {

		width: 250px;
		flex-shrink: 0;
		margin-right: 30px;

		@media ($mdWidth) {

			width: 125px;
			margin-right: 20px;

		}

		@media ($smWidth) {

			width: 250px;
			margin-right: 0;

		}

		img {

			max-width: 100%;
			display: block;
			width: 250px;
			height: 250px;
			object-fit: contain;
			object-position: 0 0;

		}

	}

	&__body {

		flex-grow: 1;

	}

	&__title {

		width: 100%;
		font-size: 24px;
		font-weight: 400;
		margin-bottom: 10px;
		text-transform: none;

		@media ($mdWidth) {

			font-size: 20px;

		}

		@media ($smWidth) {

			margin: 10px 0;
			font-size: 20px;

		}

	}

	&__desc {

		display: flex;
		justify-content: space-between;

		&-left {

			@media ($smWidth) {

				.table-scroll {

					margin: 0 -20px;
					padding: 0 20px 10px;

				}

			}

			@media ($xsWidth) {

				.table-scroll {

					margin: 0 -10px;
					padding: 0 10px 10px;

				}

			}

		}

		&-right {

			display: flex;
			align-items: flex-end;

			@media ($smWidth) {

				display: block;

			}

		}

		@media ($smWidth) {

			display: block;

		}

	}

	&__form-my-list {

		display: flex;
		height: 40px;
		align-items: center;

		form {

			margin-left: 14px;
			display: flex;

		}

	}

	&__param {

		max-width: 500px;

		p + p {

			margin-top: 10px;

		}

		dl {

			display: flex;
			flex-wrap: wrap;

		}

		dt {

			width: 50%;
			flex-shrink: 0;
			padding-top: 5px;

		}

		dd {

			width: 50%;
			flex-shrink: 0;
			padding-top: 5px;
			padding-left: 14px;

		}

	}

	&__cart {

		flex-shrink: 0;
		white-space: nowrap;

		&.in-cart::after {

			display: block;
			content: attr(data-buy);
			color: var(--red);
			font-size: 12px;
			margin-top: 10px;
			text-align: right;

			@media ($smWidth) {

				text-align: left;
				margin-left: 5px;

			}

		}

	}

	&__btn {

		display: flex;
		justify-content: flex-end;

		@media ($smWidth) {

			justify-content: flex-start;
			margin-top: 14px;

		}

	}

	&__price {

		display: flex;
		align-items: center;
		justify-content: flex-end;
		color: #000;
		font-size: 24px;
		margin-bottom: 18px;

		@media ($smWidth) {

			justify-content: flex-start;
			margin: 10px 0;

		}

		&-pref {

			font-size: 18px;
			color: #333;
			margin-right: 8px;

		}

		.rub {

			margin-left: 4px;

		}

	}

}