.catalog {

	margin-bottom: 20px;
	display: flex;
	flex-direction: column;

	&__hr {

		background-color: #fff;
		border-top: 1px solid #d4d4d4;

	}

}

@for $i from 1 to 10 {

	.order-$(i) {

		order: $(i);

	}

}