.compare {

	details {

		top: -1px;

	}


	&__col {

		min-width: 190px;

		&-name {

			min-width: 211px;

		}

	}

	&__img {

		max-width: 160px;
		object-fit: cover;

	}

	&__checkbox {

		white-space: nowrap;
		text-transform: none;
		margin: 10px 0;
		font-weight: 400;

	}

	&__price {

		font-size: 20px;
		line-height: 20px;
		font-weight: 500;

	}

	&__remove {

		display: flex;
		justify-content: center;
		margin: 10px 0;

		.link {

			font-size: 14px;
			font-weight: 400;
			line-height: 20px;
			padding: 0 0 0 24px;
			text-transform: none;
			background-size: 14px 14px;
			background-repeat: no-repeat;
			background-position: left;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 23.331 23.331'%3E%3Cpath fill='%239d9e99' d='M16.043 11.667L22.609 5.1c.963-.963.963-2.539 0-3.502l-.875-.875c-.963-.964-2.539-.964-3.502 0L11.666 7.29 5.099.723c-.962-.963-2.538-.963-3.501 0l-.876.875c-.962.963-.962 2.539 0 3.502l6.566 6.566-6.566 6.567c-.962.963-.962 2.539 0 3.501l.876.875c.963.963 2.539.963 3.501 0l6.567-6.565 6.566 6.565c.963.963 2.539.963 3.502 0l.875-.875c.963-.963.963-2.539 0-3.501l-6.566-6.566z'/%3E%3C/svg%3E");

		}

	}

}