.cookie {

	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 14px;
	z-index: 9;
	box-shadow: 0 0 10px rgba(0,0,0,.3);

	.btn {

		margin-left: 24px;
		flex-shrink: 0;

		@media ($mdWidth) {

			font-size: 16px;

		}

		@media ($smWidth) {

			margin: 20px auto 0;

		}

	}

	.center {

		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 1170px;

		@media ($smWidth) {

			display: block;
			text-align: center;

		}

	}

	p {

		a {

			color: var(--red);
			text-decoration: underline;

		}

	}

}