.filter {

	margin: 20px 0;

	@media ($smWidth) {

		margin: 10px;

	}

	&__btn-toggle {

		display: flex;
		justify-content: flex-end;
		margin-bottom: 10px;

	}

	&__body {

		@media ($smWidth) {

			overflow: hidden;
			position: relative;
			max-height: 0;
			opacity: 0;
			transition: .5s ease;
			padding: 1px;

			&.is-open {

				max-height: 3000px;
				opacity: 1;

			}

		}

	}

	&__fieldset {

		display: flex;
		flex-wrap: wrap;

		@media ($smWidth) {

			display: block;

		}

	}

	&__foot {

		display: flex;
		align-items: center;
		justify-content: flex-end;
		margin-top: 20px;

		.btn {

			margin-left: 20px;

		}

	}

	&__item {

		flex-basis: 50%;
		font-size: 16px;
		margin-top: 10px;

		&:nth-child(n+3) {

			margin-top: 20px;

		}

		@media ($smWidth) {

			margin-top: 5px;

			&:nth-child(n+2) {

				margin-top: 30px;

			}

		}

	}

	&__label {

		min-width: 90px;
		padding-right: 20px;
		font-size: 18px;
		line-height: 22px;
		flex-shrink: 0;

	}

	&__row {

		display: flex;

		@media ($smWidth) {

			display: block;

		}

		& + & {

			margin-top: 20px;

		}

	}

	&__price {

		display: flex;

		&-item {

			display: flex;
			align-items: center;

		}

		@media ($smWidth) {

			margin-top: 10px;

		}

	}

	&__input {

		width: 100px;
		margin: 0 10px;
		background-color: #e2e2e2;
		box-shadow: inset 2px 1px 2px rgba(0,0,0,.13), 1px 1px 0 #fff;
		border-radius: 5px;
		position: relative;

		&::before {

			position: absolute;
			top: 4px;
			left: 4px;
			right: 4px;
			bottom: 4px;
			content: '';
			background-color: #dedede;
			box-shadow: inset 1px 1px 2px rgba(0,0,0,.13), 1px 1px 0 #fff;
			border-radius: 4px;

		}

		.input {

			height: 34px;
			font-size: 16px;
			line-height: 20px;
			padding: 7px 14px;
			border: 0;
			background-color: transparent;

		}

	}

	&__slider {

		display: flex;
		align-items: center;
		white-space: nowrap;

		@media ($smWidth) {

			font-size: 12px;

		}

		&-to,
		&-from {

			flex-shrink: 0;

		}

		&-control {

			flex-grow: 1;
			flex-shrink: 0;
			margin: 10px 20px;
			height: 14px;
			width: 200px;
			position: relative;

			&::before {

				position: absolute;
				top: 3px;
				left: 3px;
				right: 3px;
				bottom: 3px;
				content: '';
				border-radius: 5px;
				box-shadow: inset 2px 1px 2px rgba(0,0,0,.13), 1px 1px 0 #fff;
				background-color: #dedede;
				pointer-events: none;

			}

			@media ($smWidth) {

				width: auto;
				margin: 10px 15px;

			}

		}

	}

	&__checkbox {

		margin: 10px 0;

	}

}



/*! nouislider - 12.1.0 - 10/25/2018 */
/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */
.noUi-target,
.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  touch-action: none;
  user-select: none;
}
.noUi-target {
  position: relative;
}
.noUi-base,
.noUi-connects {
  width: 100%;
  height: 100%;
  position: relative;
}
/* Wrapper for all connect elements.
 */
.noUi-connects {
  overflow: hidden;
  z-index: 0;
}
.noUi-connect,
.noUi-origin {
  will-change: transform;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform-origin: 0 0;
}
.noUi-connect {

	height: 12px;
	margin-top: 1px;
	background-image: linear-gradient(to bottom, #df5461, #c80405);
	box-shadow: 0 1px 1px rgba(0,0,0,.44);

}

/* Give origins 0 height/width so they don't interfere with clicking the
 * connect elements.
 */
.noUi-horizontal .noUi-origin {
  height: 0;
}
.noUi-state-tap .noUi-connect,
.noUi-state-tap .noUi-origin {
  transition: transform 0.3s;
}
.noUi-state-drag * {
  cursor: inherit !important;
}
.noUi-handle {

	position: absolute;
	right: -10px;
	top: -4px;
	width: 20px;
	height: 20px;
	background-color: #a9a9a9;
	border-radius: 50%;
	box-shadow: 1px 1px 2px rgba(0,0,0,.9), inset 1px 1px 1px #fff;
	cursor: pointer;

	&::before {

		position: absolute;
		width: 7px;
		height: 7px;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		border-radius: 50%;
		background-color: #fff;
		content: '';
		box-shadow: inset 1px 1px 1px rgba(0,0,0,.8);

	}

	&:focus {

		outline: none;

	}

}

.noUi-active {

}