.footer {

	flex-shrink: 0;
	font-size: 12px;

	&__menu {

		display: flex;
		justify-content: center;
		box-shadow: 0 0 10px rgba(0,0,0,.3);

		li {

			padding: 12px 8px;

			&::before {

				content: '';
				top: 15px;
				left: 0;
				width: 1px;
				bottom: 15px;
				background-color: var(--light);
				position: absolute;

			}

			&:first-child::before {

				display: none;

			}

			@media ($smWidth) {

				&:first-child {

					display: none;

				}

				&:nth-child(2)::before {

					display: none;

				}

			}

		}

		a {

			display: block;
			line-height: 19px;
			padding: 0 7px;

			&.is-active {

				border-radius: 5px;
				color: #fff;
				background-color: var(--red);

			}

		}

	}

	.center {

		display: flex;
		padding: 20px 0;
		justify-content: space-between;

		@media ($mdWidth) {

			padding: 20px;
			width: 100%;

		}

		@media ($smWidth) {

			flex-direction: column;
			justify-content: center;
			align-items: center;

		}

	}

	&__copyright {

		order: -1;
		line-height: 18px;
		color: var(--light);

		strong {

			font-weight: 400;
			color: var(--color);

		}

		@media ($smWidth) {

			order: 3;

		}

	}

	&__contact {

		@media ($smWidth) {

			order: 1;
			display: flex;
			justify-content: space-around;
			align-items: center;

		}

		@media ($xsWidth) {

			display: block;
			text-align: center;

		}

	}

	&__tel {

		display: block;
		padding-top: 5px;
		line-height: 18px;
		color: var(--light);

		span {

			color: var(--red);

		}

		span ~ span {

			color: var(--color);

		}

		@media ($xsWidth) {

			font-size: 18px;
			padding-top: 0;
			line-height: 24px;
			margin-top: 20px;

		}

	}

	&__counters {

		mix-blend-mode: multiply;

		@media ($smWidth) {

			order: 1;
			margin: 20px;

		}

	}

}