.footer {

	flex-shrink: 0;
	font-size: 12px;

	&__menu {

		display: flex;
		justify-content: center;
		box-shadow: 0 0 10px rgba(0,0,0,.3);

		li {

			padding: 12px 8px;

			&::before {

				content: '';
				top: 15px;
				left: 0;
				width: 1px;
				bottom: 15px;
				background-color: var(--light);
				position: absolute;

			}

			&:first-child::before {

				display: none;

			}

		}

		a {

			display: block;
			line-height: 19px;
			padding: 0 7px;

			&.is-active {

				border-radius: 5px;
				color: #fff;
				background-color: var(--red);

			}

		}

	}

	@media ($mdWidth) {


	}

	.center {

		display: flex;
		padding: 20px 0;
		justify-content: space-between;

	}

	&__copyright {

		order: -1;
		line-height: 18px;
		color: var(--light);

		strong {

			font-weight: 400;
			color: var(--color);

		}

	}

	&__tel {

		display: block;
		padding-top: 5px;
		line-height: 18px;
		color: var(--light);

		span {

			color: var(--red);

		}

		span ~ span {

			color: var(--color);

		}

	}

}