.header {

	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 0 20px;
	z-index: 9;
	box-shadow: 0 0 10px rgba(0,0,0,.3);
	height: 80px;

	@media ($mdWidth) {

		height: 60px;

	}

	&__left {

		display: flex;
		align-items: center;

		@media ($smWidth) {

			.menu-open & {

				flex-grow: 1;
				justify-content: space-between;

			}

		}

		/* IE10+ CSS styles go here */
		@media (-ms-high-contrast: none), (-ms-high-contrast: active) {

			margin-right: auto;

		}

	}

	&__right {

		display: flex;
		align-items: center;

		svg {

			fill: var(--color);

		}

		@media ($smWidth) {

			.menu-open & {

				display: none;

			}

		}

	}

	&__btn-toggle {

		display: block;
		position: relative;
		font-size: 18px;
		text-transform: uppercase;
		text-shadow: 1px 1px 0 #fff;
		margin-left: -10px;

		@media ($smWidth) {

			margin-left: -5px;

			&::before {

				top: 14px;
				left: 6px;

			}

		}

		&::before {

			position: absolute;
			width: 20px;
			height: 2px;
			top: 14px;
			border-radius: 2px;
			left: 10px;
			content: '';
			background-color: var(--color);
			box-shadow: 1px 1px 0 #fff;
			transition: linear .3s;

		}

		span {

			display: block;
			position: relative;
			padding: 0 10px 0 40px;
			line-height: 32px;

			&::after,
			&::before {

				position: absolute;
				width: 20px;
				height: 2px;
				top: 20px;
				left: 10px;
				content: '';
				background-color: var(--color);
				box-shadow: 1px 1px 0 #fff;
				transition: linear .3s;

			}

			&::before {

				top: 8px;

			}

			@media ($smWidth) {

				padding: 0;
				display: block;
				width: 32px;
				height: 32px;
				font-size: 0;
				color: transparent;
				text-shadow: none;

				&::after,
				&::before {

					left: 6px;

				}

			}

		}

		.menu-open & {

			&::before {

				transform: scaleX(0);

			}

			span::after {

				top: 14px;
				transform: rotate(-45deg);
				box-shadow: none;

			}

			span::before {

				top: 14px;
				transform: rotate(45deg);
				box-shadow: none;

			}

		}

	}

	&__logo {

		position: absolute;
		width: 160px;
		height: 56px;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;

		svg {

			path {

				fill: var(--red);

			}

			text {

				fill: var(--color);

			}

		}

		@media ($mdWidth) {

			width: 120px;
			height: 42px;

			svg {

				width: 120px;
				height: 42px;

			}

		}

		@media ($smWidth) {

			.menu-open & {

				display: none;

			}

		}

	}

	&__cart {

		margin-left: 20px;
		position: relative;
		white-space: nowrap;

		&--show &-current,
		&:hover &-current {

			opacity: 1;
			pointer-events: auto;

		}

		&-current {

			opacity: 0;
			pointer-events: none;
			transition: .3s;

			display: flex;
			align-items: center;
			position: absolute;
			top: 40px;
			right: -20px;
			box-shadow: 0 0 10px rgba(0,0,0,.3);
			padding: 8px 14px;
			border-radius: 6px;

			&::before {

				content: attr(data-pre);
				margin-right: 5px;

			}

		}

		&-count {

			border-radius: 50%;
			background-color: var(--red);
			color: #fff;
			width: 15px;
			height: 15px;
			text-align: center;
			line-height: 15px;
			text-shadow: none;
			position: absolute;
			top: -5px;
			right: -3px;
			font-size: 10px;

		}

		.rub::after {

			content: '\20BD';
			margin-left: 2px;

		}

		&--empty &-count,
		&--empty &-value,
		&--empty .rub,
		&--empty &-current::before {

			display: none;

		}

		&--empty &-current::after {

			content: attr(data-empty);

		}

	}

	&__compare,
	&__wishlist {

		margin-left: 20px;

	}

	&__search {

		width: 24px;
		height: 24px;
		position: relative;
		margin-left: 20px;
		z-index: 1;

		@media ($smWidth) {

			margin-left: 10px;

		}

		&-input {

			width: 12px;
			height: 40px;
			padding: 0;
			font-size: 16px;
			border-radius: 6px;
			background-position: right;
			border: 1px solid var(--color);
			text-shadow: 1px 1px 0 #fff;
			transition: .01s;
			transition-delay: .5s;
			position: absolute;
			top: -8px;
			right: 8px;
			opacity: 0;

			@media ($smWidth) {

				border: 0;

			}

			&:focus {

				width: 256px;
				padding: 0 40px 0 15px;
				opacity: 1;
				right: -8px;
				transition: width .2s, height .2s, top .2s, left .2s, right .2s;

				@media ($smWidth) {

					width: 100vw;
					padding: 0 40px 0 20px;
					right: -20px;
					top: -18px;
					height: 60px;

				}

			}

		}

		&-btn {

			position: relative;
			z-index: 1;

		}

		@media ($mdWidth) {


		}

		@media ($smWidth) {


		}

	}

	&__tel {

		white-space: nowrap;
		font-size: 21px;
		line-height: 26px;
		text-shadow: 1px 1px 0 #fff;
		margin-left: 10px;

		@media ($lgWidth) {

			& + & {

				display: none;

			}

		}

		@media ($mdWidth) {

			font-size: 17px;
			line-height: 20px;
			font-weight: 700;

			em {

				font-size: 12px;
				line-height: 14px;

			}

		}

		@media ($smWidth) {

			display: none;
			font-size: 15px;

			.menu-open & {

				display: block;

			}

		}

		em {

			display: block;
			font-size: 14px;
			line-height: 16px;
			font-weight: 400;
			font-style: normal;

		}

		@media ($xsWidth) {

			font-size: 14px;

		}

	}

}