.header {

	display: flex;
	justify-content: space-between;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 20px;
	z-index: 9;
	box-shadow: 0 0 10px rgba(0,0,0,.3);

	&__left,
	&__right {

		display: flex;
		align-items: center;

		svg {

			fill: var(--color);

		}

	}

	&__btn-toggle {

		display: block;
		position: relative;
		font-size: 18px;
		text-transform: uppercase;
		text-shadow: 1px 1px 0 #fff;
		margin-left: -10px;

		&::before {

			position: absolute;
			width: 20px;
			height: 2px;
			top: 14px;
			border-radius: 2px;
			left: 10px;
			content: '';
			background-color: var(--color);
			box-shadow: 1px 1px 0 #fff;
			transition: linear .3s;

		}

		span {

			display: block;
			position: relative;
			padding: 0 10px 0 40px;
			line-height: 32px;

			&::after,
			&::before {

				position: absolute;
				width: 20px;
				height: 2px;
				top: 20px;
				left: 10px;
				content: '';
				background-color: var(--color);
				box-shadow: 1px 1px 0 #fff;
				transition: linear .3s;

			}

			&::before {

				top: 8px;

			}

		}

		.menu-open & {

			&::before {

				transform: scaleX(0);

			}

			span::after {

				top: 14px;
				transform: rotate(-45deg);
				box-shadow: none;

			}

			span::before {

				top: 14px;
				transform: rotate(45deg);
				box-shadow: none;

			}

		}

	}

	&__logo {

		fill: var(--red);
		position: absolute;
		width: 172px;
		height: 60px;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		text-align: center;
		white-space: nowrap;
		font: 15px/18px Arial;

		@media ($mdWidth) {

			svg {

				width: 156px;
				height: 38px;

			}

		}

		@media ($smWidth) {

			svg {

				width: 164px;
				height: 40px;

			}

		}

		@media ($xsWidth) {

			svg {

				width: 140px;
				height: 34px;

			}

		}

	}

	&__cart {

		margin-left: 20px;
		position: relative;
		white-space: nowrap;

		&--show &-current,
		&:hover &-current {

			opacity: 1;
			pointer-events: auto;

		}

		&-current {

			opacity: 0;
			pointer-events: none;
			transition: .3s;

			display: flex;
			align-items: center;
			position: absolute;
			top: 40px;
			right: -20px;
			box-shadow: 0 0 10px rgba(0,0,0,.3);
			padding: 8px 14px;
			border-radius: 6px;

			&::before {

				content: attr(data-pre);
				margin-right: 5px;

			}

		}

		&-count {

			border-radius: 50%;
			background-color: var(--red);
			color: #fff;
			width: 15px;
			height: 15px;
			text-align: center;
			line-height: 15px;
			text-shadow: none;
			position: absolute;
			top: -5px;
			right: -3px;
			font-size: 10px;

		}

		.rub::after {

			content: '\20BD';
			margin-left: 2px;

		}

		&--empty &-count,
		&--empty &-value,
		&--empty .rub,
		&--empty &-current::before {

			display: none;

		}

		&--empty &-current::after {

			content: attr(data-empty);

		}

	}

	&__search {

		width: 24px;
		height: 24px;
		position: relative;
		margin-left: 20px;
		z-index: 1;

		&-input {

			width: 12px;
			height: 40px;
			padding: 0;
			font-size: 16px;
			border-radius: 6px;
			background-position: right;
			border: 1px solid var(--color);
			text-shadow: 1px 1px 0 #fff;
			transition: .01s;
			transition-delay: .5s;
			position: absolute;
			top: -8px;
			right: 8px;
			opacity: 0;

			@media ($smWidth) {

				left: 0;
				font-size: 16px;

				&::placeholder {

					font-size: 14px;

				}

			}

			&:focus {

				width: 256px;
				padding: 0 40px 0 15px;
				opacity: 1;
				right: -8px;
				transition: width .2s, height .2s, top .2s, left .2s, right .2s;

				@media ($mdWidth) {

					top: -6px;
					right: -10px;
					height: 34px;
					width: 100vw;
					border-radius: 0;
					box-shadow: none;

				}

				@media ($smWidth) {

					top: -10px;
					left: -10px;
					height: 42px;

				}

			}

		}

		&-btn {

			position: relative;
			z-index: 1;

		}

		@media ($mdWidth) {

			width: auto;
			flex-grow: 1;
			max-width: 200px;
			margin-left: 10px;

		}

		@media ($smWidth) {

			margin: 0 10px 0 0;

			&-input:focus + &-btn {

				display: none;

			}

		}

	}

	&__tel {

		white-space: nowrap;
		font-size: 21px;
		line-height: 26px;
		text-shadow: 1px 1px 0 #fff;
		margin-left: 10px;

		em {

			display: block;
			font-size: 14px;
			line-height: 16px;
			font-weight: 400;
			font-style: normal;

		}

	}

/*
	&__btn-callback {

		height: 32px;
		padding: 0 10px 0 30px;
		position: relative;
		white-space: nowrap;
		margin-left: 20px;
		font-size: 18px;
		text-transform: uppercase;
		text-shadow: 1px 1px 0 #fff;

		@media ($mdWidth) {

			display: none;

		}

		&::before {

			position: absolute;
			width: 18px;
			height: 18px;
			top: 6px;
			left: 2px;
			content: '';
			background-size: contain;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 384'%3E%3Cpath fill='%23393939' d='M353.188 252.052c-23.51 0-46.594-3.677-68.469-10.906-10.719-3.656-23.896-.302-30.438 6.417l-43.177 32.594c-50.073-26.729-80.917-57.563-107.281-107.26l31.635-42.052c8.219-8.208 11.167-20.198 7.635-31.448-7.26-21.99-10.948-45.063-10.948-68.583C132.146 13.823 118.323 0 101.333 0h-70.52C13.823 0 0 13.823 0 30.813 0 225.563 158.438 384 353.188 384c16.99 0 30.813-13.823 30.813-30.813v-70.323c-.001-16.989-13.824-30.812-30.813-30.812z'/%3E%3C/svg%3E");

		}

	} */

}

@media ($smWidth) {

}