.home {

	&__catalog {

		padding-top: 30px;

		@media ($smWidth) {

			padding: 10px 20px 0;

		}

		@media ($xsWidth) {

			padding: 0 15px;

		}

	}

	&__hr {

		margin: 20px 0;

		@media ($smWidth) {

			margin: 0 -20px;

		}

		@media ($xsWidth) {

			margin: 0 -15px;

		}

	}

	&__articles {

		margin-bottom: 50px;

		@media ($smWidth) {

			margin: 20px auto;
			max-width: 420px;
			padding: 0 20px;

			.h1 {

				margin: 0 0 10px;

			}

		}

		@media ($xsWidth) {

			padding: 0;

		}

		ul {

			display: flex;
			justify-content: space-between;
			margin-top: 30px;

			@media ($smWidth) {

				display: block;

			}

		}

		li {

			max-width: 100%;
			width: calc(100% / 3 - 15px);

			img {

				display: block;
				max-width: 100%;
				object-fit: cover;

				@media ($smWidth) {

					width: auto;
					height: auto;

				}

			}

			@media ($smWidth) {

				width: auto;
				margin-bottom: 30px;

			}

		}

		figcaption {

			display: block;
			font-size: 20px;
			margin: 14px 0;
			font-weight: normal;
			color: var(--red);

			@media ($smWidth) {

				margin: 8px 0;

			}

		}

	}

}