.home {

	display: flex;
	flex-direction: column;

	&__cat {

		padding-top: 30px;

	}

	&__hr {

		margin: 20px 0;

	}

	&__article {

		img {

			float: left;
			margin: 0 18px 10px 0;

		}

		p {

			margin: 18px 0;
			line-height: 20px;

			strong {

				color: var(--red);
				font-weight: 400;

			}

		}

		h2 {

			color: var(--light);
			font-weight: normal;
			font-size: 24px;

		}

		hr {

			margin-top: 40px;

		}

	}

	&__articles {

		margin-bottom: 50px;

		ul {

			display: flex;
			justify-content: space-between;

		}

		li {

			width: 284px;

			@media ($mdWidth) {

				width: calc(100% / 3 - 10px);

				img {

					max-width: 100%;

				}

			}

		}

		figcaption {

			display: block;
			font-size: 20px;
			margin: 14px 0;
			font-weight: normal;
			color: var(--red);

		}

	}

}