.infoblock {

	h1,
	h2,
	h3,
	h4 {

		margin: 5px 0 22px;
		font-size: 30px;
		line-height: 36px;
		font-weight: 400;

	}

	h2 {
		font-size: 26px;
		line-height: 30px;
	}

	h3 {
		font-size: 22px;
		line-height: 26px;
	}

	h4 {
		font-size: 18px;
		line-height: 22px;
	}

	hr {

		margin: 28px 0;
		width: 100%;
		clear: both;

	}

	b {

		font-weight: 500;
		color: 000;

	}

	p {

		margin: 18px 0;
		text-align: justify;

	}

	time {

		color: #7e7e7e;

		& + p {

			margin-top: 10px;

		}

		&::before {

			width: 20px;
			height: 20px;
			content: '';
			background-size: contain;
			background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 512 512' fill='%23929292' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M144 249h-32c-8.284 0-15 6.716-15 15s6.716 15 15 15h32c8.284 0 15-6.716 15-15s-6.716-15-15-15zM144 313h-32c-8.284 0-15 6.716-15 15s6.716 15 15 15h32c8.284 0 15-6.716 15-15s-6.716-15-15-15zM144 377h-32c-8.284 0-15 6.716-15 15s6.716 15 15 15h32c8.284 0 15-6.716 15-15s-6.716-15-15-15zM272 249h-32c-8.284 0-15 6.716-15 15s6.716 15 15 15h32c8.284 0 15-6.716 15-15s-6.716-15-15-15zM272 313h-32c-8.284 0-15 6.716-15 15s6.716 15 15 15h32c8.284 0 15-6.716 15-15s-6.716-15-15-15zM272 377h-32c-8.284 0-15 6.716-15 15s6.716 15 15 15h32c8.284 0 15-6.716 15-15s-6.716-15-15-15zM400 249h-32c-8.284 0-15 6.716-15 15s6.716 15 15 15h32c8.284 0 15-6.716 15-15s-6.716-15-15-15zM400 313h-32c-8.284 0-15 6.716-15 15s6.716 15 15 15h32c8.284 0 15-6.716 15-15s-6.716-15-15-15zM400 377h-32c-8.284 0-15 6.716-15 15s6.716 15 15 15h32c8.284 0 15-6.716 15-15s-6.716-15-15-15z'/%3E%3Cpath d='M467 65h-36V40c0-8.284-6.716-15-15-15s-15 6.716-15 15v25H271V40c0-8.284-6.716-15-15-15s-15 6.716-15 15v25H111V40c0-8.284-6.716-15-15-15s-15 6.716-15 15v25H45C20.187 65 0 85.187 0 110v332c0 24.813 20.187 45 45 45h422c24.813 0 45-20.187 45-45V110c0-24.813-20.187-45-45-45zM30 110c0-8.271 6.729-15 15-15h36v25c0 8.284 6.716 15 15 15s15-6.716 15-15V95h130v25c0 8.284 6.716 15 15 15s15-6.716 15-15V95h130v25c0 8.284 6.716 15 15 15s15-6.716 15-15V95h36c8.271 0 15 6.729 15 15v59H30zm437 347H45c-8.271 0-15-6.729-15-15V199h452v243c0 8.271-6.729 15-15 15z'/%3E%3C/svg%3E");
			float: left;
			margin-right: 10px;

		}

	}

	img {

		max-width: 100%;

	}

	@media ($mdWidth) {

		iframe {

			max-width: 100%;
			max-height: 50vw;

		}

	}

	&__img-left {

		float: left;
		margin-right: 20px;
		margin-bottom: 10px;

	}

	a {

		text-decoration: underline;

		&:hover {

			text-decoration: none;

		}

	}

	strong {

		color: var(--red);

	}

	li {

		font-size: 16px;
		line-height: 25px;
		padding-left: 28px;

	}

	ol {

		counter-reset: headings 0;
		margin-bottom: 28px;

		& > li::before {

			position: absolute;
			top: 0;
			left: 0;
			counter-increment: headings 1;
			content: counter(headings, decimal) '.';

		}

	}

	ul {

		margin-bottom: 28px;

		li::before {

			position: absolute;
			top: 11px;
			left: 6px;
			width: 5px;
			height: 5px;
			content: '';
			border-radius: 50%;
			background: var(--color);

		}

	}

	@media ($smWidth) {

		h1, h2, h3, h4 {
			font-size: 20px;
			line-height: 24px;
			margin-bottom: 10px;
		}

		hr {
			margin: 20px 0;
		}

		p {
			font-size: 14px;
			line-height: 21px;
			margin: 14px 0;
		}

		ul {

			margin-bottom: 14px;

		}

		li {

			font-size: 14px;
			line-height: 20px;

		}

	}

	&__list {

		margin: 20px 0;

		hr {

			margin: 0;

		}

	}

	&__readme {

		display: flex;
		justify-content: flex-end;

	}

	&__articles {

		display: flex;
		margin: 20px 0;
		align-items: flex-start;

		@media ($smWidth) {

			display: block;

		}

		h2 {

			color: var(--red);
			margin: 10px 0;
			font-size: 20px;

		}

		a {

			color: var(--red);
			text-decoration: underline;

		}

		&-img {

			display: block;
			margin-right: 20px;
			padding: 15px;
			width: 300px;
			max-width: 100%;
			flex-shrink: 0;
			background-color: #fff;
			box-shadow: inset 1px 1px 1px rgba(0,0,0,.21), 1px 1px 0 #fff;

			img {

				display: block;
				max-width: 100%;
				margin: auto;

			}

			@media ($mdWidth) {

				width: 220px;

				img {

					width: auto;
					height: auto;

				}

			}

			@media ($smWidth) {

				width: 384px;
				margin: 20px 0;

			}

		}

	}

}


.achtung {

	padding-left: 30px;
	position: relative;
	background-image: url("data:image/svg+xml,%3Csvg fill='%23929292' viewBox='0 0 512 512' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M256.035 320.004c-8.837 0-16-7.164-16-16v-112c0-8.836 7.163-16 16-16s16 7.164 16 16v112c0 8.837-7.163 16-16 16z'/%3E%3Cpath d='M505.296 400.334l-199.19-331.98c-22.6-37.681-77.496-37.754-100.14 0L6.775 400.334c-18.837 31.395 3.826 71.67 40.58 71.67h417.36c36.76 0 59.414-40.28 40.581-71.67zm-40.581 39.67H47.356c-11.922 0-19.232-13.07-13.14-23.21l199.19-331.98c10.219-17.033 35.028-17.053 45.26 0l199.19 331.98c6.085 10.129-1.208 23.21-13.141 23.21z'/%3E%3Ccircle cx='256' cy='360' r='24'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-size: 20px 20px;
	margin: 20px 0;

}

.w100p {

	width: 100%;

}