.infoblock {

	h1,
	h2,
	h3,
	h4 {

		margin: 5px 0 22px;
		font-size: 30px;
		line-height: 36px;
		font-weight: 400;

	}

	h2 {
		font-size: 26px;
		line-height: 30px;
	}

	h3 {
		font-size: 22px;
		line-height: 26px;
	}

	h4 {
		font-size: 18px;
		line-height: 22px;
	}

	hr {

		margin: 28px 0;
		width: 100%;
		clear: both;

	}

	p {

		margin: 18px 0;

	}

	img {

		max-width: 100%;

	}

	&__img-left {

		float: left;
		margin-right: 20px;
		margin-bottom: 10px;

	}

	a {

		text-decoration: underline;

		&:hover {

			text-decoration: none;

		}

	}

	strong {

		color: var(--red);

	}

	li {

		font-size: 16px;
		line-height: 25px;
		padding-left: 28px;

	}

	ol {

		counter-reset: headings 0;
		margin-bottom: 28px;

		& > li::before {

			position: absolute;
			top: 0;
			left: 0;
			counter-increment: headings 1;
			content: counter(headings, decimal) '.';

		}

	}

	ul {

		margin-bottom: 28px;

		li::before {

			position: absolute;
			top: 11px;
			left: 6px;
			width: 5px;
			height: 5px;
			content: '';
			border-radius: 50%;
			background: var(--color);

		}

	}

	@media ($smWidth) {

		h1, h2, h3, h4 {
			font-size: 20px;
			line-height: 24px;
			margin-bottom: 10px;
		}

		hr {
			margin: 20px 0;
		}

		p {
			font-size: 14px;
			line-height: 21px;
			margin: 14px 0;
		}

		ul {

			margin-bottom: 14px;

		}

		li {

			font-size: 14px;
			line-height: 20px;

		}

	}

	&__list {

		margin: 20px 0;

		hr {

			margin: 0;

		}

	}

	&__readme {

		display: flex;
		justify-content: flex-end;

	}

	&__articles {

		display: flex;
		margin: 20px 0;
		align-items: flex-start;

		@media ($smWidth) {

			display: block;

		}

		h2 {

			color: var(--red);
			margin: 10px 0;
			font-size: 20px;

		}

		a {

			color: var(--red);
			text-decoration: underline;

		}

		&-img {

			margin-right: 20px;
			padding: 20px;
			width: 300px;
			flex-shrink: 0;
			background-color: #fff;
			box-shadow: inset 1px 1px 1px rgba(0,0,0,.21), 1px 1px 0 #fff;

			img {

				display: block;
				max-width: 100%;
				margin: auto;
				height: auto;

			}

			@media ($mdWidth) {

				width: 200px;

			}

			@media ($smWidth) {

				width: 300px;
				max-width: 100%;
				margin: 20px 0;
				display: block;

			}

		}

	}

}