.map-toggle {

	&__box {

		overflow: hidden;
		transition: 1s;

	}

	&--hide &__box {

		height: 0 !important;

	}

	&--hide &__btn::before {

		content: attr(data-show);

	}

	&--hide &__btn::after {

		transform: scaleY(-1);

	}

	&__btn {

		font-size: 0;
		color: transparent;
		margin-bottom: 12px;

		&::before {

			content: attr(data-hide);
			font-size: 16px;
			color: var(--red);

		}

		&::after {

			width: 0;
			height: 0;
			content: '';
			display: inline-block;
			margin-left: 5px;
			position: relative;
			top: -1px;
			transition: 1s;
			border-width: 6px 4px 0;
			border-color: var(--red) transparent transparent;
			border-style: solid;

		}

	}

}