.visible-md,
.visible-sm,
.visible-xs {
	display: none;
}

.center {

	width: 972px;
	max-width: 100%;
	margin: 0 auto;
	position: relative;

}

@media ($desktop) {


}

@media ($mdWidth) {

	.hidden-md {

		display: none !important;

	}

	.visible-md {

		display: block;

	}

	.center {

		width: 728px;

	}

}

@media ($smWidth) {

	.hidden-sm {

		display: none !important;

	}

	.visible-sm {

		display: block;

	}

	.mobile-padding {

		margin: 20px;
		width: auto;

	}

}

@media ($xsWidth) {

	.hidden-xs {

		display: none !important;

	}

	.visible-xs {

		display: block;

	}

	.mobile-padding {

		margin: 15px;

	}

}