.modal-show {

	.wrapper {

		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: 12px;
		overflow: hidden;
		pointer-events: none;
		z-index: 1;

		@media ($mdWidth) {

			margin: 0;

		}

		@media ($smWidth) {

			display: none;

		}

	}

}

.modal {

	flex-grow: 1;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgba(255,255,255,.97);
	z-index: 2;

	@media ($mdWidth) {

		padding: 15px;

	}

	&__box {

		position: relative;
		display: flex;
		width: 420px;
		max-width: calc(100% - 30px);
		margin: auto;
		flex-grow: 0;
		min-width: 290px;

	}

	&__item {

		border-radius: 4px;
		padding: 40px 50px;
		background-color: #fff;
		border: 1px solid var(--color);
		flex-grow: 1;

		@media ($mdWidth) {

			padding: 20px;
			max-width: 100%;

		}

	}

	&__title {

		text-align: center;
		font-size: 24px;
		line-height: 30px;
		font-weight: normal;
		margin-bottom: 12px;

		@media ($mdWidth) {

			font-size: 20px;
			line-height: 26px;
			margin-top: 6px;

		}

	}

	&__text {

		font-size: 16px;
		line-height: 1.5;
		text-align: center;
		margin: 12px 0 25px;

	}

	&__text-error {

		font-size: 16px;
		line-height: 20px;
		text-align: center;
		color: var(--red);

	}

	&__input {

		margin: 20px 0;

	}

	&__checkbox {

		margin: 20px 0;

	}

	&__btn {

		display: block;
		width: 100%;
		margin-top: 20px;

	}

	&__close-btn {

		position: absolute;
		top: 6px;
		right: 6px;
		width: 40px;
		height: 40px;
		font-size: 0;
		color: transparent;
		outline:1px solid red;
		background: url(/images/sprite-new.svg) -68px -57px;

	}


}