.nav {

	background-color: rgba(0,0,0,.5);
	display: flex;
	z-index: 9;
	position: relative;
	flex-grow: 1;
	padding-top: 72px;

	&__btn-toggle {

		display: block;
		position: relative;
		font-size: 18px;
		text-transform: uppercase;
		text-shadow: 1px 1px 0 #fff;
		position: absolute;
		top: 20px;
		left: 10px;
		z-index: 1;

		&::before {

			position: absolute;
			width: 20px;
			height: 2px;
			top: 14px;
			border-radius: 2px;
			left: 10px;
			content: '';
			background-color: var(--color);
			box-shadow: 1px 1px 0 #fff;
			transition: linear .3s;

		}

		span {

			display: block;
			position: relative;
			padding: 0 10px 0 40px;
			line-height: 32px;

			&::after,
			&::before {

				position: absolute;
				width: 20px;
				height: 2px;
				top: 20px;
				left: 10px;
				content: '';
				background-color: var(--color);
				box-shadow: 1px 1px 0 #fff;
				transition: linear .3s;

			}

			&::before {

				top: 8px;

			}

		}

		.modal-show & {

			&::before {

				transform: scaleX(0);

			}

			span::after {

				top: 14px;
				transform: rotate(-45deg);
				box-shadow: none;

			}

			span::before {

				top: 14px;
				transform: rotate(45deg);
				box-shadow: none;

			}

		}

	}

	&__inner {

		position: relative;

	}

	&__list {

		position: static;
		padding: 20px 0;

	}

	&__item {

		position: static;
		padding: 0 32px 0 20px;

		&.is-hover {

			background-color: var(--color);

		}

		&-arrow {

			position: absolute;
			top: 0;
			right: -16px;
			bottom: 0;
			height: 14px;
			margin: auto;

		}

	}

	&__item.is-hover &__sub {

		display: block;

	}

	&__sub {

		position: absolute;
		top: 0;
		left: 100%;
		bottom: 0;
		display: none;
		width: 150%;
		padding: 10px 20px;
		background-color: var(--color);

		&-item {

			font-size: 16px;
			line-height: 20px;

			&:first-child {

				font-size: 22px;
				line-height: 24px;
				padding-top: 12px;

			}

		}

		&--columns {

			width: 300%;
			column-count: 2;

		}

		&--columns &-list {

			width: 100%;
			display: inline-block;
			-webkit-column-break-inside: avoid;
			page-break-inside: avoid;
			break-inside: avoid;

		}

	}

	&__item.is-hover &__head {

		color: #fff;
		text-shadow: 1px 1px 0 #000;
		fill: var(--bg);

	}

	&__head {

		display: block;
		font-size: 18px;
		line-height: 24px;
		text-transform: uppercase;
		text-shadow: 1px 1px 0 #fff;
		position: relative;
		white-space: nowrap;
		padding: 10px;
		fill: var(--color);

	}

	&__link {

		color: #fff;
		padding: 8px 10px;
		display: block;
		position: relative;
		text-decoration: underline !important;
		text-decoration-color: transparent !important;
		transition: .3s;

		&:hover {

			text-decoration-color: #fff !important;

		}

		@media ($mdWidth) {

		}

		@media ($smWidth) {

		}

	}

	&__tel {

		height: 72px;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;

		li {

			padding: 0 20px;

		}

		a {

			white-space: nowrap;
			font-size: 24px;
			line-height: 36px;
			text-shadow: 1px 1px 0 #fff;

			em {

				display: block;
				font-size: 14px;
				line-height: 16px;
				font-weight: 400;
				font-style: normal;
				text-align: right;

			}

		}

	}

}