.nav {

	background-color: rgba(0,0,0,.5);
	display: flex;
	z-index: 9;
	top: 80px;
	left: 0;
	right: 0;
	bottom: 0;
	position: fixed;
	flex-grow: 1;

	@media ($mdWidth) {

		top: 60px;

	}

	&__inner {

		position: relative;

	}

	&__list {

		position: static;
		padding: 20px 0;

		@media ($mdWidth) {

			padding: 10px 0;
			width: 228px;

		}

	}

	&__item {

		position: static;
		padding: 0 20px;

		@media ($mdWidth) {

			padding-left: 10px;

		}

		&.is-hover {

			background-color: var(--color);

		}

	}

	&__item.is-hover &__level2 {

		display: block;

	}

	&__level2 {

		position: absolute;
		top: 0;
		left: 100%;
		bottom: 0;
		display: none;
		width: 150%;
		padding: 20px 0;
		background-color: var(--color);

		@media ($lgWidth) {

			width: 137%;

		}

		@media ($mdWidth) {

			width: 270px;
			padding: 10px 0;

		}

		&-item {

			padding: 12px 30px;
			font-size: 16px;
			line-height: 20px;
			position: relative;

			@media ($mdWidth) {

				padding: 10px 30px 10px 20px;
				font-size: 14px;
				line-height: 20px;

			}

			&--parent::after {

				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				content: '';
				width: 34px;
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' heigh='14' viewBox='0 0 256 256'%3E%3Cpath fill='white' d='M79.093 0L48.907 30.187 146.72 128l-97.813 97.813L79.093 256l128-128z'/%3E%3C/svg%3E");
				background-position: left;
				background-repeat: no-repeat;

			}

		}

		&-list:hover &-item--parent {

			background-image: linear-gradient(to right, var(--color) 30px, #313131 100px);

		}

		&-link {

			color: #fff;
			border-bottom: 1px solid transparent;
			transition: .1s;

			&:hover {

				border-bottom-color: #fff;

			}

		}

	}

	&__level2-list:hover &__level3 {

		display: block;

	}

	&__level3 {

		position: absolute;
		top: 0;
		left: 100%;
		bottom: 0;
		display: none;
		width: 100%;
		padding: 20px;
		background-color: #313131;

		@media ($mdWidth) {

			padding: 10px 0;

		}

		&-item {

			padding: 12px 10px;
			font-size: 16px;
			line-height: 20px;

			@media ($mdWidth) {

				padding: 10px 20px;
				font-size: 14px;
				line-height: 20px;

			}

		}

		&-link {

			color: #fff;
			border-bottom: 1px solid transparent;
			transition: .1s;

			&:hover {

				border-bottom-color: #fff;

			}

		}

	}

	&__item.is-hover &__head {

		color: #fff;
		text-shadow: 1px 1px 0 #000;

		&--arrow::after {

			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' heigh='14' viewBox='0 0 256 256'%3E%3Cpath fill='%23f8f8f8' d='M79.093 0L48.907 30.187 146.72 128l-97.813 97.813L79.093 256l128-128z'/%3E%3C/svg%3E");

		}

	}

	&__head {

		display: block;
		font-size: 18px;
		line-height: 24px;
		text-transform: uppercase;
		text-shadow: 1px 1px 0 #fff;
		position: relative;
		white-space: nowrap;
		padding: 10px;
		padding-right: 30px;

		@media ($mdWidth) {

			font-size: 16px;
			line-height: 20px;

		}

		&--arrow::after {

			position: absolute;
			top: 0;
			right: -5px;
			bottom: 0;
			content: '';
			width: 14px;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' heigh='14' viewBox='0 0 256 256'%3E%3Cpath fill='%23393939' d='M79.093 0L48.907 30.187 146.72 128l-97.813 97.813L79.093 256l128-128z'/%3E%3C/svg%3E");
			background-position: left;
			background-repeat: no-repeat;

		}

	}

	&__link {

		color: #fff;
		padding: 8px 10px;
		display: block;
		position: relative;
		text-decoration: underline !important;
		text-decoration-color: transparent !important;
		transition: .3s;

		&:hover {

			text-decoration-color: #fff !important;

		}

		@media ($mdWidth) {

		}

		@media ($smWidth) {

		}

	}

}