.office-select {

	&__input-box {

		position: relative;
		margin-bottom: 20px;

	}

	&__reset {

		position: absolute;
		width: 20px;
		height: 20px;
		top: 50%;
		margin-top: -10px;
		right: 12px;
		font-size: 0;
		color: transparent;
		background: url(/images/sprite-new.svg) -539px -30px;

	}

	&__contact {

		margin: 30px 0;
		font-size: 16px;
		line-height: 20px;
		padding-left: 34px;

		&-item {

			position: relative;
			margin: 18px 0;

			&::before {

				position: absolute;
				width: 20px;
				height: 20px;
				top: 0;
				left: -36px;
				content: '';
				background-image: url(/images/sprite-new.svg);

			}

		}

		&-tel {

			&::before {

				background-position: -407px -30px;

			}

			a {

				color: var(--red);

			}

		}

		&-time {

			&::before {

				background-position: -454px -30px;

			}

		}

		&-address {

			&::before {

				background-position: -498px -30px;

			}

		}

	}

	&__btn-toggle-rasp {

		text-decoration: underline;
		color: var(--red);
		font-size: 16px;
		height: 20px;

		&:hover {

			text-decoration: none;

		}

	}

	&__lunch {

		color: var(--light);
		display: inline-block;

		@media ($smWidth) {

			display: block;

		}

		&::before {

			content: '/ ';

			@media ($smWidth) {

				display: none;

			}

		}

	}

	&__rasp {

		overflow: hidden;
		white-space: nowrap;
		text-align: center;
		font-size: 12px;
		line-height: 15px;
		height: 0;
		transition: .5s;
		position: relative;

		@media ($mdWidth) {

			margin-left: -34px;
			overflow-x: auto;
			overflow-y: hidden;


		}

		table {

			border-collapse: collapse;
			border: 0;

		}

		.is-today {

			background-color: color(var(--yellow) a(20%));

		}

		th {

			font-size: 12px;
			line-height: 18px;
			font-weight: 400;
			padding: 2px;
			border-top: 14px solid #fff;

			&::after {

				display: block;
				height: 2px;
				content: '';
				background-color: var(--yellow);

			}

			&.is-today::after {

				background-color: #fff;

			}

		}

		td {

			padding: 5px 12px;
			vertical-align: middle;

		}


		&-lunch {

			td {

				font-size: 10px;
				color: var(--light);
				padding: 0 2px;

				&[colspan="6"] {

					&::before {

						content: '';
						display: block;
						height: 1px;
						opacity: .4;
						background-color: var(--light);

					}

				}

			}

		}

	}

	&__lovizaim {

		margin: 25px 0;
		font-size: 16px;
		line-height: 22px;

		img {

			display: block;
			margin: 10px 0;

		}

	}

}