.pagin  {

	margin: 10px 0;
	display: flex;
	flex-wrap: wrap;
	align-items: center;

	@media ($mdWidth) {

		justify-content: center;

	}

	&__item {

		span {

			display: block;
			padding: 5px 10px;

		}

		a {

			color: var(--red);
			display: block;
			padding: 5px 10px;

		}

		&--prev,
		&--next {

			font-size: 0;
			color: transparent;

			a::before {

				font-size: 14px;
				color: var(--red);
				content: '←';
				text-decoration: none !important;

			}

		}

		&--next {

			a::before {

				content: '→';

			}

		}

	}

}