.pagin  {

	margin: 10px 0;
	display: flex;
	flex-wrap: wrap;
	align-items: center;

	@media ($mdWidth) {

		justify-content: center;

	}

	li {

		span {

			display: block;
			padding: 5px 10px;

		}

		a {

			color: var(--red);
			display: block;
			padding: 5px 10px;

		}

	}

}