.related-links  {

	margin: 20px 0 34px;

	&__list {

		li {

			&::after {

				color: var(--color);
				font-size: 14px;
				content: '(' attr(data-count) ')';

			}

			& + li {

				margin-top: 16px;

			}

		}

		a {

			color: #6e6e6e;
			font-size: 16px;
			line-height: 18px;
			text-decoration: none;

			&:hover {

				text-decoration: underline;

			}

		}

	}


}