.review {

	position: relative;

	&__all {

		position: absolute;
		top: 0;
		right: 0;

		@media ($smWidth) {

			position: static;
			margin-bottom: 12px;

		}

	}

	&__item {

		&::before {

			display: block;
			height: 2px;
			width: 256px;
			max-width: 100%;
			content: '';
			margin: 10px 0;
			background-color: color(var(--light) a(20%));
			border-top: 1px solid #fff;

		}

		& + & {

			margin-top: 20px;

		}

	}

}