
@import url(variables.css);
@import url(media.css);
@import url(catalog-cards.css);

@import url(breadcrumbs.css);
@import url(youtube.css);
@import url(infoblock.css);

@import url(swiper.css);
@import url(gallery.css);

.show-room-gallery {

	margin: 20px 0;

	.catalog-cards__item:nth-child(n+13) {

		display: none;

	}

}

.show-room-address {

	&__list {

		display: flex;
		flex-wrap: wrap;

	}

	&__item {

		padding: 0 30px;
		position: relative;

		@media ($smWidth) {

			margin-bottom: 8px;

		}

		svg {

			position: absolute;
			top: 3px;
			left: 0;
			fill: #929292;

		}

		b {

			color: #000;
			display: block;
			font-weight: 500;

		}

	}

}

.show-room-parking {

	.h2 {

		font-size: 20px;
		margin: 30px 0 10px;

	}

	&__list {

		display: flex;

		@media ($smWidth) {

			display: block;

		}

	}

	&__item {

		padding: 0 30px;
		position: relative;
		width: 50%;

		@media ($smWidth) {

			margin-bottom: 8px;
			width: 100%;

		}

		svg {

			position: absolute;
			top: 3px;
			left: 0;
			fill: #929292;

		}

		b {

			color: #000;
			display: block;
			font-weight: 500;

		}

	}

	a {

		color: var(--red);
		text-decoration: underline;

		&:hover {

			text-decoration: none;

		}

	}

}

.show-room-attention {

	.h2 {

		font-size: 20px;
		margin: 30px 0 10px;

	}

	&__text {

		padding: 0 30px;
		position: relative;
		background-image: url("data:image/svg+xml,%3Csvg fill='%23929292' viewBox='0 0 512 512' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M256.035 320.004c-8.837 0-16-7.164-16-16v-112c0-8.836 7.163-16 16-16s16 7.164 16 16v112c0 8.837-7.163 16-16 16z'/%3E%3Cpath d='M505.296 400.334l-199.19-331.98c-22.6-37.681-77.496-37.754-100.14 0L6.775 400.334c-18.837 31.395 3.826 71.67 40.58 71.67h417.36c36.76 0 59.414-40.28 40.581-71.67zm-40.581 39.67H47.356c-11.922 0-19.232-13.07-13.14-23.21l199.19-331.98c10.219-17.033 35.028-17.053 45.26 0l199.19 331.98c6.085 10.129-1.208 23.21-13.141 23.21z'/%3E%3Ccircle cx='256' cy='360' r='24'/%3E%3C/svg%3E");
		background-repeat: no-repeat;
		background-size: 20px 20px;

		b {

			color: #000;
			display: block;
			font-weight: 500;

		}

		a[href] {

			color: var(--red);
			text-decoration: underline;

			&:hover {

				text-decoration: none;

			}

		}

	}

}

.show-room {

	&-form {

		width: 576px;
		max-width: 100%;
		margin: auto;
		padding: 30px 0;

		&__row {

			display: flex;
			justify-content: space-between;
			margin: 20px 0;

			@media ($smWidth) {

				display: block;

			}

		}

		&__input {

			width: calc(50% - 5px);

			@media ($smWidth) {

				width: 100%;
				margin: 20px 0;

			}

		}

		&__btn {

			display: flex;
			justify-content: center;

		}

	}

}

