.slider {

	position: relative;
	height: 365px;

	@media ($mdWidth) {

		width: 100%;
		height: auto;

	}

	&__list {

		display: flex;
		background-color: #fff;

	}

	&__item {

		width: 100%;

	}

	&__link {

		display: block;

	}

	&__img {

		display: block;
		margin: auto;

		@media ($mdWidth) {

			width: 100%;
			height: auto;

		}

	}

}