.slider {

	position: relative;
	margin-top: -20px;

	.swiper-pagination-bullet {

		border-radius: 5px;
		width: 30px;

	}

	.swiper-container:not(.swiper-container-autoheight) .swiper-slide:nth-child(n+2) {

		display: none;

	}

	@media ($desktop) {

		.swiper-button-next {

			right: 50%;
			margin-right: -550px;

		}

		.swiper-button-prev {

			left: 50%;
			margin-left: -550px;

		}

		.swiper-pagination {

			margin-top: 20px;

		}

	}

	@media ($lgWidth) {

		.swiper-button-next {

			right: 20px;
			margin-right: 0;

		}

		.swiper-button-prev {

			left: 20px;
			margin-left: 0;

		}

	}

	@media ($smWidth) {

		margin-top: 0;

		.swiper-button-next,
		.swiper-button-prev {

			display: none;

		}

		.swiper-pagination {

			position: absolute;
			left: 0;
			right: 0;
			bottom: 10px;
			margin: 0;

		}

	}

	&__list {

		display: flex;

	}

	&__item {

	}

	.center {

		width: 1170px;
		height: 585px;
		display: flex;
		align-items: center;

		@media ($lgWidth) {

			height: 500px;

		}

		@media ($smWidth) {

			height: auto;

		}

	}

	&__btn {

		display: flex;
		margin-top: 20px;

		@media ($smWidth) {

			justify-content: center;

		}

	}

	&__note {

		font-size: 16px;

		@media ($smWidth) {

			font-size: 14px;

		}

	}

	&__img {

		position: absolute;
		width: 50%;
		height: 100%;
		top: 0;
		left: 50%;
		object-fit: contain;
		object-position: right;

		@media ($smWidth) {

			left: 0;
			width: 100%;
			object-position: center;

		}

	}

	&__content {

		position: relative;
		width: 50%;
		margin-left: 100px;

		@media ($lgWidth) {

			margin-left: 80px;

		}

		@media ($smWidth) {

			width: 100%;
			margin: 0;
			padding: 10px 20px 50px;
			text-align: center;
			background-color: rgba(255,255,255,.5);
			text-shadow: 0 0 1px #fff;

		}

	}

	&__figcaption {

		@media ($smWidth) {

			padding: 20px 20px 40px;
			font-size: 18px;

		}

		text-transform: uppercase;
		text-align: center;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		padding: 25px 100px;
		color: #fff;
		font-weight: 700;
		font-size: 24px;
		background-color: rgba(0,0,0,.2);
		text-shadow:
				 0   -1px 1px var(--color),
				 0   -1px 1px var(--color),
				 0    1px 1px var(--color),
				 0    1px 1px var(--color),
				-1px  0   1px var(--color),
				 1px  0   1px var(--color),
				-1px  0   1px var(--color),
				 1px  0   1px var(--color),
				-1px -1px 1px var(--color),
				 1px -1px 1px var(--color),
				-1px  1px 1px var(--color),
				 1px  1px 1px var(--color),
				-1px -1px 1px var(--color),
				 1px -1px 1px var(--color),
				-1px  1px 1px var(--color),
				 1px  1px 1px var(--color);

	}

	&__figure {

		width: 100%;

	}

	&__picture {

		object-fit: cover;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;

		@media ($smWidth) {

			position: relative;
			display: block;
			height: 100vw;

		}

	}

}