.social  {

	margin: -5px;
	display: flex;

	&__item {

		margin: 5px;

	}

	&__link {

		display: block;
		width: 36px;
		height: 36px;
		border-radius: 50%;
		color: transparent;
		font-size: 0;
		background-image: url(/images/sprite-new.svg);

		&--vk {

			background-position: -30px -116px;

		}

		&--ok {

			background-position: -76px -116px;

		}

		&--facebook {

			background-position: -122px -116px;

		}

		&--twitter {

			background-position: -214px -116px;

		}

		&--instagram {

			background-position: -306px -116px;

		}

		&--youtube {

			background-position: -168px -116px;

		}

		&--mm {

			background-position: -260px -116px;

		}

	}

}