
.social-share  {

	margin: 40px 0;
	display: flex;
	flex-wrap: wrap;

	li {

		margin: 0 5px 10px 5px;

	}

	a {

		display: block;
		width: 125px;
		border-radius: 18px;
		position: relative;
		padding-left: 36px;
		color: #fff;
		height: 35px;
		line-height: 33px;
		font-weight: 300;

		a:hover {

			opacity: .9;

		}

		&::before {

			content: '';
			width: 28px;
			height: 28px;
			position: absolute;
			top: 4px;
			left: 7px;
			background-image: url(https://centrofinans.ru/bitrix/templates/centrofinans/images/sprite.svg)

		}

	}

	&__vkontakte {

		background-color: #45668e;

		&::before {

			background-position: -316px -640px;

		}

	}

	&__facebook {

		background-color: #3c5897;

		&::before {

			background-position: -362px -640px;

		}

	}

	&__twitter {

		background-color: #56acee;

		&::before {

			background-position: -408px -640px;

		}

	}

}