.subscribe {

	text-align: center;

	&--bg {

		padding: 34px 0 60px;
		background-color: var(--bg);

	}

	&__form {

	}

	&__head {

		padding: 20px 0;

	}

	&__box {

		display: flex;
		width: 420px;
		margin: auto;
		position: relative;

		@media ($smWidth) {

			width: 100%;
			display: block;

		}

		&::after {

			position: absolute;
			width: 25px;
			height: 25px;
			top: 12px;
			left: 16px;
			content: '';
			background: url(/images/sprite.svg) -px -px;
			pointer-events: none;
			outline:1px solid red;

		}

	}

	&__input {

		width: 256px;
		border-radius: 4px 0 0 4px;
		border-right: 0;
		padding-left: 50px;
		border-color: var(--light);

		@media ($smWidth) {

			width: 100%;
			border-radius: 4px;
			border: 1px solid var(--light);

		}

	}

	&__btn {

		width: 160px;
		height: 52px;
		line-height: 52px;
		border-radius: 0 4px 4px 0;

		@media ($smWidth) {

			width: 100%;
			border-radius: 4px;
			margin-top: var(--borderPage);

		}

	}

}