.table-scroll {

	@media ($mdWidth) {

		overflow-x: auto;
		padding-bottom: 10px;

	}

}

.table-param {

	border: 1px solid var(--border);

	&__title {

		text-align: left;
		margin: 10px;
		font-size: 24px;
		font-weight: normal;
		color: #272727;

		@media ($mdWidth) {

			font-size: 22px;

		}

		@media ($smWidth) {

			font-size: 20px;

		}

	}

	thead {

		th {

			text-transform: uppercase;
			font-weight: 500;
			font-size: 16px;
			background-color: #fff;

		}

		td {

			text-align: center;
			font-weight: 600;
			background-color: #fff;

		}

	}

	td, th {

		text-align: left;
		vertical-align: top;
		padding: 5px 10px;
		border: 1px solid var(--border);

	}

	tbody {

		td {

			text-align: center;
			background-color: #eee;

		}

		th {

			font-weight: 500;
			background-color: #eee;

		}

		tr:nth-child(2n) {

			td, th {

				background-color: color(#eee a(20%));

			}

		}

		tr:not([class]):hover {

			outline:1px solid var(--color);

		}

	}

	&__head {

		th {

			text-transform: uppercase;
			font-weight: 400;
			font-size: 16px;
			padding-top: 10px;
			background-color: #fff !important;

		}

		td {

			font-weight: 400;
			font-size: 16px;
			padding-top: 20px;
			background-color: #fff !important;

		}

	}

}

.tabs-column {

	column-count: 2;

	@media ($mdWidth) {

		column-count: auto;

	}

	&__item {

		page-break-inside: avoid;
		margin-bottom: 20px;

	}

}