.tabs {

	margin: 60px 0;
	position: relative;

	&__nav {

		display: flex;
		position: absolute;
		left: 20px;
		bottom: 100%;

		@media ($smWidth) {

			left: 10px;

		}

		&-btn {

			padding: 10px 20px 12px;
			position: relative;
			border: 1px solid transparent;
			border-bottom: 0;

			@media ($smWidth) {

				padding: 10px;

			}

			@media ($xsWidth) {

				padding: 8px;

			}

			&--active {

				border-color: #fff;
				border-radius: 5px 5px 0 0;
				box-shadow: 1px 0 1px rgba(0, 0, 0, 0.12), 1px 1px 1px rgba(0, 0, 0, 0.12) inset;

				&::after {

					position: absolute;
					left: 19px;
					right: 19px;
					bottom: 10px;
					content: '';
					height: 1px;
					background-color: var(--color);

					@media ($smWidth) {

						display: none;

					}

				}

				.pattern {

					position: absolute;
					left: 1px;
					right: 0;
					bottom: -5px;
					height: 10px;

				}

			}

		}

	}

	&__item {

		display: none;

		&--active {

			display: block;

		}

	}

}