.tags {

	display: flex;
	justify-content: center;
	flex-wrap: wrap;

	&__item {

		margin: 5px;

	}

	a {

		display: block;
		padding: 0 15px;
		font-size: 13px;
		line-height: 30px;
		white-space: nowrap;
		border-radius: 15px;
		background-color: #fff;

		&:hover {

			background-color: #e4e7e8;

		}

	}

}