
details {

	width: 24px;
	height: 24px;
	display: inline-block;
	position: relative;
	vertical-align: middle;

	summary {

		width: 24px;
		height: 24px;
		display: block;
		cursor: pointer;
		overflow: hidden;
		color: transparent;

		&::-webkit-details-marker {

			display: none;

		}

		&::marker {

			display: none;

		}

		&:focus {

			outline: none;

		}

		svg {

			position: absolute;
			top: 0;
			left: 0;
			width: 24px;
			height: 24px;
			fill: var(--light);

		}

	}

	& > div {

		width: 360px;
		color: var(--light);
		padding: 14px 12px;
		position: absolute;
		font-weight: 400;
		left: -24px;
		margin-bottom: 12px;
		font-size: 14px;
		bottom: 100%;
		line-height: 16px;
		background-color: #fff;
		border-radius: 5px;
		box-shadow: 0 0 4px color(var(--color) a(50%)));

	}

	&::after,
	&::before {

		position: absolute;
		width: 14px;
		height: 14px;
		left: 5px;
		content: '';
		margin-bottom: 7px;
		bottom: 100%;
		background-color: #fff;
		transform: rotate(45deg);
		pointer-events: none;
		opacity: 0;
		box-shadow: 0 0 4px color(var(--color) a(50%)));

	}

	&::after {

		box-shadow: none;

	}

	&[open] {

		z-index: 5;

		&::after,
		&::before {

			opacity: 1;
			animation: opacity .2s;

		}

	}

	&[open] & > div {

		animation: opacity .2s;

	}

}

.details-icon {

	width: 36px;
	height: 36px;
	display: block;

	summary {

		svg {

			fill: #fff;
			width: 36px;
			height: 36px;

		}

	}

}

@keyframes opacity {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}