
details {

	width: 24px;
	height: 24px;
	display: inline-block;
	position: relative;
	vertical-align: middle;

	summary {

		width: 24px;
		height: 24px;
		display: block;
		cursor: pointer;
		overflow: hidden;
		color: transparent;

		&::-webkit-details-marker {

			display: none;

		}

		&::marker {

			display: none;

		}

		&:focus {

			outline: none;

		}

		svg {

			position: absolute;
			top: 0;
			left: 0;
			width: 24px;
			height: 24px;
			fill: var(--light);

		}

	}

	& > div {

		width: 360px;
		color: var(--light);
		padding: 14px 12px;
		position: absolute;
		font-weight: 400;
		left: -24px;
		margin-bottom: 12px;
		font-size: 14px;
		bottom: 100%;
		line-height: 16px;
		background-color: #fff;
		border-radius: 5px;
		box-shadow: 0 0 4px color(var(--color) a(50%)));

	}

	&::after,
	&::before {

		position: absolute;
		width: 14px;
		height: 14px;
		left: 5px;
		content: '';
		margin-bottom: 7px;
		bottom: 100%;
		background-color: #fff;
		transform: rotate(45deg);
		pointer-events: none;
		opacity: 0;
		box-shadow: 0 0 4px color(var(--color) a(50%)));

	}

	&::after {

		box-shadow: none;

	}

	&[open] {

		z-index: 5;

		&::after,
		&::before {

			opacity: 1;
			animation: opacity .2s;

		}

	}

	&[open] & > div {

		animation: opacity .2s;

	}

}

.details-icon {

	width: 36px;
	height: 36px;
	display: block;
	border-radius: 5px;
	background-color: #fff;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='36' viewBox='0 0 36 36'%3E%3Cpath fill='%237B7C7F' d='M0 5.25C0 2.35 2.35 0 5.25 0H12a.75.75 0 0 1 0 1.5H5.25A3.75 3.75 0 0 0 1.5 5.25v25.5a3.75 3.75 0 0 0 3.75 3.75h25.5a3.75 3.75 0 0 0 3.75-3.75V5.25a3.75 3.75 0 0 0-3.75-3.75h-6a.75.75 0 0 1 0-1.5h6C33.65 0 36 2.35 36 5.25v25.5c0 2.9-2.35 5.25-5.25 5.25H5.25A5.25 5.25 0 0 1 0 30.75V5.25Z'/%3E%3C/svg%3E");

	summary {

		svg {

			fill: #333;
			width: 36px;
			height: 36px;

			[stroke-width] {

				stroke: #333;

			}

		}

	}

}

@keyframes opacity {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}