:root {

	--color: #393939;

	--red: #d50427;

	--border: #dedede;

	--light: #7e7e7e;

	--error: #dc1e38;

	--bg: #f8f8f8;

}

$desktop: (min-width: 1000px);
$lgWidth: (max-width: 1200px);
$mdWidth: (max-width: 999px);
$smWidth: (max-width: 767px);
$xsWidth: (max-width: 359px);

.color-red {

	color: var(--red);

}