:root {

	--color: #393939;

	--red: #dc1e38;

	--border: #dedede;

	--error: #dc1e38;

}

$desktop: (min-width: 1000px);
$mdWidth: (max-width: 999px);
$smWidth: (max-width: 767px);
$xsWidth: (max-width: 359px);