{% set title = "Публичная оферта" %}
{% set description = "ASKO | Официальный партнер компании ASKO в России." %}

{% set urlCurrent = "oferta" %}

{% extends "template/base.html" %}

{% block content %}

	<article class="rules-page flexcolumn center">

		<div class="mobile-padding">

			<header>

				<h1 class="h1">
					{{ title }}
				</h1>

				<p>
					интернет-магазина BWT для физических лиц
				</p>

				<time datetime="2020-10-20">
					(редакция от «20» октября 2020 г.)
				</time>

			</header>

			<h2>
				Термины и определения
			</h2>

			<ol>

				<li>

					Используемые ниже термины следует трактовать согласно настоящему разделу. При отсутствии соответствующего термина с определением в настоящем разделе термины трактуются согласно законодательству РФ.

					<ol>

						<li>
							<b>Продавец</b> – ООО «БВТ»;
						</li>

						<li>
							<b>Сайт</b> – интернет-сайт доступный по адресу: https://bwt.ru/, включая поддомены, а также программное обеспечение, представленное на интернет-сайте;
						</li>

						<li>
							<b>Посетитель</b> – лицо, просматривающее Сайт без цели регистрации и (или) Заказа;
						</li>

						<li>
							<b>Пользователь</b> – посетитель Сайта, завершивший процедуру регистрации на Сайте и принявший условия Оферты;
						</li>

						<li>
							<b>Покупатель</b> – Пользователь, который оформил Заказ;
						</li>

						<li>
							<b>Товар</b> – товары и услуги, представленные в каталоге на Сайте;
						</li>

						<li>
							<b>Заказ</b> – сформированный на Сайте Покупателем запрос на покупку Товаров для личных, семейных, домашних и иных нужд, не связанных с осуществлением предпринимательской деятельности, содержащий количество, ассортимент и комплектность Товара.
						</li>

					</ol>

				</li>

			</ol>


			<h2>
				Общие положения. Предмет публичной оферты
			</h2>

			<ol>

				<li>
					Продавец предлагает сделать Заказ на изложенных ниже условиях. Условия являются публичной офертой в соответствии со статьями 437, 497 Гражданского кодекса Российской Федерации (далее — «Оферта»). Предложение распространяется на все виды Товара, пока Товар с описанием присутствует на Сайте.
				</li>

			</ol>

			<h2>
				Акцепт оферты. Изменение оферты
			</h2>

			<ol>

				<li>
					Акцепт Оферты (заключение договора розничной купли-продажи и(или) договора оказания услуг) (далее – «Договор») происходит в момент оформления Заказа на сайте по телефону.Делая заказ, Покупатель безоговорочно принимает все условия, содержащиеся в оферте в целом (т.е. в полном объеме и без исключений).
				</li>

				<li>
					Договор считается заключенным с момента предоставления Покупателю кассового или товарного чека, либо иного документа, подтверждающего оплату Товара.
				</li>

				<li>
					Покупатель соглашается с тем, что Продавец может поручить исполнение Договора третьим лицам, но при этом Продавец самостоятельно несет ответственность за исполнение Договора. Все права и обязательства перед Покупателем по Договору возникают непосредственно у Продавца.
				</li>

				<li>
					Продавец может в любой момент изменить условия Оферты в одностороннем порядке без предварительного уведомления. Новая редакция Оферты действительна с момента ее опубликования на Сайте.
				</li>

			</ol>

			<h2>
				Условия о товаре. Порядок оформления заказа
			</h2>

			<ol>

				<li>
					Чтобы оформить Заказ Покупатель добавляет Товар «В корзину» на Сайте, заполняет форму (ФИО, телефон, e-mail, адрес доставки, способ доставки) и нажимает на кнопку «Подтвердить заказ». После чего Заказ считается оформленным. Продавец не редактирует информацию о Покупателе.
				</li>

				<li>
					После оформления Заказа на Сайте, Покупателю направляется автоматическое электронное сообщение по адресу электронной почты, указанному Покупателем при оформлении Заказа.
				</li>

				<li>
					При необходимости Продавец, уточняет детали Заказа, согласовывает дату доставки Заказа по электронной почте и (или) телефону. Дата доставки зависит от наличия Товара на складе Продавца и времени, необходимого для обработки и доставки Заказа.
				</li>

				<li>
					Ожидаемая дата доставки Заказа сообщается Покупателю по электронной почте или при контрольном звонке Покупателю. Дата передачи Товара может быть изменена Продавцом в одностороннем порядке в случае наличия непредвиденных обстоятельств, произошедших не по вине Продавца.
				</li>

				<li>
					Покупатель несет ответственность за предоставление неверных сведений, повлекшее за собой невозможность надлежащего исполнения Продавцом своих обязательств перед Покупателем.
				</li>

				<li>
					Фотографии, сопровождающие Товар, являются простыми иллюстрациями к Товару и могут отличаться от фактического внешнего вида Товара. Описания и(или) характеристики Товара не претендуют на исчерпывающую информативность и могут содержать опечатки. Для уточнения информации о Товаре Покупатель может обратиться к Продавцу доступными на Сайте способами. Фотографии являются собственностью Продавца.
				</li>

				<li>
					По просьбе Покупателя продавец обязан предоставить (по телефону или посредством электронной почты) прочую информацию, необходимую и достаточную, с точки зрения Покупателя, для принятия им решения о покупке товара.
				</li>

				<li>
					Если Товар отсутствует в наличии, продавец информируем Покупателя о сроках его поставки.
				</li>

				<li>
					При отсутствии заказанного Покупателем Товара на складе Продавца, последний вправе исключить Товар из Заказа или аннулировать Заказ Покупателя. В таком случае Продавец уведомляет Покупателя электронным письмом по адресу, указанному Покупателем при регистрации либо звонком по телефону.
				</li>

				<li>
					В случае аннулирования полностью либо частично предоплаченного Заказа стоимость аннулированного Товара возвращается Покупателю способом, которым Товар был оплачен.
				</li>

			</ol>

			<h2>
				Порядок доставки товара. Территория доставки товара. Самовывоз
			</h2>

			<ol>

				<li>
					Способы, стоимость и ориентировочные сроки доставки Товара, реализуемого Продавцом, указаны на Сайте в разделе «Доставка». Конкретные сроки доставки могут быть дополнительно согласованы сторонами при подтверждении Заказа.
				</li>

				<li>
					Территория доставки Товаров, представленных на Сайте и реализуемых Продавцом, ограничена пределами Российской Федерации. Доставка за пределы Российской Федерации возможна в индивидуальном порядке по договоренности с Продавцом.
				</li>

				<li>
					Стоимость доставки за пределы Российской Федерации зависит от тарифов курьерских служб и веса Заказа, сообщается Покупателю индивидуально и осуществляется только в случае полной предоплаты Заказа.
				</li>

				<li>
					Товар вручается Покупателю либо третьему лицу, указанному в Заказе в качестве получателя (далее - «Получатель»). При невозможности получения Заказа, оплаченного посредством наличного расчета, Получателем, Заказ может быть вручен третьим лицам, которые предоставят сведения о Заказе (номер отправления и/или ФИО Получателя), а также могут оплатить стоимость Заказа в полном объеме лицу, осуществляющему доставку Заказа.
				</li>

				<li>
					Во избежание случаев мошенничества, а также для выполнения взятых на себя обязательств, при вручении предоплаченного Заказа лицо, осуществляющее доставку Заказа, вправе затребовать документ, удостоверяющий личность Получателя, а также указать тип и номер предоставленного Получателем документа на квитанции к Заказу. Продавец гарантирует конфиденциальность и защиту персональных данных Получателя.
				</li>

				<li>
					Риск случайной гибели или случайного повреждения Товара переходит к Покупателю с момента передачи ему Заказа и проставления Получателем Заказа подписи в документах, подтверждающих доставку Заказа. В случае недоставки Заказа Продавец возмещает Покупателю стоимость предоплаченного Покупателем Заказа и доставки в полном объеме после получения от службы доставки подтверждения утраты Заказа.
				</li>

				<li>
					Обязанность Продавца передать Товар Покупателю считается исполненной в момент вручения Товара Покупателю/Получателю или после подтверждения получения Товара Получателем в заранее оговоренном месте выдачи Заказа (в том числе в пункте самовывоза).
				</li>

				<li>
					При принятии Товара от курьера Получатель обязан осмотреть Товар и проверить его на соответствие Заказу, проверить целостность упаковки. В случае отсутствия претензий к доставленному Товару Получатель расписывается в «Бланке доставки заказов» либо ином аналогичном документе, предоставляемом курьером, и оплачивает Заказ (в случае отсутствия полной предоплаты). Подпись в сопроводительных документах свидетельствует о том, что претензий к Товару не заявлено, Продавец полностью и надлежащим образом выполнил свою обязанность по передаче Товара.
				</li>

				<li>
					Время нахождения курьеров, доставляющих товар, реализуемый Продавцом, по адресу Получателя ограничено 15 минутами.
				</li>

				<li>
					Уточнить дату, время и при необходимости маршрут доставки, можно у Продавца.
				</li>

				<li>
					Осуществление доставки – это отдельная услуга, не являющаяся неотъемлемой частью Товара, выполнение которой заканчивается в момент получения Получателем Товара.
				</li>

				<li>
					Претензии к качеству приобретенного Товара, возникшие после получения и оплаты Товара, рассматриваются в соответствии с Законом РФ «О защите прав потребителей».
				</li>

				<li>
					Покупатель имеет право забрать товар из магазина Продавца самостоятельно. Покупателю при оформлении заказа предоставляется право выбора способа доставки.
				</li>

			</ol>

			<h2>
				Оплата товара
			</h2>

			<ol>

				<li>
					Цена Товара указывается на Сайте в рублях Российской Федерации. Расчеты Сторон при оплате заказа осуществляются в рублях Российской Федерации.
				</li>

				<li>
					При неверном указании цены Товара на Сайте, Продавец информирует об этом Покупателя для подтверждения Заказа по исправленной цене либо аннулирования Заказа. При невозможности связаться с Покупателем данный Заказ считается аннулированным. Если оплаченный Заказ был аннулирован, то Продавец вернет Покупателю оплаченную сумму тем же способом, которым она была уплачена.
				</li>

				<li>
					Цена Товара на Сайте может быть изменена Продавцом в одностороннем порядке. При этом цена на заказанный Покупателем Товар изменению не подлежит.
				</li>

				<li>

					Покупатель может выбрать способ оплаты Товара:

					<ul>

						<li>
							оплата Товара через сайт, в этом случае обязанность Покупателя по уплате цены товара считается исполненной с момента списания денежных средств в пользу Продавца.
						</li>

						<li>
							оплата Товара при самовывозе из магазина Продавца, в этом случае, обязанность Покупателяпо уплате цены товара считается исполненной с момента оплаты стоимости товара через кассу магазина.
						</li>

					</ul>

				</li>

			</ol>

			<h2>
				Особенности оплаты с помощью банковских карт
			</h2>

			<ol>

				<li>
					В соответствии с положением ЦБ РФ «Об эмиссии банковских карт и об операциях, совершаемых с использованием платежных карт» от 24.12.2004 No 266-П операции по банковским картам совершаются держателем карты либо уполномоченным им лицом.
				</li>

				<li>
					Авторизация операций по банковским картам осуществляется банком. Если у банка есть основания полагать, что операция носит мошеннический характер, то банк вправе отказать в осуществлении данной операции.
				</li>

				<li>
					Чтобы избежать неправомерного использования банковских карт при оплате Товара, Продавец проверяет Заказы, предоплаченные банковской картой. В целях проверки личности владельца и его правомочности на использование карты Продавец вправе потребовать от Покупателя предъявления документа, удостоверяющего личность.
				</li>

				<li>
					Продавец вправе предоставлять скидки на Товар и устанавливать программу бонусов. Виды скидок, бонусов, порядок и условия начисления определяются Продавцом и указываются на Сайте. Покупатель уведомлен о том, что приобретая товар со скидкой, установленной в связи с его, недостатками (дефектами), он лишается права ссылаться на них в дальнейшем.
				</li>

			</ol>

			<h2>
				Возврат товара
			</h2>

			<ol>

				<li>
					Возврат Товара осуществляется в соответствии с законодательством Российской Федерации.
				</li>

				<li>
					Возврат и обмен Товара НАДЛЕЖАЩЕГО качества либо Универсального товара, производимый по желанию Покупателя в связи с не устраивающими его свойствами (цвет, дизайн, фактура и т.п.), не относящегося к Товару, не подлежащему обмену или возврату или имеющему индивидуально-определенные свойства, производится в срок установленный Законом РФ «О защите прав потребителей», по письменному заявлению Покупателя, после осмотра техническим специалистом, без следов установки, в оригинальной упаковке, с сохранением всех заводских эмблем и ярлыков. Возврат такого Товара осуществляется за счет Покупателя. Возврат и обмен возможен в случае, если сохранены его товарный вид, потребительские свойства, а также документ, подтверждающий факт и условия покупки указанного Товара.
				</li>

				<li>
					Возврат и обмен товара НЕ НАДЛЕЖАЩЕГО качества производится в течение гарантийного срока по письменному заявлению Покупателя, после проведения экспертизы на предмет установления причин выхода из строя или выявленных недостатков. Срок на проведение экспертизы устанавливается в 30 календарных дней.
				</li>

				<li>
					Срок возврата денежных средств составляет 3 (три) дня с момента возврата Товара (в случае возврата Товара надлежащего качества), либо с момента заключения экспертизы о признании товара некачественным или дефектным не по вине Покупателя. Возврат денежных средств производится тем же способом, которым денежные средства были получены Продавцом от Покупателя.
				</li>

				<li>
					Товар надлежащего качества, бывший в употреблении к возврату не принимается и не обменивается.
				</li>

			</ol>

			<h2>
				Ответственность
			</h2>

			<ol>

				<li>
					Продавец не несет ответственности за ущерб, причиненный Покупателю вследствие ненадлежащего использования Товаров, приобретенных на Сайте.
				</li>

			</ol>

			<h2>
				Конфиденциальность и защита персональных данных
			</h2>

			<ol>

				<li>
					Продавец обрабатывает персональные данные согласно Федеральному закону No 152-ФЗ «О персональных данных».
				<li>
					Подробнее о том, какую информацию Продавец собирает, о порядке обработки, порядке защиты информации Продавцом подробно указано в политике в отношении обработки персональных данных (Политике конфиденциальности).
				<li>
					Политика конфиденциальности размещается в неограниченном доступе в футере Сайта и доступна на Сайте по адресу: https://shop.bwt.ru.
				<li>

					Совершая акцепт Оферты, в порядке указанном в разделе 3 Оферты, Покупатель дает свое согласие:

					<ol>

						<li>
							на обработку персональных данных в целях продвижения товаров, работ, услуг на рынке путем осуществления прямых контактов с потенциальным потребителем с помощью средств связи, согласно статье 15 Федерального закона от 27.07.2006 No 152-ФЗ «О персональных данных».
						</li>

						<li>
							на получение информационных и (или) рекламных сообщений посредством СМС-рассылки от Продавца, касающейся товаров и услуг Продавца, в соответствии с ч. 1 ст. 18 Федерального закона от 13.03.2006 No 38-ФЗ "О рекламе", п. 1 ст. 44.1 Федерального закона от 07.07.2003 No 126-ФЗ "О связи", п. 15 Постановления Пленума Высшего арбитражного суда Российской Федерации от 08.10.2012 No 58 "О некоторых вопросах практики применения арбитражными судами Федерального закона "О рекламе".
						</li>

					</ol>

					Акцепт Оферты является подтверждением факта получения Продавцом согласия.

				</li>

				<li>
					Продавец не несет ответственности за сведения, предоставленные Пользователем на Сайте в общедоступной форме.
				</li>

				<li>
					В целях улучшения качества обслуживания Продавец может осуществлять запись телефонных разговоров. Продавец предотвращает попытки несанкционированного доступа к информации, полученной в ходе телефонных переговоров, и не передает такую информацию третьим лицам, не имеющим непосредственного отношения к Продавцу.
				</li>

				<li>
					В целях доставки Товара Покупателю, Покупатель при оформлении Заказа с условием о доставке Товара, дает свое согласие на передачу Продавцом персональных данных Покупателя транспортной компании, осуществляющей доставку Товара.
				</li>

				<li>

					Не является нарушением со стороны Продавца трансграничная передача Продавцом в адрес концерна BWT ( BWT AG, Австрия ) и юридических лиц, в которых концерн обладает участием в уставном капитале, общедоступной информации о Покупателе , а также следующей информации:

					<ul>

						<li>
							контактных данных Покупателя,
						</li>

						<li>
							сведений, содержащихся в настоящем договоре, приложениях и дополнительных соглашениях к нему;
						</li>

						<li>
							информации о перспективах делового сотрудничества с Покупателем,
						</li>

						Продавец заверяет, что указанная информация передается исключительно в целях развития деловых партнерских отношений, продвижения товаров и услуг, а получающие её лица приняли на себя обязательство по соблюдению режима конфиденциальности в отношении такой информации.

					</ul>

				</li>

			</ol>

			<h2>
				Заключительные положения
			</h2>

			<ol>

				<li>
					Продавец вправе переуступать либо каким-либо иным способом передавать свои права и обязанности, вытекающие из его отношений с Покупателем, третьим лицам.
				</li>

				<li>
					Сайт и предоставляемые сервисы могут быть временно (частично или полностью) недоступны по причине проведения профилактических или иных работ, или по любым другим причинам технического характера.
				</li>

				<li>
					В случае возникновения вопросов и претензий необходимо обратиться к Продавцу по телефону или иным доступным способом. Все возникающее споры разрешаются путем переговоров, а при недостижении соглашения спор рассматривается в суде согласно законодательству РФ.
				</li>

				<li>
					Признание судом недействительности какого-либо положения Оферты не влечет за собой недействительность остальных положений.
				</li>

				<li>
					Продавец оставляет за собой право расширять и сокращать товарное предложение на сайте, регулировать доступ к покупке любых товаров, а также приостанавливать или прекращать продажу любых товаров по своему собственному усмотрению.
				</li>

			</ol>

			<h2>
				Реквизиты продавца
			</h2>

			<table>

				<tbody>

					<tr>

						<th>
							Наименование:
						</th>

						<td>
							ООО «БВТ»
						</td>

					</tr>

					<tr>

						<th>
							Юридический адрес:
						</th>

						<td>
							117246, Москва, Научный проезд, дом 19, этаж 2 ком. 6д оф. 272
						</td>

					</tr>

					<tr>

						<th>
							ИНН:
						</th>

						<td>
							7716616731
						</td>

					</tr>

					<tr>

						<th>
							р/с:
						</th>

						<td>
							40702810700013223628
						</td>

					</tr>

					<tr>

						<th>
							Банк:
						</th>

						<td>
							АО ЮниКредит Банк, г. Москва
						</td>

					</tr>

					<tr>

						<th>
							к/с:
						</th>

						<td>
							30101810300000000545
						</td>

					</tr>

					<tr>

						<th>
							БИК:
						</th>

						<td>
							04452554
						</td>

					</tr>

				</tbody>

			</table>

		</div>

	</article>

{% endblock %}