{% set title = "Варочная стеклокерамическая панель HiLight Asko HC1643G" %}
{% set description = "Комбинированный духовой шкаф Asko OCSM8487A 5-в-1. Серия ASKO Craft. 143 автоматических программ и 20 режимов нагрева. Цветной TFT дисплей. Цельная фасадная рама для уникального монтажа. Уникальный режим - Сувид." %}

{% set urlCurrent = "product" %}
{% set ogType = "product" %}
{% set ogImage = "img/product/img@1x.png" %}

{% extends "template/base.html" %}

{% block content %}

	<article class="flexcolumn product center mb20">

{% include "catalog/product/schema.html" %}

		<div class="order-2">

			<h1 class="product__title h2">
				{{ title }}
			</h1>

			<div class="product__primary">

{% include "catalog/product/not/desc.html" %}

{% include "catalog/product/img.html" %}

			</div>

		</div>

		<div class="order-3">

			<div class="tabs border">

{% include "catalog/product/tab1.html" %}
{% include "catalog/product/tab2.html" %}
{% include "catalog/product/tab3.html" %}
{% include "catalog/product/tab4.html" %}

			</div>

			<p class="achtung">
				Вся представленная на сайте информация, касающаяся характеристик продуктов, наличия на складе, стоимости товаров, носит информационный характер и не является публичной офертой, определяемой положениями Статьи 437(2) Гражданского кодекса РФ.
			</p>

			<hr class="product__hr">

		</div>

		<div class="order-1">

{% set breadcrumbs = ['ASKO','Техника для кухни','Варочные панели','Газовые панели',title] %}

{% include "_include/breadcrumbs.html" %}

		</div>

		<div class="order-10">

			<div class="product__back-catalog">

				Вернуться к разделу &laquo; <a href="/" class="link">Газовые панели</a>

			</div>

		</div>

		<section class="order-4 related" id="related">

			<h2 class="related__title h2">
				Похожие товары
			</h2>

{% include "catalog/catalog-item.html" %}
{% set unavailable = "под заказ от 2-х дней" %}
{% include "catalog/catalog-item.html" %}
{% set unavailable = "Нет в наличии" %}
{% include "catalog/catalog-item.html" %}

		</section>

	</article>

{% endblock %}